@import '../../../../../../../cloe-ng-core/src/styles/variables';
cloe-chart-legend {
  .chart-legend {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 0;
  }

  .chart-legend__icon {
    padding-right: 5px;
  }

  .toggleActive {
    color: $primary-color;
  }

  .sites-tooltip {
    white-space: nowrap;
    .tooltip-inner {
      max-width: none !important;
      width: 100% !important;
    }
  }
}
