<div class="chart-legend" [ngStyle]="{color: graph.lineColorR}" *ngIf="graph.visibleInLegend">
  <i class="chart-legend__icon fa {{getGraphIcon()}}"></i>
  <span
    *ngIf="!graph.isRange; else noTooltipTitle"
    [placement]="'top-left'"
    [ngbTooltip]="tipContent"
    [tooltipClass]="'sites-tooltip'">
    {{graph.title}}
  </span>
  <ng-template #noTooltipTitle>
    <span *ngIf="graph.isRange">{{graph.title}}</span>
  </ng-template>
  <ng-template #tipContent>
    <div class="text-left">
      {{graph.channelPath}}
    </div>
  </ng-template>
  <div *ngIf="!graph.isRange" ngbDropdown class="dropdown-no-toggle" placement="right-bottom">
    <i class="material-icons" ngbDropdownToggle>keyboard_arrow_down</i>
    <div ngbDropdownMenu>
      <button
        class="dropdown-item"
        [ngClass]="{toggleActive: action.toggleActive}"
        [disabled]="action.disabled"
        *ngFor="let action of graphActions"
        (click)="handleAction(action)"
      >
        <i class="chart-legend__icon fa {{action.icon}}"></i>
        {{action.label | translate}}
      </button>
    </div>
  </div>
</div>


