<div class="chart-actions" *ngIf="treeActions.length > 0">
  <i class="chart-actions__icon fa fa-cogs"></i>
  <span>{{ 'page.channel-site-tree.sites-tree-actions.actions' | translate }}</span>
  <div ngbDropdown class="dropdown-no-toggle" placement="right-top">
    <i class="material-icons" ngbDropdownToggle>keyboard_arrow_down</i>
    <div ngbDropdownMenu>
      <button
        class="dropdown-item"
        [disabled]="action.disabled"
        [ngClass]="{toggleActive: action.toggleActive}"
        *ngFor="let action of treeActions"
        (click)="handleAction(action)">
        <i class="chart-legend__icon fa {{action.icon}}"></i>
        {{action.label | translate}}
      </button>
    </div>
  </div>
</div>
