@import "../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-sites-channels-tree-actions {
  .chart-actions {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: bold;
  }

  .chart-actions__icon {
    padding-right: 5px;
  }

  .toggleActive {
    color: $primary-color;
  }

  .dropdown-item {
    cursor: pointer;
  }
}
