@import "../../../../styles/variables";

cloe-core-domain-picker {
  .progress-bar, .progress-bar:before {
    display: none !important;
  }
  .ng2-tag-input {
    padding: 0 !important;
    border-bottom: 0 !important;
  }
  .ng2-tag-input.ng2-tag-input--focused {
    border-bottom: 0 !important;
  }
}
