<div
  class="d-flex flex-column form-group"
  *ngIf="config.itemAsObject && config.itemAsObject.autocompleteItems">
  <label for="autocomplete-domain-picker">{{ config.labelSearch | translate}}</label>
  <tag-input [(ngModel)]="value"
             class="form-control"
             [placeholder]=" config.placeholder | translate"
             [validators]="config.validators ? config.validators : []"
             [secondaryPlaceholder]=" config.secondaryPlaceholder | translate"
             (onAdd)="onItemsChange()" (onRemove)="onItemsChange()"
             id="autocomplete-domain-picker"
             [addOnBlur]="true"
             [identifyBy]="config.itemAsObject.identifyBy"
             [displayBy]="config.itemAsObject.displayBy"
             [maxItems]="config.maxItems">
    <tag-input-dropdown [showDropdownIfEmpty]="true"
                        [identifyBy]="config.itemAsObject.identifyBy"
                        [displayBy]="config.itemAsObject.displayBy"
                        [autocompleteObservable]="requestAutocompleteItems">
      <ng-template let-item="item" let-index="index">
        {{ index }}: {{ item[config.itemAsObject.displayBy] }}
      </ng-template>
    </tag-input-dropdown>
  </tag-input>
</div>
<div
  class="d-flex flex-column form-group"
  *ngIf="(config.itemAsObject && !config.itemAsObject.autocompleteItems)">
  <label for="domain-picker">{{ config.labelSearch | translate}}</label>
  <tag-input [(ngModel)]="value"
             [separatorKeys]="config.separatorKeys ? config.separatorKeys : []"
             class="form-control"
             [addOnBlur]="true"
             [validators]="config.validators ? config.validators : []"
             [errorMessages]="config.validationErrorMessages ? config.validationErrorMessages : {}"
             [placeholder]=" config.placeholder | translate"
             [secondaryPlaceholder]=" config.secondaryPlaceholder | translate"
             (onAdd)="onItemsChange()" (onRemove)="onItemsChange()"
             id="domain-picker"
             [identifyBy]="config.itemAsObject.identifyBy"
             [displayBy]="config.itemAsObject.displayBy"
             [maxItems]="config.maxItems">
  </tag-input>
</div>

<div
  class="d-flex flex-column form-group"
  *ngIf="(!config.itemAsObject)">
  <label for="domain-picker-strings">{{ config.labelSearch | translate}}</label>
  <tag-input [ngModel]="value"
             [separatorKeys]="config.separatorKeys ? config.separatorKeys : []"
             class="form-control"
             [addOnBlur]="true"
             [validators]="config.validators ? config.validators : []"
             [errorMessages]="config.validationErrorMessages ? config.validationErrorMessages : {}"
             [placeholder]=" config.placeholder | translate"
             [secondaryPlaceholder]=" config.secondaryPlaceholder | translate"
             (onAdd)="addString($event)" (onRemove)="removeString($event)"
             id="domain-picker-strings"
             [maxItems]="config.maxItems">
  </tag-input>
</div>
