/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
$simple-line-font-path : "~simple-line-icons/fonts/";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'typography';
@import 'elevation';
@import 'components/dropdown';
@import 'components/card';
@import 'components/buttons';
@import 'components/forms';
@import 'components/icons';
@import 'components/inputs';
@import 'components/tabs';
@import 'components/gallery';
@import 'components/lists';
@import 'components/rating';
@import 'components/toggle';
@import 'components/table';
@import 'components/tooltip';
@import 'components/progress';
@import 'components/accordion';
@import 'components/modal';
@import 'utils/utils';
@import 'cloe/cloe-custom-classes';

@include all-utils()

html {
  height: 100%;
}
body {
  height: 100%;
}
//Angular router components
ui-view > * {
  display: block;
  min-height: 100%;
  position: relative;
}
