<div class="d-flex flex-wrap">
  <ng-container *ngFor="let graph of graphs">
    <cloe-chart-legend
      [graph]="graph"
      (actionClick)="onActionClick($event)"
    ></cloe-chart-legend>
  </ng-container>
</div>
