<cloe-core-tree-states *ngIf="stateConfig.dynamicState"
                       [treeRef]="tree"
                       [rootReferUuids]="treeInfo.rootReferUuids"
                       [activeNodes]="tree.treeModel.activeNodeIds"
                       (stateLoaded)="onMetadataStateChange($event)"></cloe-core-tree-states>

<div class="card-title d-flex justify-content-between align-items-center" *ngIf="treeInfo.treeTitle">
  <h5>{{treeInfo.treeTitle | translate}}</h5>
</div>

<div *ngIf="nodesConfig.areFoldersAddable">
  <label>{{'component.tree-upsert.addFolder' | translate}}</label>
  <div class="mb-3 d-flex align-items-center">
    <input #groupInput class="p-1" type="text">
    <cloe-core-button
      size="sm"
      buttonType="button"
      type="primary"
      text="global.add"
      (click)="addGroupToTree(groupInput)">
    </cloe-core-button>
  </div>
</div>

<cloe-core-tree-filter
  *ngIf="filtersConfig"
  [filterConf]="filtersConfig"
  (filterChange)="onFilterChange($event)">
</cloe-core-tree-filter>

<div class="tree-scrollbar">
  <tree-root
    [nodes]="nodes"
    [options]="treeOptions"
    (initialized)="onInitialized($event)"
    [(state)]="stateConfig.state"
    (nodeActivate)="onNodeActivate($event)"
    (nodeDeactivate)="onNodeDeactivate($event)"
    (moveNode)="onNodeMoved($event)"
    (updateData)="onUpdate($event)">

    <ng-template #treeNodeTemplate let-node let-index="index">
      <div [class]="styleConfig.statusColorPath ? 'status-' + getStatusColor(node.data) : '' + 'd-flex align-items-center'"
           [ngClass]="{'root-node': node.data.nodeCategory === 'ROOT'}">
        <i class="material-icons" *ngIf="!styleConfig.iconsNotPresent">{{iconForNode(node.data)}}</i>
        <span class="pl-1">{{ getNodeName(node) | translate }}</span>
        <cloe-core-button
          *ngIf="isNodeRemovable(node)"
          size="small"
          customClass="p-0 m-0 button-small"
          buttonType="button"
          icon="close"
          (click)="checkForRemovalConfirm(node)"
        ></cloe-core-button>
      </div>
    </ng-template>
  </tree-root>
</div>
