@import "../../../../styles/variables";

cloe-core-tree {
  width: 100%;
  display: flex;
  flex-flow: column;
  height: 98%;

  .material-icons {
    font-size: 15px;
  }

  .divider {
    height: 10px;
  }

  .tree-scrollbar {
    flex: 1;
    height: 60vh;
    overflow: hidden;
  }

  .status-ACTIVE {
    color: green;
  }
  .status-DISABLE {
    color: red;
  }
  .status-CANCELLED{
    color: lightslategrey;
  }
  .node-content-wrapper {
    font-size: 0.75rem;
  }
  .node-content-wrapper-active {
    background: $body-bg !important;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 0.2rem;
  }
  .node-content-wrapper-focused {
    background: $body-bg !important;
    box-shadow: none;
  }
  .root-node {
    color: $primary-color;
  }
}
