<cloe-core-modal [modalTitle]="modalTitle">
  <form (ngSubmit)="onSubmit()" #diagnosisForm="ngForm" class="pt-4">
    <div class="d-flex mb-3 justify-content-center content">
      <div class="form-group">

        <label for="input-name">{{'global.name' | translate}}*</label>
        <input type="text" class="form-control" id="input-name" [(ngModel)]="diagnosisModel.name"
               name="name" required="required" #name="ngModel"
               [ngClass]="{ 'is-invalid': !(name.valid) }">
        <div [hidden]="name.valid" class="form-text invalid-feedback">
          <small>{{ 'validation.generic.required' | translate}}</small>
        </div>
      </div>
      <div class="form-group ml-3">
        <label for="input-file">{{'global.file' | translate}}*</label>
        <input #file="ngModel" type="file" class="form-control" id="input-file" accept=".xlsx, .xls, .xlsm, .sxls, .csv"
               name="file" ngModel="" required="required" (change)="handleFileInput($event.target.files)"
               [ngClass]="{ 'is-invalid': !(file.valid) }">
        <div [hidden]="file.valid" class="form-text invalid-feedback">
          <small>{{ 'validation.generic.required' | translate}}</small>
        </div>
      </div>
    </div>
    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button [text]="'global.cancel'"
                        (click)="modalRef.close(false)"
                        customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
      <cloe-core-button
        buttonType="submit"
        [disable]="!diagnosisForm.form.valid"
        text="{{'global.save' | translate}}"
        customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
    </div>
  </form>
</cloe-core-modal>
