cloe-page-new-diagnosis {
  .custom-file-label {
    padding: 0.32rem;
    height: auto;
  }
  .custom-file-label:after {
    padding: 0.32rem;
    height: auto;
  }
  #input-name {
    height: 33px !important;
  }
  .content {
    padding: 0 20%;
  }
}
