cloe-periods-compare {
  .divider {
    height: 10px;
  }

  .flex-item {
    flex: 1 0 50%;
    min-width: 305px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .period-card {
    flex: none;
    width: 50%;
  }

  .period-picker-dropdown {
    position: absolute;
    display: flex;
    align-items: center;
    right: 3.5rem;
    top: 1rem;
    z-index: 1000;

    .collapsed & {
      z-index: 1;
    }

    label {
      margin: 0 !important;
      padding-right: 0.5rem;
    }

    select {
      width: 160px;
    }
  }
}
