<div class="flex-item p-0">
  <cloe-core-box [customStyle]="{'border-radius': 0}">
    <i class="material-icons">info_outline</i>
    {{'page.period-compare.usage-info' | translate}}
  </cloe-core-box>
</div>

<cloe-core-box [isCollapsable]="true">
  <div class="d-flex flex-wrap">
    <div class="flex-item period-card">
      <cloe-core-box
        [expandable]="false"
        [customStyle]="{'max-height': '205px'}"
        [boxTitle]="'component.period-selector.choose-period'">
        <cloe-core-period-selector
          (periodSelected)="onPeriodSelected($event)"
          (clearSelected)="clearSelections()"
          [chartType]="chartType"
          [initialDates]="periodPickerConfig"
          [config]="initialPeriodConfig"
        ></cloe-core-period-selector>
      </cloe-core-box>
    </div>
    <div class="flex-item">
      <div class="form-group period-picker-dropdown">
        <label for="select-period">{{'global.refer-period' | translate}}:</label>
        <select class="form-control" [(ngModel)]="currentPeriodIndex" id="select-period" (ngModelChange)="refPeriodChange($event)">
          <option *ngFor="let period of selectedPeriods; index as i;" [value]="i">
            {{period.startDate | cloeDate}} - {{period.endDate | cloeDate}}
          </option>
        </select>
      </div>
      <cloe-core-box
        [expandable]="true"
        [customStyle]="{'max-height': '190px', 'background-color': '#ffffff' }"
        [boxTitle]="'global.summary'">
        <cloe-expendable-tables [config]="recapTableConfig"></cloe-expendable-tables>
      </cloe-core-box>
    </div>
  </div>
</cloe-core-box>

<div class="p-3">
  <cloe-core-tabs [tabs]="tabs"></cloe-core-tabs>
</div>
