<cloe-core-modal [modalTitle]="modalTitle">
  <ng-container *ngFor="let treeChart of treeCharts">
    <cloe-tree-chart [treeChart]="treeChart"></cloe-tree-chart>
    <div class="divider"></div>
  </ng-container>
</cloe-core-modal>
