<cloe-core-accordion [accordionTitle]="'component.table-filter.filters'">
  <div class="row">
    <div *ngFor="let filter of filterConf" class="col-md-4 col-sm-3" [ngSwitch]="filter.filterType">
      <ng-container *ngSwitchCase="filterEnum.TEXT">
        <ng-container *ngTemplateOutlet="filterText; context:{ $implicit: filter }"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="filterEnum.ISNULL">
        <ng-container *ngTemplateOutlet="filterIsNull; context:{ $implicit: filter }"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="filterEnum.DROPDOWN">
        <ng-container *ngTemplateOutlet="filterDropDown; context:{ $implicit: filter }"></ng-container>
      </ng-container>
    </div>
    <ng-template #filterText let-filterItem>
      <div class="form-group">
        <label for="input-txt-{{filterItem.filterField}}">{{filterItem.fieldLabel | translate}}</label>
        <input class="form-control" id="input-txt-{{filterItem.filterField}}" type="text"
               (change)="setFilter($event.target.value, filterItem.filterField)">
      </div>
    </ng-template>
    <ng-template #filterIsNull let-filterItem>
      <div class="form-group">
        <label for="select-isnull-{{filterItem.filterField}}">{{filterItem.fieldLabel | translate}}</label>
        <select
          id="select-isnull-{{filterItem.filterField}}"
          class="form-control"
          (change)="setFilter($event.target.value, filterItem.filterField)"
        >
          <option value=""></option>
          <option value="isNotNull">{{'component.table-filter.isNotNull' | translate }}</option>
          <option value="isNull">{{'component.table-filter.isNull' | translate }}</option>
        </select>
      </div>
    </ng-template>
    <ng-template #filterDropDown let-filterItem>
      <div class="form-group">
        <label for="select-dropDown-{{filterItem.filterField}}">{{filterItem.fieldLabel | translate}}</label>
        <select
          id="select-dropDown-{{filterItem.filterField}}"
          class="form-control"
          (change)="setFilter($event.target.value, filterItem.filterField)"
        >
          <option value=""></option>
          <option *ngFor="let item of filterItem.items" value={{item}}>
            {{(filterItem.i18nPrefix || '') + item | translate }}
          </option>
        </select>
      </div>
    </ng-template>
  </div>
  <div class="d-flex justify-content-end">
    <cloe-core-button text="global.filter" (click)="doFilter()" [size]="'sm'"></cloe-core-button>
  </div>
</cloe-core-accordion>
