cloe-core-table-filter {
  margin-bottom: 1em;

/*  .collapse, .collapse.show {
    display: block !important;
    transition: all .4s ease-in-out;
  }

  .collapse {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  .collapse.show {
    opacity: 1;
    height: 100%;
  }*/
}
