<div class="cloe-stock-chart-container">

  <div class="chart-container position-relative">
    <cloe-axis-action
      [toggleValue]="toggleStackableAxis['Y1']"
      [positionConfig]=" {positionClass: 'Y1'} ">
    </cloe-axis-action>
    <cloe-axis-action
      [toggleValue]="toggleStackableAxis['Y2']"
      [positionConfig]=" {positionClass: 'Y2'} ">
    </cloe-axis-action>
    <cloe-axis-action
      [toggleValue]="toggleStackableAxis['Y3']"
      [positionConfig]=" {positionClass: 'Y3', dropdownPosition: 'left-top'} ">
    </cloe-axis-action>
    <cloe-axis-action
      [toggleValue]="toggleStackableAxis['Y4']"
      [positionConfig]=" {positionClass: 'Y4', dropdownPosition: 'left-top'} ">
    </cloe-axis-action>
    <div id="cloe-stock-chart-container" [style.width.%]="100" [style.height.px]="500"></div>
    <div *ngIf="dragging" class="drop-area">
      <div id="Y1" class="axis" (treeDrop)="onDrop($event)"></div>
      <div id="Y2" class="axis" (treeDrop)="onDrop($event)"></div>
      <div id="no-drop-zone" class="no-drop-zone"></div>
      <div id="Y3" class="axis" (treeDrop)="onDrop($event)"></div>
      <div id="Y4" class="axis" (treeDrop)="onDrop($event)"></div>
    </div>
  </div>
  <cloe-chart-legend-container
    [graphs]="graphs"
  ></cloe-chart-legend-container>
</div>
