cloe-stock-chart {
  .drop-area {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 500px;
    z-index: 500;
    background: rgba(0, 0, 0, 0.2);
  }

  .no-drop-zone {
    flex: 1;
  }

  .axis {
    width: 50px;
    background: rgba(247, 250, 89, 0.2);
    border: 1px #f7fa59 solid;

    &.is-dragging-over {
      background: rgba(247, 250, 89, 0.6);
    }
  }

  #cloe-stock-chart-container {
    background: white;
  }
}
