<div class="row pb-3">
  <div class="col-md-3">
    <select class="form-control" (change)="onChangeClusterCategory($event.target.value)">
      <option *ngFor="let clusterCategory of clusterCategories" [value]="clusterCategory.uuid">
        {{clusterCategory.name}}
      </option>
    </select>
  </div>
</div>

<div class="cloe-title">{{'page.home.table.cluster-consumption-title' | translate : clusterCategoryName}}</div>

<cloe-core-table-static
  [data]="currentClusterConsumption"
  [tableConfig]="tableConfig"
  [tableTitleArgs]="tableTitleArgs"
></cloe-core-table-static>
