@import "../../../../styles/variables";
@import "~bootstrap/scss/mixins/text-truncate";

cloe-core-sofu-menu {
  display: block;
  .menu-scroll {
    height: 100%;
    & .ps-content > ul > li {
      &> a {
        border-bottom: 1px solid;
      }
      &.selected > a {
        border-bottom-width: 4px;
        font-weight: bold;
      }
      &.selected {
        li.selected > a {
          font-weight: bold;
        }
      }
    }
    ul {
      list-style-type: none;
      color: rgba($cloe-white, 0.87);
      padding: 0;
      li {
        a {
          position: relative;
          height: 40px;
          width: 100%;
          padding-left: 45px;
          padding-right: 20px;
          line-height: 40px;
          color: inherit;
          font-weight: normal;
          text-decoration: inherit;
          transition: all 0.1s ease;
          &:hover {
            transform: scale(1.1);
            color: $cloe-white;
            font-weight: bold;
            i {
              color: $cloe-white;
            }
          }
          i {
            font-size: 20px;
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: rgba($cloe-white, 0.54);
          }
          span {
            width: 100%;
            display: inline-block;
            @include text-truncate();
          }
          div {
            min-width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: #000000;
            text-align: center;
            font-size: 10px;
            line-height: 20px;
            color: #19c9b4;
            transition: all 0.3s ease;
          }
        }
        li {
          a {
            padding-left: 55px;
          }
          li {
            a {
              padding-left: 65px;
            }
          }
        }
        > ul {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.35s ease-out;
          li {
            transform: scale(0);
            transition: transform 0s linear 0.4s;
          }
        }
        &.opened > ul {
          transition: max-height 0.35s ease-in;
          background-color: $cloe-gray-dark;
          max-height: 1000px;
          li {
            transform: scale(1);
            @for $i from 1 through 20 {
              &:nth-child(#{$i}) {
                transition: transform 0.3s cubic-bezier(0.24, 1.13, 0.4, 1.39) #{0.01*$i + $i*0.01*$i}s;
              }
            }
          }
        }
        &.selected {
          color: $cloe-white;
          font-weight: bold;
          a i {
            color: $cloe-white;
          }
        }
        &.pointer {
          background-color: bisque;
        }
      }
      &.menu-collapse {
        li {
          a {
            div {
              opacity: 0;
            }
          }
        }
      }
    }
    .pointer {
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      transform: translateY(5px);
      border-style: solid;
      border-width: 15px 15px 15px 0;
      border-color: transparent $primary-color transparent transparent;
      transition: top 0.4s cubic-bezier(0.41, 1.18, 0.69, 1.08);
    }
    .ps__rail-y {
      background-color: transparent !important;
    }
    .ps-content {
      position: relative;
      padding-right: 20px;
    }
  }
}

