<cloe-core-box *ngIf="channelDetail" [boxTitle]="('page.home.boxes.detail-title' | translate)">

  <div class="pb-2">
    <span>{{channelDetail.site.name}}</span><br>
    <b class="detail-box__sub-title">
      {{channelDetail.channel.name}} ({{channelDetail.channel.unitSymbol}})
    </b>
    <br>{{currentMonth}}
  </div>

  <div class="d-flex pt-4">
    <div class="inner-box inner-box__3">
      <div class="inner-box__title">
        {{ 'page.home.boxes.monthly-energy-cost' | translate }}
      </div>
      <div class="inner-box__value-container">
        <span class="inner-box__value">
          {{channelDetail.monthlyEnergyCost | engFormat}} €
        </span>
        <span
          class="inner-box__delta"
          [class.inner-box__delta--positive]="channelDetail.monthlyEnergyCostDelta < 0"
        >
          <i class="fa {{getDeltaChevron(channelDetail.monthlyEnergyCostDelta)}} inner-box__icon"></i>
          {{channelDetail.monthlyEnergyCostDelta}}%
        </span>
      </div>
      <div class="inner-box__message">
        {{ 'page.home.boxes.enery-cost' | translate: {price: channelDetail.energyPrice} }}<br>
        {{ 'page.home.boxes.last-month-target' | translate }}
      </div>
    </div>

    <div class="inner-box inner-box__2">
      <div class="inner-box__title">
        {{ 'page.home.boxes.peak-power' | translate }}
      </div>
      <div class="inner-box__value-container">
        <span class="inner-box__value">
          {{
          ( peakValue| engFormatWithUnit: 'default':channelDetail.channel.unitSymbol )
            | empty: '-- ' + channelDetail.channel.unitSymbol
          }}
        </span>

      </div>
      <div class="inner-box__message" *ngIf="peakValue">
        {{ 'global.at' | translate }} {{peakDate | cloeDateTime}}
      </div>
    </div>
  </div>

  <div class="d-flex pt-4">
    <div class="inner-box inner-box__3">
      <div class="inner-box__title">
        {{ 'page.home.boxes.monthly-energy-consumption' | translate }}
      </div>
      <div class="inner-box__value-container">
        <span class="inner-box__value">
          {{channelDetail.monthlyConsumption | engFormatWithUnit: 'default':channelDetail.channel.integratedSymbol}}
        </span>
        <span
          class="inner-box__delta"
          [class.inner-box__delta--positive]="channelDetail.monthlyConsumptionDelta < 0"
        >
          <i class="fa {{getDeltaChevron(channelDetail.monthlyEnergyCostDelta)}} inner-box__icon"></i>
          {{channelDetail.monthlyConsumptionDelta}}%
        </span>
      </div>
      <div class="inner-box__message">
        {{ 'page.home.boxes.last-month-target' | translate }}
      </div>
    </div>

    <div class="inner-box  inner-box__2">
      <div class="inner-box__title">
        {{ 'page.home.boxes.available-power' | translate }}
      </div>
      <div class="inner-box__value-container">
        <span class="inner-box__value">
          {{
          (channelDetail.availablePower
          | engFormatWithUnit: 'default':channelDetail.channel.unitSymbol)
          | empty: '-- ' + channelDetail.channel.unitSymbol
          }}
        </span>
      </div>
      <div class="inner-box__message">
        <span *ngIf="channelDetail.availablePowerCost">
          {{ 'page.home.boxes.avaiable-power-cost' | translate: {price: channelDetail.availablePowerCost} }}
        </span>
      </div>
    </div>
  </div>
</cloe-core-box>
