@import "../../../../../../../cloe-ng-core/src/styles/variables";

cloe-channel-detail-box {
  .detail-box__sub-title {
    color: $cloe-gray-darker;
  }
  .inner-box__title {
    font-size: 0.9rem;
    color: $primary-color;
    font-weight: bold;
    letter-spacing: normal;
  }
  .inner-box__value {
    font-weight: bold;
    font-size: 1.7em;
    color: $cloe-gray-darker;
    letter-spacing: normal;
  }
  .inner-box__delta {
    color: $red;
    font-size: 1.1em;
    font-weight: bold;
  }
  .inner-box__delta--positive {
    color: $green;
  }
  .inner-box__message {
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: normal;
  }
  .inner-box__icon {
    margin: 0 !important;
    font-size: 1rem !important;
  }
  .inner-box__2 {
    flex: 2;
  }
  .inner-box__3 {
    flex: 3;
  }
}
