@import "../../../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-job-destinations {
  .material-icons {
    cursor: pointer;
  }
  .new-destination-label {
    color: $primary-color;
    font-size: $xSmall-font-size;
    margin-bottom: 0.3rem;
    cursor: pointer;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $cloe-gray-light;
    margin: 1em 0;
    padding: 0;
  }
  .flex-basis-25 {
    flex-basis: 25%;
  }
  .flex-basis-50 {
    flex-basis: 50%;
  }
}
