<div class="d-flex flex-nowrap align-items-center new-destination-label pt-1">
  <i class="d-flex fa m-1 fa-plus ng-star-inserted"></i>
  <div
    class="d-flex pr-2"
    (click)="onNewDestination()">
    {{ 'component.job-upsert.new-destination-by-type' | translate }}
  </div>
  <select
    class="form-control d-flex w-auto"
    [(ngModel)]="selectedDestinationType"
    name="destinationTypes"
    id="destinationTypes"
    #destinationTypes="ngModel"
    [disabled]="!newDestinationClosed"
    [ngClass]="{ 'is-invalid': !(destinationTypes.valid || destinationTypes.pristine) }" required>
    <option *ngFor="let dType of destinationTypesValues" [value]="dType">{{dType}}</option>
  </select>
</div>

<hr />

<cloe-core-table-static
  [data]="data.job.destinations"
  [tableConfig]="tableConfig"
></cloe-core-table-static>

<div class="new-destination-form" *ngIf="!updateDestinationClosed">
  <ng-container [ngSwitch]="selectedDestination.destinationType">
    <ng-container *ngSwitchCase="destinationTypesEnum.EMAIL">
      <ng-container
        *ngTemplateOutlet="EMAILDestination; context:{ destination: selectedDestination, update: true }">
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="destinationTypesEnum.FTP">
      <ng-container
        *ngTemplateOutlet="FTPDestination; context:{ destination: selectedDestination, update: true }">
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<div class="new-destination-form" *ngIf="!newDestinationClosed">
  <ng-container [ngSwitch]="selectedDestinationType">
    <ng-container *ngSwitchCase="destinationTypesEnum.EMAIL">
      <ng-container
        *ngTemplateOutlet="EMAILDestination; context:{ destination: newDestination, update: false }">
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="destinationTypesEnum.FTP">
      <ng-container
        *ngTemplateOutlet="FTPDestination; context:{ destination: newDestination, update: false }">
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #EMAILDestination let-destination="destination" let-update="update">
  <hr/>
  <div class="card-title">
    <span *ngIf="!update">
      {{ 'component.job-upsert.new-destination' | translate }}
    </span>
    <span *ngIf="update">
      {{ 'component.job-upsert.update-destination' | translate }}
    </span>
  </div>
  <!-- NEW EMAIL DESTINATION -->
  <form #newEmailDestinationForm="ngForm" id="newDestinationForm">
    <div class="d-flex flex-column align-content-around">
      <div class="d-flex">
        <div class="d-flex flex-column form-group pr-2 flex-basis-25">
          <label for="email-dest-name">{{'global.name' | translate}}</label>
          <input type="text" class="form-control" id="email-dest-name" [(ngModel)]="destination.name"
                 name="emailDestName" required #emailDestName="ngModel"
                 [ngClass]="{ 'is-invalid': !(emailDestName.valid || emailDestName.pristine) }">
          <div [hidden]="emailDestName.valid" class="form-text invalid-feedback">
            <span>{{ 'validation.generic.required' | translate }}</span>
          </div>
        </div>

        <div class="d-flex flex-column form-group pr-2 flex-basis-25">
          <label for="email-dest">{{'global.email' | translate}}</label>
          <input type="text" class="form-control" id="email-dest" [(ngModel)]="destination.destinationJson.email"
                 name="emailDest" #emailDest="ngModel" email required
                 [ngClass]="{ 'is-invalid': !(emailDest.valid || emailDest.pristine) }">
          <div [hidden]="emailDest.valid" class="form-text invalid-feedback">
            <span>{{ 'validation.generic.email' | translate }}</span>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <cloe-core-domain-picker
          class="flex-basis-25"
          [(ngModel)]="destination.destinationJson.cc"
          name="cc"
          #cc="ngModel"
          [config]="domainPickerCC"></cloe-core-domain-picker>

        <cloe-core-domain-picker
          class="flex-basis-25"
          [(ngModel)]="destination.destinationJson.ccn"
          name="ccn"
          #ccn="ngModel"
          [config]="domainPickerCCN"></cloe-core-domain-picker>
      </div>

      <div class="d-flex">
        <div class="d-flex flex-column form-group pr-2 flex-basis-50">
          <label for="email-dest-object">{{'component.job-upsert.object' | translate}}</label>
          <input type="text" class="form-control" id="email-dest-object" [(ngModel)]="destination.destinationJson.subject"
                 name="emailDestObject" required #emailDestObject="ngModel"
                 [ngClass]="{ 'is-invalid': !(emailDestObject.valid || emailDestObject.pristine) }">
          <div [hidden]="emailDestObject.valid" class="form-text invalid-feedback">
            <span>{{ 'validation.generic.required' | translate }}</span>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div class="d-flex flex-column form-group pr-2 flex-basis-50">
          <label for="email-dest-body">{{'component.job-upsert.body' | translate}}</label>
          <textarea class="form-control" id="email-dest-body" [(ngModel)]="destination.destinationJson.body"
                    name="emailDestBody" required #emailDestBody="ngModel"
                    [ngClass]="{ 'is-invalid': !(emailDestBody.valid || emailDestBody.pristine) }"></textarea>
          <div [hidden]="emailDestBody.valid" class="form-text invalid-feedback">
            <span>{{ 'validation.generic.required' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 mb-4 d-flex justify-content-end">
      <cloe-core-button
        [disable]="!newEmailDestinationForm.form.valid"
        (clickEvent)="onSubmit(destination, update)"
        [text]="'global.add' | translate">
      </cloe-core-button>
    </div>
  </form>

</ng-template>

<ng-template #FTPDestination let-destination="destination" let-update="update">
  <hr/>
  <div class="card-title">
    <span *ngIf="!update">
      {{ 'component.job-upsert.new-destination' | translate }}
    </span>
    <span *ngIf="update">
      {{ 'component.job-upsert.update-destination' | translate }}
    </span>
  </div>
  <!-- FTP DESTINATION -->
  <form #newFTPDestinationForm="ngForm" id="newFTPDestinationForm">
    <div class="d-flex flex-column align-content-around">
      <div class="d-flex">
        <div class="d-flex flex-column form-group pr-2 flex-basis-25">
          <label for="ftp-dest-name">{{'global.name' | translate}}</label>
          <input type="text" class="form-control" id="ftp-dest-name" [(ngModel)]="destination.name"
                 name="ftpDestName" required #ftpDestName="ngModel"
                 [ngClass]="{ 'is-invalid': !(ftpDestName.valid || ftpDestName.pristine) }">
          <div [hidden]="ftpDestName.valid" class="form-text invalid-feedback">
            <span>{{ 'validation.generic.required' | translate }}</span>
          </div>
        </div>

        <div class="d-flex flex-column form-group pr-2 flex-basis-25">
          <label for="ftp-dest-path">{{'component.job-upsert.server-path' | translate}}</label>
          <input type="text" class="form-control"
                 id="ftp-dest-path" [(ngModel)]="destination.destinationJson.serverPath"
                 name="serverPath" #serverPath="ngModel" required
                 [ngClass]="{ 'is-invalid': !(serverPath.valid || serverPath.pristine) }">
          <div [hidden]="serverPath.valid" class="form-text invalid-feedback">
            <span>{{ 'validation.generic.required' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="d-flex flex-column form-group pr-2 flex-basis-25">
          <label for="ftp-dest-username">{{'global.username' | translate}}</label>
          <input type="text" class="form-control"
                 id="ftp-dest-username" [(ngModel)]="destination.destinationJson.username"
                 name="ftpUsername" #ftpUsername="ngModel" required
                 [ngClass]="{ 'is-invalid': !(ftpUsername.valid || ftpUsername.pristine) }">
          <div [hidden]="ftpUsername.valid" class="form-text invalid-feedback">
            <span>{{ 'validation.generic.required' | translate }}</span>
          </div>
        </div>

        <div class="d-flex flex-column form-group pr-2 flex-basis-25">
          <label for="ftp-dest-password">{{'global.password' | translate}}</label>
          <input type="password" class="form-control"
                 id="ftp-dest-password" [(ngModel)]="destination.destinationJson.password"
                 name="ftpPassword" #ftpPassword="ngModel" required
                 [ngClass]="{ 'is-invalid': !(ftpPassword.valid || ftpPassword.pristine) }">
          <div [hidden]="ftpPassword.valid" class="form-text invalid-feedback">
            <span>{{ 'validation.generic.required' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 mb-4 d-flex justify-content-end">
      <cloe-core-button
        [disable]="!newFTPDestinationForm.form.valid"
        (clickEvent)="onSubmit(destination, update)"
        [text]="'global.add' | translate">
      </cloe-core-button>
    </div>
  </form>

</ng-template>
