@import "../../../../../styles/variables";

cloe-core-help-modal {
  .title {
    color: $primary-color;
    font-size: $font-size-lg;
  }
  .decimal-list {
    list-style: decimal;
  }
  .dashed {
    list-style-type: none;
    padding-left: 1rem;
  }

  .dashed > li:before {
    content: '- ';
  }
  text-align: justify;
}
