<cloe-core-modal [modalTitle]="modalTitle">
  <div *ngIf="bodyMessage; else noHelpFound" [innerHTML]="bodyMessage"></div>
  <div class="d-flex justify-content-end mt-2">
    <cloe-core-button [text]="'global.ok'" (click)="ok()"></cloe-core-button>
  </div>
</cloe-core-modal>

<ng-template #noHelpFound>
  <div class="alert alert-warning">{{'component.cloe-help-online.no-help-found' | translate}}</div>
</ng-template>
