<cloe-core-table-static [data]="rates" [tableConfig]="tableConfig"></cloe-core-table-static>

<div class="pb-2" *ngIf="getRateFormVisible()">
  <cloe-core-dyamic-form
    [questions]="ratesQuestions"
    (submitted)="onRateSubmitted($event)"
    (cancelled)="onRateCancelled($event)"
    [config]="{ submitButton: true }"></cloe-core-dyamic-form>
</div>
