@import "../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-sites-tree-management {
  .card-title h6 {
    color: $primary-color;
    font-weight: bold;
  }
  .sitesTreeSelect {
    max-width: 40%;
  }
}
