<div class="d-flex justify-content-between">
  <div class="card-title"><h6>{{ 'page.channel-site-tree.sites-tree' | translate }}</h6></div>
  <div class="d-flex">
    <cloe-core-button
      [icon]="'save'"
      [isIconButton]="true"
      [altLabel]="'page.channel-site-tree.save-tree'"
      (clickEvent)="saveTree()"></cloe-core-button>
  </div>
</div>
<div class="form-group sitesTreeSelect">
  <label for="siteTreesSelect">{{'page.site.tableTitle' | translate}}</label>
  <select class="form-control" [(ngModel)] = "selectedSiteTree" (change)="loadSiteTree()"
          name="siteTreesSelect" id="siteTreesSelect" #siteTreesSelect="ngModel">
    <option *ngFor="let currentSiteTree of siteTrees" [ngValue]="currentSiteTree">
      {{ currentSiteTree.name }}
    </option>
  </select>
</div>
<cloe-sites-channels-tree-actions [treeActions]="sitesTreeActions"></cloe-sites-channels-tree-actions>
<cloe-core-tree
  [nodesConfig]="siteTreeNodeConfig"
  [nodes]="currentSiteTreeNodes"
  [options]="siteTreeOptions"
  (nodeActivate)="onNodeActive($event)"
  (nodeDeactivate)="onNodeDeactive($event)"
  (nodeMoved)="onNodeMoved($event)"
  (nodeRemoved)="onNodeRemoved($event)"></cloe-core-tree>
