<cloe-core-table-static
  [data]="weeklyProfiles"
  [tableConfig]="tableConfig"
></cloe-core-table-static>

<div class="pb-2" *ngIf="getWeeklyProfileFormVisible()">
  <cloe-core-dyamic-form
    [questions]="weeklyQuestions"
    (submitted)="onWeeklyProfileSubmitted($event)"
    (cancelled)="onWeeklyProfileCancelled($event)"
    [config]="{ submitButton: true }"></cloe-core-dyamic-form>
</div>
