<cloe-core-modal [modalTitle]="modalTitle">

  <form (ngSubmit)="onSubmit()" #metadataForm = "ngForm">

    <div class="row">
      <div class="col-12">

        <div class="row">
          <div class="col-12 col-sm-12 form-group">
            <label for="metadataType">{{'page.metadata.metadata-type' | translate}}</label>
            <select class="form-control" [(ngModel)] = "meta.metadataType"
                    name="metadataType" id="metadataType" #metadataType="ngModel"
                    [ngClass]="{ 'is-invalid': !(metadataType.valid || metadataType.pristine) }">
              <option [value]=""></option>
              <option *ngFor="let m of metadataTypeList" [value]="m">{{m}}</option>
            </select>
            <div [hidden]="metadataType.valid || metadataType.pristine" class="form-text invalid-feedback">
              <div>{{'metadata.required-metadataType-message' |
                translate}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-12 form-group">
            <label for="metadataKey">{{'global.key' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)] = "meta.metadataKey"
                   name="metadataKey" id="metadataKey" #metadataKey="ngModel"
                   [ngClass]="{ 'is-invalid': !(metadataKey.valid || metadataKey.pristine) }" required>
            <div [hidden]="metadataKey.valid || metadataKey.pristine" class="form-text invalid-feedback">
              <div>{{'metadata.required-metadataKey-message' | translate}} </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-12 form-group">
            <label for="metadataValue">{{'global.value' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)] = "meta.metadataValue"
                   name="metadataValue" id="metadataValue" #metadataValue="ngModel"
                   [ngClass]="{ 'is-invalid': !(metadataValue.valid || metadataValue.pristine) }" required>
            <div [hidden]="metadataValue.valid || metadataValue.pristine" class="form-text invalid-feedback">
              <div>{{'metadata.required-metadataValue-message' | translate}} </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-12 form-group">
            <label for="nodeNature">{{'component.table.nodeNature' | translate}}</label>
            <select class="form-control" [(ngModel)] = "meta.nodeNature"
                    name="nodeNature" id="nodeNature" #nodeNature="ngModel" disabled="true"
                    [ngClass]="{ 'is-invalid': !(nodeNature.valid || nodeNature.pristine) }">
              <option [value]=""></option>
              <option *ngFor="let node of nodeNatureList" [value]="node">{{node}}</option>
            </select>
            <div [hidden]="nodeNature.valid || nodeNature.pristine" class="form-text invalid-feedback">
              <div>{{'metadata.required-nodeNature-message' | translate}} </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-12 form-group">
            <label for="referUuid">{{'page.metadata.refer-uuid' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)] = "meta.referUuid"
                   name="referUuid" id="referUuid" #referUuid="ngModel" disabled="true"
                   [ngClass]="{ 'is-invalid': !(referUuid.valid || referUuid.pristine) }" required>
            <div [hidden]="referUuid.valid || referUuid.pristine" class="form-text invalid-feedback">
              <div>{{'metadata.required-referUuid-message' | translate}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button [text]="'global.cancel'"
                   (click)="modalRef.close(false)"
                   customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
      <cloe-core-button
        [disable]="!metadataForm.form.valid"
        buttonType="submit"
        size="sm"
        text="{{'global.save' | translate}}"
        customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
    </div>
  </form>

</cloe-core-modal>


