<div class="card">
  <div class="card-body">
    <cloe-core-table-static
      [tableConfig]="tableConfig"
      [data]="clustersForUser"
    ></cloe-core-table-static>
  </div>
</div>

<div class="divider"></div>

<ng-container *ngFor="let treeChart of treeCharts">
  <cloe-core-box>
    <cloe-tree-chart [treeChart]="treeChart"></cloe-tree-chart>
  </cloe-core-box>
  <div class="divider"></div>
</ng-container>
