<cloe-core-modal [modalTitle]="'component.confirm.title'">
  <span>{{ confirmMessage | translate }}</span>
  <div class="d-flex justify-content-end">
    <cloe-core-button [text]="'global.cancel'" (click)="cancel()"></cloe-core-button>
    <cloe-core-button [text]="'global.ok'" (click)="ok()"></cloe-core-button>
  </div>
</cloe-core-modal>
