@import "../../../../styles/variables";

cloe-core-wizard {
  .nav-tabs {
    border-bottom: 1px solid $primary-color;
    margin: 0 !important;
    .nav-link {
      color: $font-color;
      font-size: $small-font-size;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }
  .nav-link:hover {
    border-bottom: 1px solid $primary-color;
  }
  .nav-tabs .nav-link:hover {
    border-bottom: 1px solid $primary-color;
    cursor: pointer;
  }
  .nav-tabs .nav-link.active {
    background-color: $cloe-white;
    border-color: $primary-color $primary-color $cloe-white;
    color: $primary-color;
    font-weight: bold;
  }
  .tab-body {
    background-color: $cloe-white;
  }
}
