<ul class="nav nav-tabs justify-content-start mt-3 tab-nav">
  <li *ngFor="let tab of tabs" class="nav-item">
    <a class="nav-link"
       [ngClass]="{ 'active': activeTab === tab.name }"
       aria-controls="tab.name"
       role="tab"
       data-toggle="tab">
      {{tab.name | translate}}
    </a>
  </li>
</ul>
<div class="p-3 tab-body tab-content">
  <div
    [id]="tab.name"
    class="tab-pane"
    *ngFor="let tab of tabs"
    [ngClass]="{ 'active': activeTab === tab.name }">
    <ng-template cloe-core-host></ng-template>
    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button
        [text]="'global.prev'"
        [disable]="tab.isFirst"
        (click)="onPrev(tab)">
      </cloe-core-button>
      <cloe-core-button
        [disable]="tab.componentInstance ? !tab.componentInstance.isValid : true"
        (click)="onNext(tab)"
        [text]= "tab.isLast ? ('global.save' | translate) : ('global.next' | translate) ">
      </cloe-core-button>
    </div>
  </div>
</div>
