<cloe-core-modal [modalTitle]="modalTitle">

  <ng-template #upsertDisabled>
    <ngb-alert [dismissible]="false"> <!-- TODO configurable notification component -->
      <strong>Warning!</strong> {{'component.cluster-management.clusters-limit-exceeded' | translate}}.
    </ngb-alert>
  </ng-template>

  <ng-container *ngIf="upsertEnabled; else upsertDisabled">
    <div class="d-flex mb-3 justify-content-center">
      <div class="d-flex flex-column form-group pr-2 flex-basis-35">
        <label for="clusterCategories">{{'component.cluster-management.cluster-categories' | translate}}</label>
        <select id="clusterCategories" #selectClusterCategories class="form-control">
          <option *ngFor="let clusterCategory of clusterCategories"
                  [value]="clusterCategory.uuid">{{clusterCategory.name}}
          </option>
        </select>
      </div>
      <div class="d-flex flex-column form-group pr-2 flex-basis-35 justify-content-end">
        <div class="d-flex">
          <cloe-core-button
            [text]="'global.load'"
            (click)="loadClusterNodes(selectClusterCategories.value)"></cloe-core-button>
        </div>
      </div>
    </div>

    <form (ngSubmit)="onSubmit()" #clusterForm="ngForm">

      <div class="d-flex mb-3 justify-content-center">
        <div class="d-flex flex-column form-group pr-2 flex-basis-35">
          <label for="input-name">{{'global.name' | translate}}</label>
          <input type="text" class="form-control" id="input-name" [(ngModel)]="cluster.name"
                 name="name" required="required" #name="ngModel"
                 [ngClass]="{ 'is-invalid': !(name.valid || name.pristine) }">
          <div [hidden]="name.valid" class="form-text invalid-feedback">
            <small>{{ 'validation.generic.required' | translate}}</small>
          </div>
        </div>

        <div class="d-flex flex-column form-group pr-2 flex-basis-35">
          <div>
            <cloe-core-domain-picker
              [config]="domainPickerConfig"
              [(ngModel)]="selectedChannelType"
              name="channelTypePicker"></cloe-core-domain-picker>
          </div>
        </div>
      </div>

      <div class="d-flex mb-3 justify-content-center flex-wrap">
        <div class="d-flex flex-column form-group pr-2 flex-basis-35">
          <div class="d-flex">
            <cloe-core-tree [nodes]="newClusterNodes"
                            (initialized)="initNewCluster($event)"
                            [options]="optionsNewCluster"
                            [nodesConfig]="newClusterNodesConfig"
                            (nodeRemoved)="onNodeRemoved($event)"
                            [treeInfo]="{treeTitle: 'component.cluster-management.new-cluster' | translate}">
            </cloe-core-tree>
          </div>
        </div>

        <div class="d-flex flex-column form-group pr-2 flex-basis-35">
          <div class="d-flex">
            <cloe-core-tree #currentTree
                            [nodes]="currentClusterNodes"
                            [options]="optionsCurrentCluster"
                            (initialized)="initCurrentCluster($event)"
                            [filtersConfig]="filtersConfig"
                            (filtersChanged)="onFiltersChanged($event)"
                            [treeInfo]="{treeTitle: 'component.cluster-management.current-cluster' | translate}">
            </cloe-core-tree>
          </div>
        </div>
      </div>

      <div class="mt-4 d-flex justify-content-end">
        <!--<cloe-core-button [text]="'global.cancel'"-->
        <!--(click)="modalRef.close(false)"-->
        <!--customClass="px-gdn-btn-outline card-bg"></cloe-core-button>-->
        <cloe-core-button
          buttonType="submit"
          [disable]="!clusterForm.form.valid"
          text="{{'global.save' | translate}}"
          customClass="px-gdn-btn-outline card-bg">
        </cloe-core-button>
      </div>
    </form>
  </ng-container>

</cloe-core-modal>
