<div class="card">

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <span class="mb-3">
        {{fileMeta.fileName}}
      </span>
      <cloe-core-button
        *ngIf="fileMeta.removable"
        [text]="'Remove'"
        (click)="removeIt(fileMeta)"
      >
      </cloe-core-button>
    </div>
    <p *ngIf="description" [innerHTML]="description"></p>

    <cloe-core-table-static
      *ngIf="fileMeta.type === 'json'"
      [tableConfig]="tableConfig"
      [data]="file"
    >
    </cloe-core-table-static>
    <div class="d-flex d-flex justify-content-center mt-3">
      <img class="diag-img" *ngIf="fileMeta.isImage" [src]="imgUrl">
    </div>
    <div class="form-group mt-3">
      <label for="file-comment-{{fileMeta.fileName}}">
        {{'global.comment' | translate }}
      </label>
      <textarea
        id="file-comment-{{fileMeta.fileName}}"
        class="form-control"
        rows="5"
        [(ngModel)]="fileMeta.comment"
        [disabled]="readOnly"
      ></textarea>
    </div>
  </div>
</div>
