<div class="channel-sidebar" [ngClass]="{'sidebar-open': sidebarOpen}">
  <cloe-core-tree
    [nodes]="[channelTreeNode]"
    [treeInfo]="treeConfig"
    [options]="options"
    [stateConfig]="{dynamicState: treeDynamicState}"
    [filtersConfig]="filtersConfig"
    (nodeActivate)="onNodeActive($event)"
    (nodeDeactivate)="onNodeDeactive($event)"
  ></cloe-core-tree>
</div>

<div class="view-curves-container">
  <ui-view></ui-view>
</div>
