@import "../../../../../../cloe-ng-core/src/styles/variables";

cloe-channel-tree-view {
  .view-curves-container {
    padding-left: 250px;
  }

  .channel-sidebar {
    position: fixed;
    left: 0;
    top: 77px;
    height: calc(100% - 102px);
    width: 250px;
    transition: left 0.2s ease-in;
    background-color: $cloe-gray-lighter;
    margin-top: 25px;
    padding: 1rem;
    &.sidebar-open {
      left: 250px;
    }
    .card {
      height: auto;
      background-color: $cloe-gray-lighter;
      .card-header {
        background-color: $cloe-gray-lighter;
      }
    }
  }
  .channel-view-content {
    padding: 1rem;
  }
}
