<div class="d-flex flex-column form-group pr-2" [formGroup]="form">
  <label [attr.for]="question.key">{{question.label | translate}}</label>

  <ng-container [ngSwitch]="question.controlType">

    <cloe-core-form-input
      *ngSwitchCase="inputType.TEXTBOX"
      [validationMessages]="false"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"></cloe-core-form-input>

    <cloe-core-form-color-input
      *ngSwitchCase="inputType.COLOR_PICKER"
      [formControlName]="question.key"
      [id]="question.key"></cloe-core-form-color-input>

    <cloe-core-form-select-object
      [id]="question.key"
      [validationMessages]="false"
      [optionLabelField]="'key'"
      [optionKeyField]="'value'"
      [options]="question.options"
      *ngSwitchCase="inputType.DROPDOWN"
      [formControlName]="question.key">
    </cloe-core-form-select-object>

    <ng-container *ngSwitchCase="inputType.DATEPICKER">

      <cloe-core-date-time-picker
        [formControlName]="question.key"
        [id]="question.key"
        [config]="question.config">
      </cloe-core-date-time-picker>

    </ng-container>

    <ng-container *ngSwitchCase="inputType.TREE_NODE_ACTIVE_IDS">

      <cloe-core-input-node-ids
        [formControlName]="question.key"
        [treeFiltersType]="question.filtersType"
        [id]="question.key"
        [nodes]="question.nodes$ ? (question.nodes$ | async) : question.nodes">
      </cloe-core-input-node-ids>

    </ng-container>

  </ng-container>
  
  <div
    *ngFor="let validator of question.validators"
    [hidden]="!form.controls[question.key].hasError(validator.name) || form.controls[question.key].pristine"
    class="form-text invalid-feedback">
    <span>{{ validator.errorMessage | translate}}</span>
  </div>
</div>
