<ng-container *ngIf="config && config.showAccordion; else periodSelectorContent">
  <cloe-core-accordion [accordionTitle]="'component.period-selector.choose-period'" [initOpen]="true">
    <ng-container *ngTemplateOutlet="periodSelectorContent"></ng-container>
  </cloe-core-accordion>
</ng-container>
<ng-template #periodSelectorContent>
  <div class="d-flex flex-nowrap">
    <div>
      <div class="d-flex flex-nowrap">
        <div class="flex-grow-1" style="flex-basis: 65%">
          <div class="form-group">
            <label for="select-period-type">{{'component.period-selector.period' | translate}}</label>
            <select
              id="select-period-type"
              class="form-control"
              (change)="initPeriod()"
              [(ngModel)]="rangeType"
              [disabled]="config && config.rangeTypeDisabled"
            >
              <option *ngFor="let type of rangeTypes" [value]="type">{{'period-type.' + type | translate}}</option>
            </select>
          </div>
        </div>
        <div class="flex-grow-1" style="flex-basis: 35%; padding-left: 5px">
          <ng-container *ngTemplateOutlet="granularity"></ng-container>
        </div>
      </div>
      <div class="d-flex flex-nowrap">
        <div class="flex-grow-2">
          <div [ngSwitch]="rangeType">
            <ng-container *ngSwitchCase="rangeTypeEnum.YEAR">
              <ng-container *ngTemplateOutlet="yearPeriod"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="rangeTypeEnum.MONTH">
              <ng-container *ngTemplateOutlet="monthPeriod"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="rangeTypeEnum.WEEK">
              <ng-container *ngTemplateOutlet="weekPeriod"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="rangeTypeEnum.DAY">
              <ng-container *ngTemplateOutlet="dayPeriod"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="rangeTypeEnum.FREE">
              <ng-container *ngTemplateOutlet="freePeriod"></ng-container>
            </ng-container>
          </div>
        </div>
        <div class="d-flex flex-nowrap flex-grow-1 align-self-end">
          <cloe-core-button
            (click)="nextPeriod('left')"
            [disable]="config && config.calendarDisabled"
            [isIconButton]="true"
            [icon]="'arrow_back'">
          </cloe-core-button>
          <cloe-core-button
            (click)="nextPeriod('right')"
            [disable]="config && config.calendarDisabled"
            [isIconButton]="true"
            [icon]="'arrow_forward'">
          </cloe-core-button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap flex-grow-1 align-self-end justify-content-end" style="margin-top: -5px">
      <div style="margin-top: 5px">
        <cloe-core-button
          (click)="onSubmit()"
          buttonType="submit"
          text="{{submitLabel | translate}}">
        </cloe-core-button>
      </div>
      <div style="margin-top: 5px">
        <cloe-core-button
          (click)="onClear()"
          text="{{clearLabel | translate}}">
        </cloe-core-button>
      </div>
    </div>
  </div>

  <ng-template #granularity>
    <div class="form-group">
      <label for="select-granularity">{{'component.period-selector.choose-granularity' | translate}}</label>
      <select
        id="select-granularity"
        class="form-control"
        [(ngModel)]="periodType"
        (change)="checkMiniMode()"
        [disabled]="config && config.periodTypeDisabled"
      >
        <option *ngFor="let granularity of periodTypes" [value]="granularity">
          {{'period-type.' + granularity | translate}}
        </option>
      </select>
    </div>
  </ng-template>

  <ng-template #yearPeriod>
    <label for="select-year-period">{{'global.year' | translate}}</label>
    <div class="input-group">
      <input id="select-year-period"
             [max]="maxDate"
             class="form-control"
             matInput [satDatepicker]="picker"
             [placeholder]="formattedYear"
             [value]="formattedYear" readonly>
      <sat-datepicker-toggle
        matSuffix
        [disabled]="config && config.calendarDisabled"
        [for]="picker"></sat-datepicker-toggle>
      <sat-datepicker
        #picker
        startView="multi-year"
        (yearSelected)="onYearOrMonthSelected($event, picker)"></sat-datepicker>
    </div>
  </ng-template>

  <ng-template #monthPeriod>
    <label for="select-month-period">{{'global.month' | translate}}</label>
    <div class="input-group">
      <input id="select-month-period"
             [max]="maxDate"
             class="form-control"
             matInput [satDatepicker]="picker"
             [placeholder]="formattedMonth"
             [value]="formattedMonth" readonly>
      <sat-datepicker-toggle
        matSuffix
        [disabled]="config && config.calendarDisabled"
        [for]="picker"></sat-datepicker-toggle>
      <sat-datepicker
        #picker
        startView="multi-year"
        (monthSelected)="onYearOrMonthSelected($event, picker)"></sat-datepicker>
    </div>
  </ng-template>

  <ng-template #weekPeriod>
    <label for="weekPicker">{{'global.week' | translate}}</label>
    <div class="input-group">
      <input id="weekPicker"
             [max]="maxDate"
             class="form-control"
             (dateChange)="onWeekSelected($event, picker)"
             matInput [satDatepicker]="picker"
             [placeholder]="formattedRange"
             [value]="formattedRange" readonly>
      <sat-datepicker-toggle
        matSuffix
        [disabled]="config && config.calendarDisabled"
        [for]="picker"></sat-datepicker-toggle>
      <sat-datepicker
        #picker
        startView="multi-year"></sat-datepicker>
    </div>
  </ng-template>

  <ng-template #dayPeriod>
    <label for="dayPicker">{{'global.day' | translate}}</label>
    <div class="input-group">
      <input id="dayPicker"
             [max]="maxDate"
             class="form-control"
             (dateChange)="onDaySelected($event)"
             matInput [satDatepicker]="picker"
             [placeholder]="formattedDay"
             [value]="formattedDay" readonly>
      <sat-datepicker-toggle
        matSuffix
        [disabled]="config && config.calendarDisabled"
        [for]="picker"></sat-datepicker-toggle>
      <sat-datepicker
        #picker
        startView="multi-year"></sat-datepicker>
    </div>
  </ng-template>

  <ng-template #freePeriod>
    <label for="freePicker">{{'global.range' | translate}}</label>
    <div class="input-group">
      <input id="freePicker"
             [max]="maxDate"
             class="form-control"
             (dateChange)="onRangeSelected($event, picker)"
             matInput [satDatepicker]="picker"
             [placeholder]="formattedRange"
             [value]="formattedRange" readonly>
      <sat-datepicker-toggle
        matSuffix
        [disabled]="config && config.calendarDisabled"
        [for]="picker"></sat-datepicker-toggle>
      <sat-datepicker
        #picker
        [rangeMode]="true"
        startView="multi-year"></sat-datepicker>
    </div>
  </ng-template>
</ng-template>
