@import '../../../../../../cloe-ng-core/src/styles/variables';

cloe-core-period-selector {
  .mat-icon-button {
    height: auto !important;
    line-height: 2 !important;
  }
  input.form-control[readonly] {
    background-color: #FFFFFF;
    color: $font-color;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $font-color !important;
    opacity: 1 !important; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $font-color !important;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $font-color !important;
  }
}
