<cloe-core-modal [modalTitle]="modalTitle">
  <form  #templateForm = "ngForm" (ngSubmit)="onSubmit()">

    <div class="row mb-3">

      <!--NAME-->
      <div class="col-sm-7">
        <label for="name">{{'global.name' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)] = "template.name"
               name="name" id="name" #name="ngModel"
               [ngClass]="{ 'is-invalid': !(name.valid || name.pristine) }" required>
        <div [hidden]="name.valid || name.pristine" class="form-text invalid-feedback">
          <div>{{'global.required-name-message' | translate}} </div>
        </div>
      </div>

      <!--STATE-->
      <div class="col-sm-5">
        <label for="status">{{'global.status' | translate}}</label>
        <select class="form-control" [(ngModel)] = "template.status"
                name="status" id="status" #status="ngModel"
                [ngClass]="{ 'is-invalid': !(status.valid || status.pristine) }">
          <option *ngFor="let status of statuses" [value]="status">{{('status.'+status) | translate }}</option>
        </select>
        <div [hidden]="status.valid || status.pristine" class="form-text invalid-feedback">
          <div>{{'global.required-status-message' |
            translate}}
          </div>
        </div>
      </div>

    </div>

    <div class="row mb-3">

      <!--CSS FILE SUFFIX-->
      <div class="col-sm-7">
        <label for="cssFileSuffix">{{'page.themeTemplate.cssFileSuffix' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)] = "template.cssFileSuffix"
               name="cssFileSuffix" id="cssFileSuffix" #cssFileSuffix="ngModel" pattern="[a-zA-Z_]*"
               [ngClass]="{ 'is-invalid': !(cssFileSuffix.valid || cssFileSuffix.pristine) }" required>
        <div [hidden]="cssFileSuffix.valid || cssFileSuffix.pristine" class="form-text invalid-feedback">
          <div>{{'page.themeTemplate.cssFileSuffixRequired' | translate}} </div>
        </div>
      </div>

    </div>

    <!--SAVE-->
    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button [text]="'global.cancel'"
                   (click)="modalRef.close(false)"
                   customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
      <cloe-core-button
        [disable]="!templateForm.form.valid"
        buttonType="submit"
        size="sm"
        [outline]="true"
        text="global.save">
      </cloe-core-button>
    </div>

  </form>
</cloe-core-modal>
