@import "../../../../../../dist/cloe-ng-core/styles/variables";

cloe-view-curves {
  .divider {
    height: 10px;
  }
  .flex-item {
    flex: 1 0 50%;
    min-width: 305px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .chart-actions {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-size: 0.85rem;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
  }

  .chart-actions__icon {
    padding-right: 5px;
  }

  .toggleActive {
    color: $primary-color;
  }

  .channel-ranges-container {
    top: 5px;
    right: 190px;
    width: 15%;
  }
  .amcharts-export-menu-top-right {
    top: 30px;
  }
}
