<cloe-core-box
  [isCollapsable]="true"
  [customStyle]="{'border': 'none'}"
  [scrollbarStyle]="{'position': 'static'}">
  <div class="d-flex flex-wrap">
    <div class="flex-item">
      <cloe-core-box
        [customStyle]="{'max-height': '190px'}"
        [boxTitle]="'component.period-selector.choose-period'">
        <cloe-core-period-selector
          (periodSelected)="onPeriodSelected($event)"
          [chartType]="chartType"
          [initialDates]="initialPeriodDates"
          [config]="{integrable: true}"
        ></cloe-core-period-selector>
      </cloe-core-box>
    </div>
    <div class="flex-item">
      <cloe-core-box
        [expandable]="true"
        [customStyle]="{'max-height': '190px', 'background-color': '#ffffff' }"
        [boxTitle]="'global.summary'">
        <cloe-core-table-static
          [data]="recapTableData"
          [tableConfig]="tableConfig"
        ></cloe-core-table-static>
      </cloe-core-box>
    </div>
  </div>
</cloe-core-box>

<div class="channel-view-content">
  <div class="range-continaer d-flex justify-content-end position-relative">
    <div class="form-group position-absolute channel-ranges-container">
      <cloe-angular2-multiselect
        (onSelect)="onChannelRangeSelected($event)"
        (onDeSelect)="onChannelRangeDeselected($event)"
        [(ngModel)]="selectedRanges"
        [settings]="channelRangesSelectSettings"
        [data]="channelRanges" ></cloe-angular2-multiselect>
<!--      <select class="form-control" [(ngModel)]="selectedRange" [compareWith]="compareRange"-->
<!--              (change)="onSelectRange(selectedRange)">-->
<!--        <option *ngFor="let range of channelRanges" [ngValue]="range" [disabled]="range.disable">-->
<!--          {{range.name | translate}}-->
<!--        </option>-->
<!--      </select>-->
    </div>
    <div class="chart-actions">
      <i class="chart-actions__icon fa fa-area-chart"></i>
      <span>{{ 'chart.chart-actions' | translate }}</span>
      <div ngbDropdown class="dropdown-no-toggle" placement="left-top">
        <i class="material-icons" ngbDropdownToggle>keyboard_arrow_down</i>
        <div ngbDropdownMenu>
          <button
            class="dropdown-item"
            [ngClass]="{toggleActive: action.toggleActive}"
            *ngFor="let action of graphActions"
            (click)="handleChartAction(action)">
            <i class="chart-legend__icon fa {{action.icon}}"></i>
            {{action.label | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <cloe-core-tabs [tabs]="tabs"></cloe-core-tabs>
</div>

