<div class="action-bar">
  <div class="action-bar__left">
    <span class="action-bar__title">{{diag.name}}</span>
    <div class="action-bar__upload">
      <input id="fileToUpload" accept="image/*"
             (change)="setFile($event.target.files)" type="file" class="ml-5">
      <cloe-core-button [text]="'global.add'" (click)="addNew()" [disable]="isUploadDisable()"></cloe-core-button>
    </div>
  </div>
  <div class="action-bar__right">
    <cloe-core-button [text]="'global.cancel'" (click)="cancel()"></cloe-core-button>
    <cloe-core-button [text]="'global.save'" (click)="save()" [disable]="isReadOnly()" ></cloe-core-button>
  </div>
</div>
<div class="content" *ngIf="diagFileList">
  <cloe-diag-file-parser
    *ngFor="let file of diagFileList"
    [fileName]="file"
    [diagCode]="diagCode"
    [fileMeta]="jsonData[file]"
    [description]="getFileDescription(file)"
    [readOnly]="isReadOnly()"
    (remove)="onRemove($event)"
  >
  </cloe-diag-file-parser>
</div>

