cloe-diag-detail {
  position: relative;

  .content {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 77px;
  }

  .action-bar {
    position: fixed;
    top: 77px;
    left: 250px;
    right: 0;
    background: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1px black solid;
    transition: left 0.3s ease;

    .closed-nav & {
      left: 0;
    }
  }

  .action-bar__left {
    display: flex;
  }

  .action-bar__upload {
    display: flex;
  }

  cloe-core-table-static {
    perfect-scrollbar {
      height: auto !important;
    }
  }
}
