<cloe-core-modal [modalTitle]="modalTitle">

  <form (ngSubmit)="onSubmit()" #siteForm = "ngForm">

    <div class="row">
      <div class="col-12">

        <div class="row">
          <div class="col-md-6 col-sm-12 form-group">
            <label for="name">{{'global.name' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)] = "site.name"
                   name="name" id="name" #name="ngModel"
                   [ngClass]="{ 'is-invalid': !(name.valid || name.pristine) }" required>
            <div [hidden]="name.valid" class="form-text invalid-feedback">
              <div>{{'page.site.required-siteName-message' | translate}}</div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <label for="status">{{'global.status' | translate}}</label>
            <select class="form-control" [(ngModel)] = "site.status"
                    name="status" id="status" #status="ngModel"
                    [ngClass]="{ 'is-invalid': !(status.valid || status.pristine) }" required>
              <option *ngFor="let status of statuses" [value]="status">{{('status.'+status) | translate }}</option>
            </select>
            <div [hidden]="status.valid" class="form-text invalid-feedback">
              <div>{{'page.site.required-site-status-message' | translate}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 form-group">
            <label for="city">{{'component.table.city' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)] = "site.city"
                   name="city" id="city" #city="ngModel"
                   [ngClass]="{ 'is-invalid': !(city.valid || city.pristine) }" required
                   [ngbTypeahead]="search" [resultFormatter]="cityConverter"
                   [inputFormatter]="cityConverter">
            <div [hidden]="city.valid" class="form-text invalid-feedback">
              <div>{{'page.site.required-site-city-message' | translate}} </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <label for="address">{{'global.address' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)] = "site.address"
                   name="address" id="address" #address="ngModel"
                   [ngClass]="{ 'is-invalid': !(address.valid || address.pristine) }" required>
            <div [hidden]="address.valid" class="form-text invalid-feedback">
              <div>{{'page.site.required-site-address-message' | translate}} </div>
            </div>
          </div>
        </div>

        <div class="row">

        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 form-group">
            <label for="latitude">{{'component.table.latitude' | translate}}</label>
            <input type="number" step=any class="form-control" [(ngModel)] = "site.latitude"
                   name="latitude" id="latitude" #latitude="ngModel"
                   [ngClass]="{ 'is-invalid': !(latitude.valid || latitude.pristine) }">
            <div [hidden]="latitude.valid" class="form-text invalid-feedback">
              <div>{{'page.device.required-latitude-message' | translate}} </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <label for="longitude">{{'component.table.longitude' | translate}}</label>
            <input type="number" step=any class="form-control" [(ngModel)] = "site.longitude"
                   name="longitude" id="longitude" #longitude="ngModel"
                   [ngClass]="{ 'is-invalid': !(longitude.valid || longitude.pristine) }">
            <div [hidden]="city.valid" class="form-text invalid-feedback">
              <div>{{'page.device.required-longitude-message' | translate}} </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 form-group">
            <label for="defaultChannelId">{{'page.site.defaultChannelId' | translate}}</label>
            <select class="form-control" [(ngModel)] = "site.defaultChannelId"
                    name="defaultChannelId" id="defaultChannelId" #defaultChannelId="ngModel">
              <option *ngFor="let channel of siteChannels" [value]="channel.id">{{ channel.name }}</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <cloe-core-domain-picker
              [config]="domainPickerConfig"
              [(ngModel)]="tagPickerModels"
              name="tagKeyPicker"></cloe-core-domain-picker>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button [text]="'global.cancel'"
                   (click)="modalRef.close(false)"
                   customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
      <cloe-core-button
        [disable]="!siteForm.form.valid"
        buttonType="submit"
        size="sm"
        text="{{'global.save' | translate}}"
        customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
    </div>

  </form>

</cloe-core-modal>


