<cloe-core-modal [modalTitle]="modalTitle">
  <form #uploadDiagForm="ngForm" class="pt-4">
    <div class="form-group ml-3">
      <label for="input-file">{{'global.file' | translate}}*</label>
      <input #file="ngModel" type="file" class="form-control" id="input-file" accept=".xlsx, .xls, .xlsm, .sxls, .csv"
             name="file" ngModel="" required="required" (change)="handleFileInput($event.target.files)"
             [ngClass]="{ 'is-invalid': !(file.valid) }">
      <div [hidden]="file.valid" class="form-text invalid-feedback">
        <small>{{ 'validation.generic.required' | translate}}</small>
      </div>
    </div>


    <div *ngIf="errors && errors.length">
      <h3>{{'global.errors' | translate}}</h3>
      <cloe-core-table-static
        [data]="errors"
        [tableConfig]="tableConfig"
      ></cloe-core-table-static>
    </div>

    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button [text]="'global.cancel'"
                        (click)="modalRef.close(false)"
                        customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
      <cloe-core-button
        buttonType="button"
        [disable]="!uploadDiagForm.form.valid"
        (click)="upload()"
        text="{{'global.upload' | translate}}"
        customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
    </div>
  </form>
</cloe-core-modal>
