cloe-core-loader {
  .loading.loader-wrap {
    opacity: 1;
    visibility: visible;
  }

  .loader-wrap {
    position: absolute;
    z-index: 3000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  }

  .loader-wrap .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 160px;
  }

  .loader-wrap .loader div {
    position: relative;
    float: left;
    width: 10px;
    height: 10%;
    margin-right: 8px;
    background-color: #0be3df;
  }
  .loader-wrap .loader div:nth-child(1) {
    animation: load 2s ease;
    animation-iteration-count: infinite;
  }
  .loader-wrap .loader div:nth-child(2) {
    animation: load 2s ease 0.1s;
    animation-iteration-count: infinite;
  }
  .loader-wrap .loader div:nth-child(3) {
    animation: load 2s ease 0.2s;
    animation-iteration-count: infinite;
  }
  .loader-wrap .loader div:nth-child(4) {
    animation: load 2s ease 0.3s;
    animation-iteration-count: infinite;
  }
  @keyframes load {
    0% {
      height: 10%;
      top: 0;
    }
    5% {
      height: 15%;
      top: -5%;
    }
    8% {
      height: 20%;
      top: -15%;
    }
    23% {
      height: 10%;
      top: -20%;
    }
    33% {
      height: 10%;
      top: -20%;
    }

    38% {
      height: 15%;
      top: -25%;
    }
    41% {
      height: 20%;
      top: -35%;
    }
    56% {
      height: 10%;
      top: -40%;
    }
    66% {
      height: 10%;
      top: -40%;
    }
    80% {
      height: 40%;
      top: -30%;
    }

    90% {
      height: 10%;
      top: 0;
    }
    100% {
      height: 10%;
      top: 0;
    }
  }
}
