<!--Pre loader html-->
<div class="loader-wrap loading" *ngIf="loading$ | async">
  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!--END Pre loader html-->
