<div class="cron-editor-main">
  <div class="d-flex justify-content-center align-items-center pt-2 pb-2 cron-label" *ngIf="options.currentExpressionLabel">
    <div class="d-flex" *ngIf="cron">{{'component.cron-editor.current-expression' | translate}}: {{cron}}</div>
    <div class="d-flex" *ngIf="!cron">{{'component.cron-editor.empty-expression' | translate}}</div>
  </div>
  <div>
    <!-- Tabs -->
    <ul class="nav nav-tabs justify-content-start mt-3 tab-nav" role="tablist">
      <li class="nav-item" *ngIf="!options.hideMinutesTab">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'minutes'}" aria-controls="minutes" role="tab"
           data-toggle="tab"
           (click)="setActiveTab('minutes', $event)">
          {{ 'component.cron-editor.minutes' | translate }}
        </a>
      </li>

      <li class="nav-item" role="presentation" *ngIf="!options.hideHourlyTab">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'hourly'}" aria-controls="hourly" role="tab"
           data-toggle="tab" (click)="setActiveTab('hourly', $event)">
          {{ 'component.cron-editor.hourly' | translate }}
        </a>
      </li>

      <li class="nav-item" role="presentation" *ngIf="!options.hideDailyTab">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'daily'}" aria-controls="daily" role="tab"
           data-toggle="tab" (click)="setActiveTab('daily', $event)">
          {{ 'component.cron-editor.daily' | translate }}
        </a>
      </li>

      <li class="nav-item" role="presentation" *ngIf="!options.hideWeeklyTab">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'weekly'}" aria-controls="weekly" role="tab"
           data-toggle="tab" (click)="setActiveTab('weekly', $event)">
          {{ 'component.cron-editor.weekly' | translate }}
        </a>
      </li>

      <li class="nav-item" role="presentation" *ngIf="!options.hideMonthlyTab">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'monthly'}" aria-controls="monthly" role="tab"
           data-toggle="tab"
           (click)="setActiveTab('monthly', $event)">
          {{ 'component.cron-editor.monthly' | translate }}
        </a>
      </li>

      <li class="nav-item" role="presentation" *ngIf="!options.hideYearlyTab">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'yearly'}" aria-controls="yearly" role="tab"
           data-toggle="tab" (click)="setActiveTab('yearly', $event)">
          {{ 'component.cron-editor.yearly' | translate }}
        </a>
      </li>

      <li class="nav-item" role="presentation" *ngIf="!options.hideAdvancedTab">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'advanced'}" aria-controls="advanced" role="tab"
           data-toggle="tab"
           (click)="setActiveTab('advanced', $event)">
          {{ 'component.cron-editor.advanced' | translate }}
        </a>
      </li>
    </ul>
  </div>

  <!-- Tab content -->
  <div class="cron-editor-container">
    <div class="tab-content tab-body">
      <!-- Minutes-->
      <div class="tab-pane" *ngIf="!options.hideMinutesTab" [ngClass]="{'active': activeTab === 'minutes'}">
        <div class="d-flex">
          <div class="form-group d-flex flex-column">
            <label for="minutes-select-every-minute">{{'component.cron-editor.every-minutes' | translate }}</label>
            <select class="minutes"
                    id="minutes-select-every-minute"
                    [disabled]="disabled || activeTab !== 'minutes'"
                    (change)="regenerateCron()"
                    [(ngModel)]="state.minutes.minutes"
                    [ngClass]="options.formSelectClass">
              <option *ngFor="let minute of selectOptions.minutes" [ngValue]="minute">
                {{minute}}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column" *ngIf="!options.hideSeconds && isCronFlavorQuartz">
            <label for="minutes-select-on-second">{{'component.cron-editor.on-second' | translate }}</label>
            <select class="seconds" *ngIf="!options.hideSeconds && isCronFlavorQuartz"
                    [disabled]="disabled || activeTab !== 'minutes'" id="minutes-select-on-second"
                    (change)="regenerateCron()" [(ngModel)]="state.minutes.seconds" [ngClass]="options.formSelectClass">
              <option *ngFor="let second of selectOptions.seconds" [ngValue]="second">
                {{second}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Hourly-->
      <div class="tab-pane" *ngIf="!options.hideHourlyTab" [ngClass]="{'active': activeTab === 'hourly'}">
        <div class="d-flex">
          <div class="form-group d-flex flex-column">
            <label for="hourly-select-every-minute">{{'component.cron-editor.every-hours' | translate }}</label>
            <select class="hours" [disabled]="disabled || activeTab !== 'hourly'" (change)="regenerateCron()"
                    [(ngModel)]="state.hourly.hours" id="hourly-select-every-minute"
                    [ngClass]="options.formSelectClass">
              <option *ngFor="let hour of selectOptions.hours" [ngValue]="hour">
                {{hour}}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column">
            <label for="hourly-select-on-minute">{{'component.cron-editor.on-minute' | translate }}</label>
            <select class="minutes" [disabled]="disabled || activeTab !== 'hourly'" (change)="regenerateCron()"
                    [(ngModel)]="state.hourly.minutes" id="hourly-select-on-minute"
                    [ngClass]="options.formSelectClass">
              <option *ngFor="let minute of selectOptions.fullMinutes" [ngValue]="minute">
                {{minute}}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column" *ngIf="!options.hideSeconds && isCronFlavorQuartz">
            <label for="hourly-select-on-second">{{'component.cron-editor.on-second' | translate }}</label>
            <select class="seconds" *ngIf="!options.hideSeconds && isCronFlavorQuartz"
                    [disabled]="disabled || activeTab !== 'hourly'" id="hourly-select-on-second"
                    (change)="regenerateCron()" [(ngModel)]="state.hourly.seconds" [ngClass]="options.formSelectClass">
              <option *ngFor="let second of selectOptions.seconds" [ngValue]="second">
                {{second}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Daily-->
      <div class="tab-pane" *ngIf="!options.hideDailyTab" [ngClass]="{'active': activeTab === 'daily'}">
        <div class="form-group d-flex align-items-center">
          <input class="" type="radio" name="daily-radio" value="everyDays" [disabled]="disabled"
                 (change)="regenerateCron()" [(ngModel)]="state.daily.subTab"
                 [ngClass]="state.formRadioClass"
                 checked="checked">
          <div class="form-group d-flex flex-column ml-2">
            <label for="daily-every-how-many-day">{{'component.cron-editor.every-how-many-day' | translate }}</label>
            <select class="days" [disabled]="disabled || activeTab !== 'daily' || state.daily.subTab !== 'everyDays'"
                    (change)="regenerateCron()" id="daily-every-how-many-day"
                    [(ngModel)]="state.daily.everyDays.days" [ngClass]="options.formSelectClass">
              <option *ngFor="let monthDay of selectOptions.monthDays" [ngValue]="monthDay">
                {{monthDay}}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column">
            <label for="daily-cron-timePicker">{{'component.cron-editor.at' | translate }}</label>
              <cloe-cron-time-picker [disabled]="disabled || activeTab !== 'daily' || state.daily.subTab !== 'everyDays'"
                                     (onChange)="regenerateCron()" id="daily-cron-timePicker"
                                     [(model)]="state.daily.everyDays" [selectClass]="options.formSelectClass"
                                     [use24HourTime]="options.use24HourTime"
                                     [hideSeconds]="options.hideSeconds|| !isCronFlavorQuartz">
              </cloe-cron-time-picker>
          </div>
        </div>

        <div class="form-group d-flex align-items-center">
          <input class="" type="radio" name="daily-radio" value="everyWeekDay" [disabled]="disabled"
                 (change)="regenerateCron()" [(ngModel)]="state.daily.subTab"
                 [ngClass]="state.formRadioClass">
          <div class="form-group d-flex flex-column ml-2">
            <label for="daily-cron-timePicker">{{'component.cron-editor.every-working-day' | translate }}</label>
            <cloe-cron-time-picker [disabled]="disabled || activeTab !== 'daily' || state.daily.subTab !== 'everyWeekDay'"
                                   (change)="regenerateCron()"
                                   [(model)]="state.daily.everyWeekDay" [selectClass]="options.formSelectClass"
                                   [use24HourTime]="options.use24HourTime"
                                   [hideSeconds]="options.hideSeconds || !isCronFlavorQuartz">
            </cloe-cron-time-picker>
          </div>
        </div>
      </div>

      <!-- Weekly-->
      <div class="tab-pane" *ngIf="!options.hideWeeklyTab" [ngClass]="{'active': activeTab === 'weekly'}">
        <div class="form-group d-flex">
          <div class="d-flex flex-column mr-2">
            <div>
              <input type="checkbox" [disabled]="disabled || activeTab !== 'weekly'" (change)="regenerateCron()"
                     [(ngModel)]="state.weekly.MON"
                     [ngClass]="options.formCheckboxClass">
              <span>{{'component.date-picker.i18n.longWeekdays.0' | translate}}</span>
            </div>
            <div>
              <input type="checkbox" [disabled]="disabled || activeTab !== 'weekly'" (change)="regenerateCron()"
                     [(ngModel)]="state.weekly.TUE"
                     [ngClass]="options.formCheckboxClass">
              <span>{{'component.date-picker.i18n.longWeekdays.1' | translate}}</span>
            </div>
            <div>
              <input type="checkbox" [disabled]="disabled || activeTab !== 'weekly'" (change)="regenerateCron()"
                     [(ngModel)]="state.weekly.WED"
                     [ngClass]="options.formCheckboxClass">
              <span>{{'component.date-picker.i18n.longWeekdays.2' | translate}}</span>
            </div>
            <div>
              <input type="checkbox" [disabled]="disabled || activeTab !== 'weekly'" (change)="regenerateCron()"
                     [(ngModel)]="state.weekly.THU"
                     [ngClass]="options.formCheckboxClass">
              <span>{{'component.date-picker.i18n.longWeekdays.3' | translate}}</span>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div>
              <input type="checkbox" [disabled]="disabled || activeTab !== 'weekly'" (change)="regenerateCron()"
                     [(ngModel)]="state.weekly.FRI"
                     [ngClass]="options.formCheckboxClass">
              <span>{{'component.date-picker.i18n.longWeekdays.4' | translate}}</span>
            </div>
            <div>
              <input type="checkbox" [disabled]="disabled || activeTab !== 'weekly'" (change)="regenerateCron()"
                     [(ngModel)]="state.weekly.SAT"
                     [ngClass]="options.formCheckboxClass">
              <span>{{'component.date-picker.i18n.longWeekdays.5' | translate}}</span>
            </div>
            <div>
              <input type="checkbox" [disabled]="disabled || activeTab !== 'weekly'" (change)="regenerateCron()"
                     [(ngModel)]="state.weekly.SUN"
                     [ngClass]="options.formCheckboxClass">
              <span>{{'component.date-picker.i18n.longWeekdays.6' | translate}}</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <label for="daily-cron-timePicker">{{'component.cron-editor.at' | translate }}</label>
          <cloe-cron-time-picker [disabled]="disabled || activeTab !== 'weekly'" (change)="regenerateCron()"
                                 [(model)]="state.weekly" [selectClass]="options.formSelectClass"
                                 [use24HourTime]="options.use24HourTime"
                                 [hideSeconds]="options.hideSeconds|| !isCronFlavorQuartz">
          </cloe-cron-time-picker>
        </div>
      </div>

      <!-- Monthly-->
      <div class="tab-pane" *ngIf="!options.hideMonthlyTab" [ngClass]="{'active': activeTab === 'monthly'}">
        <div class="form-group d-flex align-items-center">
          <input type="radio" name="monthly-radio" value="specificDay" [disabled]="disabled" (change)="regenerateCron()"
                 [(ngModel)]="state.monthly.subTab"
                 [ngClass]="state.formRadioClass">
          <div class="form-group d-flex flex-column ml-2">
            <label>{{'component.cron-editor.every' | translate}}</label>
            <select *ngIf="options.cronFlavor === 'quartz'" class="month-days"
                    [disabled]="disabled || activeTab !== 'monthly' || state.monthly.subTab !== 'specificDay'"
                    (change)="regenerateCron()" [(ngModel)]="state.monthly.specificDay.day"
                    [ngClass]="options.formSelectClass">
              <option *ngFor="let monthDaysWithLast of selectOptions.monthDaysWithLasts" [ngValue]="monthDaysWithLast">
                {{monthDayDisplay(monthDaysWithLast) | translate}}
              </option>
            </select>
            <select *ngIf="options.cronFlavor === 'standard'" class="month-days"
                    [disabled]="disabled || activeTab !== 'monthly' || state.monthly.subTab !== 'specificDay'"
                    (change)="regenerateCron()" [(ngModel)]="state.monthly.specificDay.day"
                    [ngClass]="options.formSelectClass">
              <option *ngFor="let monthDaysWithOutLast of selectOptions.monthDaysWithOutLasts"
                      [ngValue]="monthDaysWithOutLast">
                {{monthDayDisplay(monthDaysWithOutLast) | translate}}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column">
            <label>{{'component.cron-editor.of-month' | translate}}</label>
            <select class="months-small"
                    [disabled]="disabled || activeTab !== 'monthly' || state.monthly.subTab !== 'specificDay'"
                    (change)="regenerateCron()"
                    [(ngModel)]="state.monthly.specificDay.months" [ngClass]="options.formSelectClass">
              <option *ngFor="let month of selectOptions.months" [ngValue]="month">
                {{month}}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column">
            <label>{{'component.cron-editor.at' | translate}}</label>
            <cloe-cron-time-picker
              [disabled]="disabled || activeTab !== 'monthly' || state.monthly.subTab !== 'specificDay'"
              (change)="regenerateCron()"
              [(model)]="state.monthly.specificDay" [selectClass]="options.formSelectClass"
              [use24HourTime]="options.use24HourTime"
              [hideSeconds]="options.hideSeconds || !isCronFlavorQuartz">
            </cloe-cron-time-picker>
          </div>
        </div>
        <div class="form-group d-flex align-items-center" *ngIf="!options.hideSpecificWeekDayTab">
          <input type="radio" name="monthly-radio" value="specificWeekDay" [disabled]="disabled"
                 (change)="regenerateCron()" [(ngModel)]="state.monthly.subTab"
                 [ngClass]="state.formRadioClass">
          <div class="form-group d-flex flex-column ml-2">
            <label>{{'component.cron-editor.every' | translate}}</label>
            <div class="d-flex">
              <select class="day-order-in-month"
                      [disabled]="disabled || activeTab !== 'monthly' || state.monthly.subTab !== 'specificWeekDay'"
                      (change)="regenerateCron()" [(ngModel)]="state.monthly.specificWeekDay.monthWeek"
                      [ngClass]="options.formSelectClass">
                <option *ngFor="let monthWeek of selectOptions.monthWeeks" [ngValue]="monthWeek">
                  {{ 'component.cron-editor.month-week.' + monthWeek | translate}}
                </option>
              </select>
              <select class="week-days"
                      [disabled]="disabled || activeTab !== 'monthly' || state.monthly.subTab !== 'specificWeekDay'"
                      (change)="regenerateCron()" [(ngModel)]="state.monthly.specificWeekDay.day"
                      [ngClass]="options.formSelectClass">
                <option *ngFor="let day of selectOptions.days" [ngValue]="day">
                  {{  'component.cron-editor.days.' + day | translate }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex flex-column">
            <label>{{'component.cron-editor.of-month' | translate}}</label>
            <select class="months-small"
                    [disabled]="disabled || activeTab !== 'monthly' || state.monthly.subTab !== 'specificWeekDay'"
                    (change)="regenerateCron()" [(ngModel)]="state.monthly.specificWeekDay.months"
                    [ngClass]="options.formSelectClass">
              <option *ngFor="let month of selectOptions.months" [ngValue]="month">
                {{month}}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column">
            <label>{{'component.cron-editor.at' | translate}}</label>
            <cloe-cron-time-picker
              [disabled]="disabled || activeTab !== 'monthly' || state.monthly.subTab !== 'specificWeekDay'"
              (change)="regenerateCron()"
              [(model)]="state.monthly.specificWeekDay" [selectClass]="options.formSelectClass"
              [use24HourTime]="options.use24HourTime"
              [hideSeconds]="options.hideSeconds || !isCronFlavorQuartz">
            </cloe-cron-time-picker>
          </div>
        </div>
      </div>

      <!-- Yearly-->
      <div class="tab-pane" *ngIf="!options.hideYearlyTab" [ngClass]="{'active': activeTab === 'yearly'}">
        <div class="form-group d-flex align-items-center">
          <input type="radio" name="yearly-radio" value="specificMonthDay" [disabled]="disabled"
                 (change)="regenerateCron()" [(ngModel)]="state.yearly.subTab"
                 [ngClass]="state.formRadioClass">
          <div class="form-group d-flex flex-column ml-2">
            <label>{{'component.cron-editor.every' | translate}}</label>
            <select class="months"
                    [disabled]="disabled || activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthDay'"
                    (change)="regenerateCron()"
                    [(ngModel)]="state.yearly.specificMonthDay.month" [ngClass]="options.formSelectClass">
              <option *ngFor="let month of selectOptions.months" [ngValue]="month">
                {{ 'component.date-picker.i18n.months.' + (month -1) | translate }}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column">
            <label>{{'component.cron-editor.every' | translate}}</label>
            <select *ngIf="options.cronFlavor === 'quartz'" class="month-days"
                    [disabled]="disabled || activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthDay'"
                    (change)="regenerateCron()" [(ngModel)]="state.yearly.specificMonthDay.day"
                    [ngClass]="options.formSelectClass">
              <option *ngFor="let monthDaysWithLast of selectOptions.monthDaysWithLasts" [ngValue]="monthDaysWithLast">
                {{monthDayDisplay(monthDaysWithLast)}}
              </option>
            </select>
            <select *ngIf="options.cronFlavor == 'standard'" class="month-days"
                    [disabled]="disabled || activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthDay'"
                    (change)="regenerateCron()" [(ngModel)]="state.yearly.specificMonthDay.day"
                    [ngClass]="options.formSelectClass">
              <option *ngFor="let monthDaysWithOutLast of selectOptions.monthDaysWithOutLasts"
                      [ngValue]="monthDaysWithOutLast">
                {{monthDayDisplay(monthDaysWithOutLast)}}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column">
            <label>{{'component.cron-editor.at' | translate}}</label>
            <cloe-cron-time-picker
              [disabled]="disabled || activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthDay'"
              (change)="regenerateCron()"
              [(model)]="state.yearly.specificMonthDay" [selectClass]="options.formSelectClass"
              [use24HourTime]="options.use24HourTime"
              [hideSeconds]="options.hideSeconds || !isCronFlavorQuartz">
            </cloe-cron-time-picker>
          </div>
        </div>
        <div class="form-group d-flex align-items-center" *ngIf="!options.hideSpecificMonthWeekTab">
          <input type="radio" name="yearly-radio" value="specificMonthWeek" [disabled]="disabled"
                 (change)="regenerateCron()" [(ngModel)]="state.yearly.subTab"
                 [ngClass]="state.formRadioClass">
          <div class="form-group d-flex flex-column ml-2">
            <label>{{'component.cron-editor.every' | translate}}</label>
            <div class="d-flex">
              <select class="day-order-in-month"
                      [disabled]="disabled || activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthWeek'"
                      (change)="regenerateCron()" [(ngModel)]="state.yearly.specificMonthWeek.monthWeek"
                      [ngClass]="options.formSelectClass">
                <option *ngFor="let monthWeek of selectOptions.monthWeeks" [ngValue]="monthWeek">
                  {{ 'component.cron-editor.month-week.' + monthWeek | translate}}
                </option>
              </select>
              <select class="week-days"
                      [disabled]="disabled || activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthWeek'"
                      (change)="regenerateCron()" [(ngModel)]="state.yearly.specificMonthWeek.day"
                      [ngClass]="options.formSelectClass">
                <option *ngFor="let day of selectOptions.days" [ngValue]="day">
                  {{  'component.cron-editor.days.' + day | translate }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex flex-column ml-2">
            <label>{{'component.cron-editor.of-month' | translate}}</label>
            <select class="months"
                    [disabled]="disabled || activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthWeek'"
                    (change)="regenerateCron()"
                    [(ngModel)]="state.yearly.specificMonthWeek.month" [ngClass]="options.formSelectClass">
              <option *ngFor="let month of selectOptions.months" [ngValue]="month">
                {{ 'component.date-picker.i18n.months.' + (month -1) | translate }}
              </option>
            </select>
          </div>
          <div class="form-group d-flex flex-column ml-2">
            <label>{{'component.cron-editor.at' | translate}}</label>
            <cloe-cron-time-picker
              [disabled]="disabled || activeTab !== 'yearly' || state.yearly.subTab !== 'specificMonthWeek'"
              (change)="regenerateCron()"
              [(model)]="state.yearly.specificMonthWeek" [selectClass]="options.formSelectClass"
              [use24HourTime]="options.use24HourTime"
              [hideSeconds]="options.hideSeconds || !isCronFlavorQuartz">
            </cloe-cron-time-picker>
          </div>
        </div>
      </div>

      <!-- Advanced-->
      <div class="tab-pane" *ngIf="!options.hideAdvancedTab" [ngClass]="{'active': activeTab === 'advanced'}">
        <div class="d-flex flex-column">
          <label>{{ 'component.cron-editor.cron-expression' | translate}}</label>
          <input type="text" class="advanced-cron-editor-input" ng-disabled="disabled || activeTab !== 'advanced'"
                 (change)="regenerateCron()"
                 [(ngModel)]="state.advanced.expression" [ngClass]="options.formInputClass">
        </div>
      </div>
    </div>
  </div>
</div>
