@import "../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-cron-editor {
  .cron-editor-main {
    margin-top: 10px;
  }

  .cron-editor-main .cron-editor-container .cron-editor-radio {
    width: 20px;
    display: inline-block;
  }

  .cron-editor-main .cron-editor-container .cron-editor-select,
  .cron-editor-main .cron-editor-container .cron-editor-input,
  .cron-editor-main .cron-editor-container .cron-editor-checkbox {
    display: inline-block;
  }

  .cron-editor-main .cron-editor-container .well-time-wrapper {
    padding-left: 20px;
  }

  .cron-editor-main .cron-editor-container .inline-block {
    display: inline-block;
  }

  .cron-editor-main .cron-editor-container .minutes,
  .cron-editor-main .cron-editor-container .hours,
  .cron-editor-main .cron-editor-container .days,
  .cron-editor-main .cron-editor-container .seconds {
    width: 70px;
  }

  .cron-editor-main .cron-editor-container .months {
    width: 120px;
  }

  .cron-editor-main .cron-editor-container .month-days {
    width: 130px;
  }

  .cron-editor-main .cron-editor-container .months-small {
    width: 60px;
  }

  .cron-editor-main .cron-editor-container .day-order-in-month {
    width: 95px;
  }

  .cron-editor-main .cron-editor-container .week-days {
    width: 120px;
  }

  .cron-editor-main .cron-editor-container .advanced-cron-editor-input {
    width: 200px;
  }

  .cron-editor-main .cron-editor-container .hour-types {
    width: 70px;
  }

  .nav-tabs {
    border-bottom: 1px solid $primary-color;
    margin: 0 !important;
    .nav-item {
      cursor: pointer;
    }
    .nav-link {
      color: $font-color;
      font-size: $small-font-size;
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }
  .nav-link:hover {
    border-bottom: 1px solid $primary-color;
  }
  .nav-tabs .nav-link:hover {
    border-bottom: 1px solid $primary-color;
  }
  .nav-tabs .nav-link.active {
    background-color: $cloe-white;
    border-color: $primary-color $primary-color $cloe-white;
    color: $primary-color;
    font-weight: bold;
  }
  .tab-body {
    background-color: $cloe-white;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .form-group {
    margin-right: 1rem;
  }
  .cron-label {
    border-color: $primary-color;
    border-width: 1px;
  }
}
