<cloe-core-modal [modalTitle]="modalTitle">
  <div class="d-flex justify-content-end">
    <cloe-core-button [text]="'global.add'"
                      (click)="newMetadata()"></cloe-core-button>
  </div>
  <cloe-core-table-static
    [tableConfig]="tableConfig"
    [data]="metadataList"
  ></cloe-core-table-static>

  <cloe-core-table-static
    *ngIf="metadataToDeleteList.length !== 0"
    [tableConfig]="deleteTableConfig"
    [data]="metadataToDeleteList"
  ></cloe-core-table-static>

  <form (ngSubmit)="onSubmit()" #treeForm = "ngForm" *ngIf="upsertMetadataTitle">

    <div class="d-flex">
      <div class="card-title">{{ upsertMetadataTitle | translate }}</div>
    </div>

    <div class="d-flex flex-column flex-wrap mb-3 justify-content-center">
      <div class="d-flex flex-column align-self-center domain-picker-container">
        <cloe-core-domain-picker
          [config]="domainPickerConfig"
          [(ngModel)]="metadataKeyPickerModel"
          name="metadataKeyPicker" required></cloe-core-domain-picker>
      </div>
      <div class="d-flex align-self-center">
        <div class="d-flex flex-column align-self-center form-group pr-2">
          <label for="metadataType">{{'page.metadata.metadata-type' | translate}}</label>
          <select class="form-control" [(ngModel)] = "metadataModel.metadataType"
                  name="metadataType" id="metadataType" #metadataType="ngModel"
                  [ngClass]="{ 'is-invalid': !(metadataType.valid || metadataType.pristine) }">
            <option [value]=""></option>
            <option *ngFor="let m of metadataTypeList" [value]="m">{{m}}</option>
          </select>
          <div [hidden]="metadataType.valid || metadataType.pristine" class="form-text invalid-feedback">
            <div>{{'page.metadata.required-metadataType-message' |
              translate}}
            </div>
          </div>
        </div>
        <div class="d-flex flex-column align-self-center form-group">
          <label for="metadataValue">{{'global.value' | translate}}</label>
          <input type="text" class="form-control" [(ngModel)] = "metadataModel.metadataValue"
                 name="metadataValue" id="metadataValue" #metadataValue="ngModel"
                 [ngClass]="{ 'is-invalid': !(metadataValue.valid || metadataValue.pristine) }" required>
          <div [hidden]="metadataValue.valid || metadataValue.pristine" class="form-text invalid-feedback">
            <div>{{'page.metadata.required-metadataValue-message' | translate}} </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-self-center">
        <cloe-core-button [text]="'global.cancel'"
                          (click)="upsertMetadataTitle = undefined"></cloe-core-button>
        <cloe-core-button
          buttonType="submit"
          [disable]="!treeForm.form.valid"
          size="sm"
          text="{{'global.add' | translate}}">
        </cloe-core-button>
      </div>
    </div>

  </form>

  <div class="mt-4 d-flex justify-content-end">
    <cloe-core-button [text]="'global.cancel'"
                      (click)="modalRef.close(false)"></cloe-core-button>
    <cloe-core-button
      (clickEvent)="onSave()"
      text="{{'global.save' | translate}}">
    </cloe-core-button>
  </div>
</cloe-core-modal>



