<div class="d-inline-flex">
  <cloe-core-form-select-object
    name="channel-range"
    labelPrefix="global."
    [optionKeyField]="'id'"
    [optionLabelField]="'name'"
    [options]="channelRanges"
    (select)="onSelect($event)"
    [asObject]="true">
  </cloe-core-form-select-object>
</div>

<hr>

<cloe-core-table-static
  [tableConfig]="tableConfig"
  [data]="data">
</cloe-core-table-static>
