<div class="d-flex justify-content-between">
  <span>{{title | translate}}</span>
  <div ngbDropdown class="dropdown-no-toggle dropdown-grow" placement="bottom-right">
    <cloe-core-button altLabel="" iconType="fa" icon="fa-plus" ngbDropdownToggle></cloe-core-button>
    <div ngbDropdownMenu>
      <button *ngIf="!hideConstant" class="dropdown-item" (click)="addNew('CONSTANT')">
        {{ 'component.cloe-math.group.defined-constants' | translate}}
      </button>
      <button *ngIf="!hideFunction" class="dropdown-item" (click)="addNew('FUNCTION')">
        {{ 'component.cloe-math.group.defined-formulas' | translate}}
      </button>
      <button *ngIf="!hideChannel" class="dropdown-item" (click)="addNew('CHANNEL')">
        {{ 'component.cloe-math.group.defined-channels' | translate}}
      </button>
    </div>
  </div>
</div>
<cloe-core-box
  [scrollbarStyle]="{'max-height': '150px'}"
  [customStyle]="{ 'padding': 0 }">
  <cloe-core-table-static
    [tableConfig]="tableConfig"
    [data]="arguments">
  </cloe-core-table-static>
</cloe-core-box>
