<div class="form-group">
  <label *ngIf="name" for="{{inputId}}">{{ (labelPrefix + name) | translate}}</label>
  <select
    #select_input
    id="{{inputId}}"
    name="{{name}}"
    [ngClass]="{'is-invalid': hasErrors}"
    (change)="onChange(select_input.value)" class="form-control">
    <option value="-1" selected="true"></option>
    <option
      *ngFor="let option of options" [value]="option[optionKeyField]"
      [selected]="option[optionKeyField] === value"
    >
      {{ (optionLabelPrefix + option[optionLabelField]) | translate }}
    </option>
  </select>
  <div *ngIf="hasErrors && validationMessages" class="form-text invalid-feedback">
    <ng-container *ngFor="let error of errors">
      {{ ('validation.generic.' + error ) | translate}}
    </ng-container>
  </div>
</div>
