@import "../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-page-site-context {
  .site-context-container {
    background: $cloe-gray-darker;
    position: -webkit-sticky;
    position: sticky;
    top: 77px;
    z-index: $zindex-site-context;
    width: 100%;
    height: 25px;
    font-size: $font-size-sm;
    padding: 0;
    margin: 0;
  }
  .site-picker-container {
    padding-right: 1rem;
  }
}
