<div class="d-flex justify-content-between align-items-center site-context-container">
  <div class="d-flex">
    <cloe-core-breadcrumb></cloe-core-breadcrumb>
  </div>
  <div class="d-flex site-picker-container">
    <cloe-site-context-picker
      [site]="site"
      [siteTree]="siteTree"
      [singleSiteSelection]="singleSiteSelection"></cloe-site-context-picker>
  </div>
</div>
<div class="site-context-main-content">
  <ui-view></ui-view>
</div>
