<div class="form-group">
  <label for="{{inputId}}">{{ (labelPrefix + name) | translate}}</label>
  <select
    #select_input
    id="{{inputId}}"
    name="{{name}}"
    [ngClass]="{'is-invalid': hasErrors}"
    (change)="onChange(select_input.value)"
    class="form-control">
    <option value="-1"></option>
    <option *ngFor="let option of options" [value]="option" [selected]="option === value">
      {{(optionLabelPrefix + option) | translate}}
    </option>
  </select>
  <div *ngIf="hasErrors" class="form-text invalid-feedback">
    <ng-container *ngFor="let error of errors">
      {{ ('validation.generic.' + error ) | translate}}
    </ng-container>
  </div>
</div>
