<cloe-core-modal [modalTitle]="modalTitle">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">

    <div class="d-flex flex-wrap flex-column align-content-center">

      <div class="form-item">
        <cloe-core-form-select-object
          [disabled]="isEditMode()"
          [validationMessages]="false"
          [optionLabelField]="'name'"
          [optionKeyField]="'ngState'"
          [optionLabelPrefix]="'menu.'"
          [options]="isEditMode() ? [ findPageStateByNgState(pageHelp.pageState) ] : selectablePageStateList"
          [name]="'page-state'"
          [labelPrefix]="'page.help-online.'"
          [(ngModel)]="pageHelp.pageState" required>
        </cloe-core-form-select-object>
      </div>

      <div class="form-item">
        <cloe-core-form-select
          [optionLabelPrefix]="'status.'"
          [options]="statuses"
          [name]="'status'"
          [labelPrefix]="'global.'"
          [(ngModel)]="pageHelp.status" required>
        </cloe-core-form-select>
      </div>

      <div class="form-item">
        <cloe-core-form-input
          [name]="'html-file-choose'"
          [labelPrefix]="'page.help-online.'"
          [type]="'file'"
          [accept]="'.html'"
          (change)="onFileSelected($event.target.files)"></cloe-core-form-input>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-end">
      <!--[disable]=userForm.valid tutto tranne lingua e tags-->
      <cloe-core-button [text]="'global.cancel'"
                   (click)="modalRef.close(false)"></cloe-core-button>
      <cloe-core-button
        buttonType="submit"
        [disable]="!pageHelp.htmlHelpText || !userForm.form.valid"
        text="{{'global.save' | translate}}">
      </cloe-core-button>
    </div>

  </form>
</cloe-core-modal>
