@import "../../../../../styles/variables";

cloe-core-table-static {
  .card-title h6 {
    color: $primary-color;
    font-weight: bold;
  }
  .table {
    font-size: $small-font-size;
  }
  .table td {
    padding: 0 0 0 0.75rem;
    vertical-align: middle;
    border: 1px solid $table-border-color;

    .material-icons {
      font-size: 15px;
    }
  }
  .table th {
    padding: 0.3rem 0.3rem 0.3rem 0.75rem;
    color: $cloe-gray-darker;
    vertical-align: middle;
    border: 1px solid $table-border-color;
  }
  .divider {
    height: 10px;
  }
  th[colspan] {
    text-align: center;
  }

}
