<cloe-core-table-filter
  *ngIf="filtersConfig"
  [filterConf]="filtersConfig"
  [(filters)]="filters"
  (filterChange)="filterData()">
</cloe-core-table-filter>

<div class="divider" *ngIf="filtersConfig"></div>

<div class="card-title d-flex justify-content-between align-items-center">
  <h6 *ngIf="metadata?.tableTitle">{{metadata?.tableTitle | translate: tableTitleArgs}}</h6>
  <span *ngIf="!metadata?.tableTitle"></span>
  <cloe-core-button *ngIf="metadata?.addNewButton"
                    [text]="metadata?.addNewButton.buttonLabel || 'global.add'"
                    (click)="addNewEntry()"
  ></cloe-core-button>
  <div class="d-flex" *ngIf="metadata?.download">
    <cloe-core-button
      *ngIf="metadata?.download.csv"
      [icon]="'file_download'"
      [customClass]="'mb-3 btn-primary'"
      [isIconButton]="true"
      (click)="downloadCSV()"
    ></cloe-core-button>
  </div>
</div>
<perfect-scrollbar>
  <table class="table">
    <thead>
    <ng-container *ngFor="let headerItem of groupedHeader; let first = first">
      <tr>
        <ng-container  *ngFor="let field of headerItem">
          <th scope="col"
              [attr.colspan]="field.colspan ? field.colspan : 1"
              [attr.rowspan]="field.rowspan ? field.rowspan : 1"
              [ngStyle]="{'background-color': field.backgroundColor}"
              style="white-space: nowrap;">

            <cloe-core-sortable-column
              *ngIf="!field.rowHeader"
              [columnName]=field.columnName
              [sortedColumn]=metadata?.sort
              [fieldName]=field.fieldName
              [metadata]=metadata>
            </cloe-core-sortable-column>
          </th>
        </ng-container>
        <th *ngIf="first && actions" rowspan="0"></th>
      </tr>
    </ng-container>
    </thead>
    <tbody>
    <ng-container *ngIf="(_data | filter: filters | sortArray: metadata) as filtersResult">
      <tr *ngFor="let row of filtersResult  | paginate: {
                                                          itemsPerPage: pagination.size,
                                                          currentPage: pagination.page,
                                                          totalItems: filtersResult.length
                                                      }">
        <ng-container *ngFor="let columnHead of headerLeaves">
          <td *ngIf="!columnHead.rowHeader" [ngStyle]="{'white-space': columnHead.nowrap ? 'nowrap' : 'unset'}">
            <span *ngIf="columnHead.i18n && isI18nEnabled(row, columnHead.i18n.conditionalField)">
              {{ ( columnHead.i18n.prefix + getValueFromRow(row, columnHead.fieldName) + columnHead.i18n.suffix ) | translate:row }}
            </span>
            <span *ngIf="!columnHead.i18n && columnHead.pipe">
              <span *ngIf="columnHead.conditionalPipe && conditionalPipesDisabled">
                {{getValueFromRow(row, columnHead.fieldName) | empty}}
              </span>
              <span *ngIf="!columnHead.conditionalPipe || !conditionalPipesDisabled">
                {{ ( getValueFromRow(row, columnHead.fieldName) + '' ) | dynamic: columnHead.pipe: [ columnHead.pipeArgs, (getValueFromRow(row, columnHead.pipeArgField))]: row }}
              </span>
            </span>
            <span *ngIf="!columnHead.i18n && !columnHead.pipe">
              <ng-container *ngIf="!!columnHead.cellFormatter; else normalCell">
                {{ columnHead.cellFormatter(row) }}
              </ng-container>
              <ng-template #normalCell>
                  {{ getValueFromRow(row, columnHead.fieldName) | empty }}
              </ng-template>
            </span>
            <span *ngIf="columnHead.i18n && !isI18nEnabled(row, columnHead.i18n.conditionalField)">
              {{ getValueFromRow(row, columnHead.fieldName) }}
            </span>
          </td>
          <th scope="row" *ngIf="columnHead.rowHeader">
              <span *ngIf="columnHead.i18n && row[columnHead.fieldName]">
                {{ ( columnHead.i18n.prefix + getValueFromRow(row, columnHead.fieldName) + columnHead.i18n.suffix ) | translate:row }}
              </span>
            <span *ngIf="!columnHead.i18n && columnHead.pipe && row[columnHead.fieldName]">
                {{ ( getValueFromRow(row, columnHead.fieldName) + '' ) | dynamic: columnHead.pipe: columnHead.pipeArgs}}
              </span>
            <span *ngIf="!columnHead.i18n && !columnHead.pipe">
                {{getValueFromRow(row, columnHead.fieldName) | empty}}
              </span>
          </th>
        </ng-container>
        <td *ngIf="actions">
          <div style="white-space: nowrap;" class="d-flex justify-content-end">
            <cloe-core-button *ngFor="let action of actions"
                              [type]="'outline-warning'"
                              [icon]="action.icon"
                              (click)="onActionClick(action.actionType, action.metadata, row )"
                              [size]="'sm'"
                              [isIconButton]="true"
                              [altLabel]="action.metadata?.altMessage">
            </cloe-core-button>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</perfect-scrollbar>
<div class="row" *ngIf="!metadata?.disablePagination">
      <div class="col-2" style="float: left;">
        <select class="form-control" (change)="sizeChange($event.target.value)">
          <option *ngFor="let option of pagination.sizeOptions" value={{option}}>{{option}}</option>
        </select>
      </div>
      <div class="col-10">
        <ngb-pagination style="float: right"
                        (pageChange)="loadPage($event)"
                        [pageSize]="pagination.size"
                        [maxSize]="pagination.maxSize"
                        [collectionSize]="(_data | filter: filters).length"
                        [boundaryLinks]="true">
        </ngb-pagination>
      </div>
    </div>

