<div class="card mx-auto">
  <div class="card-body">
    <h2 class="card-title text-center mb-5">
      {{'global.login' | translate}}
    </h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group ">
        <label for="username">
          {{'global.username' | translate}}
        </label>
        <input type="text"
           class="form-control"
           id="username"
           required="required"
           [(ngModel)]="model.username"
           name="username"
           #username="ngModel">
      </div>
      <div class="form-group">
        <label for="passwords">
          {{'global.password' | translate}}
        </label>
        <input type="password" minlength="4" maxlength="100"
           class="form-control"
           id="passwords"
           required="required"
           [(ngModel)]="model.password"
           name="password"
           #password="ngModel">
      </div>

      <div class="mt-5 text-center">
        <cloe-core-button
          buttonType="submit"
          customClass="px-gdn-btn-outline card-bg"
          size="sm"
          [disable]="!loginForm.form.valid"
          text="global.login">
        </cloe-core-button>
      </div>

      <div class="mt-4 text-center">
        {{'page.login.forgot-password' | translate}}
        <a href="#">
          {{'global.reset' | translate}}
        </a>
      </div>
    </form>
  </div>
</div>
<img src="/assets/images/user-pages/login-img.png">
