@import "../../../../styles/variables";

cloe-core-header {
  .header-dropdown-container {
    display: flex;
    background: $cloe-gray-light;
    padding-left: 1rem;
    align-items: center;
    color: $cloe-black;
  }
  .header-right {
    width: 100%;

    select {
      border: 1px solid $primary-color !important;
      min-width: 75px;
    }
  }
}
