<header class="d-flex">
  <div class="menu align-self-center" (click)="toggleSideBar()">
    <i class="material-icons">menu</i>
  </div>
  <div class="d-flex justify-content-end header-right">
    <div class="d-flex align-self-center">
      <cloe-core-help-online></cloe-core-help-online>
    </div>
    <div class="form-group mb-0 mr-3 align-self-center">
      <select #langSelect (change)="changeLanguage(langSelect.value)" class="form-control">
        <option
          *ngFor="let lang of translate.getLangs()"
          [value]="lang"
          [selected]="lang === translate.currentLang"
        >
          {{ lang }}
        </option>
      </select>
    </div>

    <div class="header-dropdown-container">
      <img class="user-avatar d-none d-md-block" src="/assets/images/avatars/avatar-1.png">
      <div class="user-name d-none d-md-block">{{user.firstName + ' ' + user.lastName}}</div>
      <div ngbDropdown class="dropdown-no-toggle dropdown-bounce" placement="bottom-right">
        <i class="material-icons px-4" ngbDropdownToggle>keyboard_arrow_down</i>
        <div ngbDropdownMenu class="dropdown-menu">
          <div class="dropdown-header d-flex justify-content-end align-items-center">
            <img class="user-avatar" src="/assets/images/avatars/avatar-1.png">
            <div class="user-name">{{user.firstName + ' ' + user.lastName}}</div>
            <i class="material-icons pl-4">keyboard_arrow_up</i>
          </div>
          <div class="dropdown-divider"></div>
<!--          <a class="dropdown-item" href="#">{{'global.messages' | translate}}</a>-->
          <a class="dropdown-item" uiSref="user-profile">{{'global.profile' | translate}}</a>
<!--          <a class="dropdown-item" href="#">{{'global.options' | translate}}</a>-->
          <div class="dropdown-divider"></div>
          <button (click)="doLogout()" class="dropdown-item d-flex justify-content-end">
            <span>{{'global.logout' | translate }}</span>
            <i class="material-icons ml-auto">exit_to_app</i>
          </button>
        </div>
      </div>
    </div>


  </div>
</header>
