<div class="d-flex back-button-container" *ngIf="isBackButtonVisible()">
  <div class="d-flex p-1">
    <cloe-core-button [text]="'global.back' | translate" (clickEvent)="goBack()"></cloe-core-button>
  </div>
</div>
<ui-view></ui-view>
