@import "../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-crud-bo-page {
  .back-button-container {
    background: $cloe-white;
    position: -webkit-sticky;
    position: sticky;
    top: 77px;
    z-index: $zindex-header;
    width: 100%;
    font-size: $font-size-sm;
  }
  .divider {
    height: 10px;
  }
}
