cloe-core-accordion {
  .accordion-cevron {
    transform: rotate(-270deg);
    transition: .3s all cubic-bezier(1, 0.25, 0.25, .8);
    will-change: transform;
  }

  .collapsed .accordion-cevron {
    transform: rotate(-90deg);
  }

  ngb-accordion .btn {
    padding: 0;
  }
}
