<ngb-accordion #accordion="ngbAccordion" [destroyOnHide]="false" [activeIds]="activeIds">
  <ngb-panel [id]="panelId">
    <ng-template ngbPanelTitle>
      <span>{{accordionTitle | translate}}</span>
      <i class="material-icons accordion-cevron">chevron_left</i>
    </ng-template>
    <ng-template ngbPanelContent>
      <ng-content></ng-content>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
