<div class="row" *ngIf="graphsConfig.length !== 0">
  <div class="col-md-3">
    <select class="form-control" (change)="updateColumns()" [(ngModel)]="currentGraph">
      <option *ngFor="let graphConfig of graphsConfig" [ngValue]="graphConfig">
        {{graphConfig.name}}
      </option>
    </select>
  </div>
</div>

<div class="d-flex justify-content-end">
  <cloe-core-button
    [icon]="'file_download'"
    [customClass]="'mb-3 btn-primary'"
    [isIconButton]="true"
    (click)="downloadCSV()"
  ></cloe-core-button>
</div>

<cloe-core-table-static
  [data]="currentGraph.data"
  [tableConfig]="tableConfig"
></cloe-core-table-static>
