cloe-core-tree-node-management {

  .date-range-label {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .accordion {
    .card-header {
      padding-top: 0;

      .btn-link {
        color: inherit;
      }
    }
  }
  .accordion-cevron {
    transform: rotate(-90deg);
    transition: .3s all cubic-bezier(1, 0.25, 0.25, .8);
    will-change: transform;
  }

  .collapsed .accordion-cevron {
    transform: rotate(-270deg);
  }
  .status-ACTIVE {
    color: green;
  }
  .status-DISABLE {
    color: red;
  }
  .status-CANCELLED{
    color: lightslategrey;
  }
}
