<cloe-core-modal [modalTitle]="modalTitle">
  <ng-template #treeNotExist>
    <ngb-alert [dismissible]="false"> <!-- TODO configurable notification component -->
      <strong>Warning!</strong> Nessun albero trovato per questo utente.
    </ngb-alert>
  </ng-template>
  <div class="row" *ngIf="trees.length !== 0; else treeNotExist">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <!--TREE-->
            <div class="col-lg-8 col-sm-12">
              <label for="select-type">{{'component.tree-node-management.select-type' | translate}}</label>
              <select
                id="select-type"
                class="form-control"
                (change)="loadTreeData()"
                [(ngModel)]="selectedTree"
              >
                <option *ngFor="let tree of trees"
                        [ngValue]="tree"
                >{{tree.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12">
              <div class="card">
                <div class="row">
                  <h5 class="card-title col-sm-6"><b>{{'component.tree-node-management.node-management' | translate}}
                  </b></h5>
                </div>
                <!--LEGEND-->
                <div class="row">
                  <h6 class="card-title col-sm-3">{{'global.legend' | translate}} {{'global.status' | translate}}:</h6>
                  <div class="col-sm-3" *ngFor="let status of statuses">
                    <span class="d-flex status-{{status}}">&#9724; {{'status.'+status | translate }}</span>
                  </div>
                </div>
                <!--TOGGLE-->
                <div class="row">
                  <div class="d-flex align-items-center mb-3 col-6">
                    <div>
                      <label class="mb-0" for="toggle-1">{{'global.see-active-nodes' | translate }}:</label>
                    </div>
                    <div class="px-gdn-toggle pl-3">
                      <input #a id="toggle-1" type="checkbox" name="activeNodesToggle"
                             [(ngModel)]="activeNodesToggle" (change)="onToggleChange(a.checked)">
                      <label class="label-default" for="toggle-1"></label>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-lg-7">
                      <cloe-core-tree
                        #cloeTree
                        [nodes]="treeNodes"
                        [options]="options"
                        [stateConfig]="{state: state}"
                        [styleConfig]="{statusColorPath: 'userNode.status'}"
                        [filtersConfig]="filtersConfig"
                        (nodeActivate)="selectNode($event.node)"
                        (nodeDeactivate)="deselectNode($event.node)">
                      </cloe-core-tree>
                    </div>
                    <!--FORM NODE-->
                    <div class="col-12 col-lg-5">
                      <div *ngIf="selectedNodes.length; else nodeNotSelected">
                        <form (ngSubmit)="onSubmit()" #nodeForm="ngForm">
                          <div class="row">
                            <div class="card">
                              <!--<div class="card-body">-->
                              <div class="col-12 form-group">
                                <!--NAME NODE-->
                                <label>{{'global.name' | translate}}</label>
                                <div *ngFor="let node of selectedNodes">
                                  <label><b>{{node.data.name}}</b></label>
                                </div>
                                <!--STATUS NODE-->
                                <div>
                                  <label class="card-title" for="status-def">
                                    {{'global.status' | translate}}</label>
                                  <select #status class="form-control" name="status"
                                          id="status-def"
                                          [(ngModel)]="nodeModel.status"
                                  >
                                    <option *ngFor="let status of statuses"
                                            [value]="status">
                                      {{'status.'+status | translate }}
                                    </option>
                                  </select>
                                </div>
                                <br>
                                <!--DATE RANGE-->
                                <div>
                                  <h6 class="card-title">{{'global.rangeDate' | translate}}</h6>
                                  <cloe-core-date-picker
                                    [isRange]="true"
                                    [initStartDate]="nodeModel.validStartDate"
                                    [initEndDate]="nodeModel.validEndDate"
                                    (dateChanged)="onDateChange($event)"
                                  >
                                  </cloe-core-date-picker>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--SAVE BUTTON-->
                          <div class="mt-4 d-flex justify-content-end">
                            <cloe-core-button [text]="'global.cancel'"
                                         (click)="modalRef.close(false)"
                                         customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
                            <cloe-core-button
                              [disable]="!nodeForm.form.valid"
                              buttonType="submit"
                              size="sm"
                              text="{{'global.save' | translate}}"
                              customClass="px-gdn-btn-outline card-bg">
                            </cloe-core-button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <ng-template #nodeNotSelected>
                      <ngb-alert [dismissible]="false"> <!-- TODO configurable notification component -->
                        <strong>Warning!</strong> Seleziona un nodo per modificarlo.
                      </ngb-alert>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</cloe-core-modal>


