<cloe-core-modal [modalTitle]="modalTitle">

  <div class="d-flex p-2 justify-content-between flex-wrap">
    <div class="d-flex p-2">
      <cloe-core-tree #channelTree
                      [nodes]="channelNodes"
                      [nodesConfig]="channelNodesConfig"
                      [options]="channelTreeOptions"
                      [treeInfo]="{treeTitle:'page.channel-site-tree.channels-tree'}"
                      (nodeRemoved)="onNodeRemoved($event)">
      </cloe-core-tree>
    </div>

    <div class="d-flex flex-column p-2">
      <cloe-core-tree #channelNotInNodeTree
                      [nodes]="channelNotCombinedNodes"
                      [options]="channelsNotInNodeTreeOptions"
                      [treeInfo]="{treeTitle:'component.channel-combine.channel-to-combine'}">
      </cloe-core-tree>

      <cloe-core-tree #extChannelsTree
                      [nodes]="extChannelNodes"
                      [options]="channelsNotInNodeTreeOptions"
                      [treeInfo]="{treeTitle:'component.channel-combine.ext-channel-to-combine'}">
      </cloe-core-tree>
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-end">
    <cloe-core-button [text]="'global.cancel'"
                      (click)="modalRef.close(false)"></cloe-core-button>
    <cloe-core-button
      text="{{'global.save' | translate}}"
      (clickEvent)="saveTree()">
    </cloe-core-button>
  </div>

</cloe-core-modal>
