<div>
  <div class="modal-header">
    <h4 *ngIf="modalTitle" class="modal-title">{{ modalTitle | translate }}</h4>
    <button type="button" class="close" (click)="dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <ng-content></ng-content>
  </div>
</div>
