<div class="content text-center">
  <img src="/assets/images/user-pages/404-img.png">
  <h2 class="mt-5">{{'page.404.title' | translate}}</h2>
  <div>FORBIDDEN</div>
  <button
    type="button"
    class="btn btn-outline-light btn-lg mt-3 mt-lg-5"
    uiSref="home"
  >
    {{'page.404.goto-home-btn' | translate}}
  </button>
</div>
