<form [formGroup]="form" (submit)="onSubmit()">

  <div class="d-flex flex-wrap">
    <div class="d-flex" *ngFor="let question of questions">
      <cloe-core-question [question]="question" [form]="form"></cloe-core-question>
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-end" *ngIf="config.submitButton">
    <cloe-core-button [text]="'global.cancel'"
                      (click)="onCancel()"
                      customClass="px-gdn-btn-outline card-bg">
    </cloe-core-button>
    <cloe-core-button
      [disable]="!isValid"
      buttonType="submit"
      text="{{'global.save' | translate}}"
      customClass="px-gdn-btn-outline card-bg">
    </cloe-core-button>
  </div>

</form>
