<div class="d-flex justify-content-between">
  <div class="card-title d-flex"><h6>{{ 'page.channel-site-tree.channels-tree' | translate }}</h6></div>
  <div class="d-flex">
    <cloe-core-button
      [icon]="'save'"
      [isIconButton]="true"
      [altLabel]="'page.channel-site-tree.save-tree'"
      (clickEvent)="saveTree()"></cloe-core-button>
  </div>
</div>

<cloe-sites-channels-tree-actions [treeActions]="channelsTreeActions"></cloe-sites-channels-tree-actions>
<cloe-core-tree
  [nodesConfig]="channelNodesConfig"
  [nodes]="channelNodes"
  [options]="channelsTreeOptions"
  (nodeActivate)="onNodeActive($event)"
  (nodeDeactivate)="onNodeDeactive($event)"
  (nodeMoved)="onNodeMoved($event)"
  (nodeRemoved)="onNodeRemoved($event)"></cloe-core-tree>
