<ngb-tabset>
  <ngb-tab title="{{( 'component.cloe-math.group.' + groupName ) | translate }}" *ngFor="let groupName of groups">
    <ng-template ngbTabContent>
      <div *ngIf="state.groups[groupName]">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-inline-block">
            <div class="form-group">
              <label for="filter-{{groupName}}">{{'global.filter' | translate}}</label>
              <input id="filter-{{groupName}}" class="form-control" [(ngModel)]="filter[groupName]">
            </div>
          </div>
        </div>

        <perfect-scrollbar>
          <div>
            <cloe-formula-button
              *ngFor="let item of state.groups[groupName].items | filter: {name: (filter[groupName] || '')}"
              [formula]="item"
              [origin]="origin"
              [editable]="state.groups[groupName].editable">
            </cloe-formula-button>
          </div>
        </perfect-scrollbar>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
