@import "../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-serial-chart {
  .axis {
    width: 50px;
    background: rgba(247, 250, 89, 0.2);
    border: 1px #f7fa59 solid;
  }

  .chart-actions {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: bold;
  }

  .chart-actions__icon {
    padding-right: 5px;
  }

  .toggleActive {
    color: $primary-color;
  }
  
  .dropdown-item {
    cursor: pointer;
  }
}
