<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-11 col-sm-11 color-black">
        <label>{{'global.channel' | translate}}: </label>
        {{getIntegragleSymbol()}}{{serialChart.channelName}} ({{getUnitSymbol()}}) [{{serialChart.channelPath}}]
      </div>
      <div class="chart-actions position-absolute" style="right: 0">
        <i class="chart-actions__icon fa fa-area-chart"></i>
        <span>{{ 'chart.chart-actions' | translate }}</span>
        <div ngbDropdown class="dropdown-no-toggle" placement="left-top">
          <i class="material-icons" ngbDropdownToggle>keyboard_arrow_down</i>
          <div ngbDropdownMenu>
            <button
              class="dropdown-item"
              [disabled]="action.disabled"
              [ngClass]="{toggleActive: action.toggleActive}"
              *ngFor="let action of graphActions"
              (click)="handleAction(action)">
              <i class="chart-legend__icon fa {{action.icon}}"></i>
              {{action.label | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div [id]="serialChart.divId" [style.width.%]="100" [style.height.px]="500"></div>
    </div>
  </div>
</div>
