<cloe-core-modal [modalTitle]="modalTitle">
  <div class="d-flex p-2 justify-content-between flex-wrap">
    <div class="d-flex flex-column p-2">
      <cloe-core-tree #combinedRatesTree
                      [nodes]="selectedRatesNodes"
                      [nodesConfig]="rangesNodeConfig"
                      [options]="combinedRangesTreesOptions"
                      (nodeActivate)="onNodeActivated($event)"
                      (nodeRemoved)="onNodeRemoved($event)">
      </cloe-core-tree>
      <cloe-core-tree #combinedProfilesTree
                      [nodes]="selectedProfilesNodes"
                      [nodesConfig]="rangesNodeConfig"
                      [options]="combinedRangesTreesOptions"
                      (nodeActivate)="onNodeActivated($event)"
                      (nodeRemoved)="onNodeRemoved($event)">
      </cloe-core-tree>
    </div>

    <div class="d-flex flex-column p-2">
      <cloe-core-tree #ratesToCombineTree
                      [nodes]="ratesToCombineNodes"
                      [options]="rangesToCombineTreesOptions"
                      (nodeActivate)="onNodeActivated($event)">
      </cloe-core-tree>

      <cloe-core-tree #profilesToCombineTree
                      [nodes]="profilesToCombineNodes"
                      [options]="rangesToCombineTreesOptions"
                      (nodeActivate)="onNodeActivated($event)">
      </cloe-core-tree>
    </div>
  </div>

  <ng-container *ngIf="activeRange && getActiveRange()">
    <div class="card-title pt-2"><h6>{{ 'page.channel-site-tree.detail' | translate }}</h6></div>
    <div class="d-flex">
      <div class="site-detail-field-container">
        <div>{{ getActiveRange().range.name }}</div>
        <label class="site-field-label">{{ 'global.name' | translate }}</label>
      </div>
      <div class="site-detail-field-container">
        <div>{{ 'component.channel-range-combine.range-types.' + getActiveRange().range.rangeType | translate }}</div>
        <label class="site-field-label">{{ 'global.address' | translate }}</label>
      </div>
    </div>
    <div class="d-flex">
      <div class="site-detail-field-container">
        <div>{{ getActiveRange().range.validStartDate | cloeDate }}</div>
        <label class="site-field-label">{{ 'page.tree.validStartDate' | translate }}</label>
      </div>
      <div class="site-detail-field-container">
        <div>{{ getActiveRange().range.validEndDate | cloeDate }}</div>
        <label class="site-field-label">{{ 'page.tree.validEndDate' | translate }}</label>
      </div>
    </div>
  </ng-container>

  <div class="mt-4 d-flex justify-content-end">
    <cloe-core-button [text]="'global.cancel'"
                      (click)="modalRef.close(false)"></cloe-core-button>
    <cloe-core-button
      text="{{'global.save' | translate}}"
      (clickEvent)="saveChannelsRange()">
    </cloe-core-button>
  </div>
</cloe-core-modal>
