<cloe-core-modal [modalTitle]="modalTitle">

  <form (ngSubmit)="onSubmit()" #deviceForm = "ngForm">

    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="row">
            <div class="col-12 col-lg-8">
              <h5 class="card-title">{{'page.device.device-data' | translate}}</h5>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6 col-sm-12 form-group">
              <label for="readIdDevice">{{'page.device.readIdDevice' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)] = "device.readIdDevice"
                     name="readIdDevice" id="readIdDevice" #readIdDevice="ngModel"
                     [ngClass]="{ 'is-invalid': !(readIdDevice.valid || readIdDevice.pristine) }" required>
              <div [hidden]="readIdDevice.valid || readIdDevice.pristine" class="form-text invalid-feedback">
                <div>{{'page.device.required-readIdDevice-message' |
                  translate}}
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 form-group">
              <label for="name">{{'global.name' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)] = "device.name"
                     name="name" id="name" #name="ngModel"
                     [ngClass]="{ 'is-invalid': !(name.valid || name.pristine) }" required>
              <div [hidden]="name.valid || name.pristine" class="form-text invalid-feedback">
                <div>{{'page.device.required-deviceName-message' |
                  translate}}
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6 col-sm-12 form-group">
              <label for="latitude">{{'component.table.latitude' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)] = "device.latitude"
                     name="latitude" id="latitude" #latitude="ngModel"
                     [ngClass]="{ 'is-invalid': !(latitude.valid || latitude.pristine) }">
              <div [hidden]="latitude.valid || latitude.pristine" class="form-text invalid-feedback">
                <div>{{'page.device.required-latitude-message' |
                  translate}}
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 form-group">
              <label for="longitude">{{'component.table.longitude' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)] = "device.longitude"
                     name="longitude" id="longitude" #longitude="ngModel"
                     [ngClass]="{ 'is-invalid': !(longitude.valid || longitude.pristine) }">
              <div [hidden]="longitude.valid || longitude.pristine" class="form-text invalid-feedback">
                <div>{{'page.device.required-longitude-message' |
                  translate}}
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 form-group">
              <label for="status">{{'global.status' | translate}}</label>
              <select class="form-control" [(ngModel)] = "device.status"
                      name="status" id="status" #status="ngModel"
                      [ngClass]="{ 'is-invalid': !(status.valid || status.pristine) }">
                <option *ngFor="let status of statuses" [value]="status">{{('status.'+status) | translate }}</option>
              </select>
              <div [hidden]="status.valid || status.pristine" class="form-text invalid-feedback">
                <div>{{'page.device.required-device-status-message' | translate}} </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 form-group">
              <label for="serviceInterval">{{'page.device.serviceInterval' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)] = "device.serviceInterval"
                     name="serviceInterval" id="serviceInterval" #serviceInterval="ngModel" placeholder="min"
                     [ngClass]="{ 'is-invalid': !(serviceInterval.valid || serviceInterval.pristine) }" required>
              <div [hidden]="serviceInterval.valid || serviceInterval.pristine" class="form-text invalid-feedback">
                <div>{{'page.device.required-serviceInterval-message' |
                  translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 form-group datePick">
              <label>{{'page.device.installationDate' | translate}}</label>
              <cloe-core-date-picker [initSingleDate]="device.installationDate"
                                [isRange]=false
                                (dateChanged)="changeInstallationDate($event)"
              ></cloe-core-date-picker>
            </div>
            <div class="col-md-6 col-sm-12 form-group datePick">
              <label>{{'component.table.lastServiceDate' | translate}}</label>
              <cloe-core-date-picker [initSingleDate]="device.lastServiceDate"
                                [isRange]=false
                                (dateChanged)="changeLastServiceDate($event)"
              ></cloe-core-date-picker>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 form-group">
              <label for="deviceTypeId">{{'component.table.deviceType' | translate}}</label>
              <select class="form-control" [(ngModel)] = "device.deviceTypeId"
                      name="deviceTypeId" id="deviceTypeId" #deviceTypeId="ngModel"
                      [ngClass]="{ 'is-invalid': !(deviceTypeId.valid || deviceTypeId.pristine) }">
                <option *ngFor="let t of dTipes"
                        [ngValue]="t.id"
                >{{t.name}}</option>
              </select>
              <div [hidden]="deviceTypeId.valid || deviceTypeId.pristine" class="form-text invalid-feedback">
                <div>{{'page.device.required-device-deviceType-message' | translate}} </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 form-group">
              <cloe-core-domain-picker
                [config]="domainPickerConfig"
                [(ngModel)]="tagPickerModels"
                name="tagKeyPicker"></cloe-core-domain-picker>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button [text]="'global.cancel'"
                   (click)="modalRef.close(false)"
                   customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
      <cloe-core-button
        [disable]="!deviceForm.form.valid"
        buttonType="submit"
        size="sm"
        text="{{'global.save' | translate}}"
        customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
    </div>
  </form>

</cloe-core-modal>


