<cloe-core-modal [modalTitle]="modalTitle">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">

    <div class="row">
      <div class="col-md-6 col-sm-12 form-group">
        <label for="input-firstName">{{'global.name' | translate}}</label>
        <input type="text" class="form-control" id="input-firstName" [(ngModel)]="user.firstName"
               name="firstName" required="required" #firstName="ngModel"
               [ngClass]="{ 'is-invalid': !(firstName.valid || firstName.pristine) }">
        <div [hidden]="firstName.valid" class="form-text invalid-feedback">
          <small>{{ 'page.user.required-user-name-message' | translate}}</small>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label for="input-lastName">{{'global.lastName' | translate}}</label>
        <input type="text" class="form-control" id="input-lastName" [(ngModel)]="user.lastName"
               name="lastName" required="required" #lastName="ngModel"
               [ngClass]="{ 'is-invalid': !(lastName.valid || lastName.pristine) }">
        <div [hidden]="lastName.valid" class="form-text invalid-feedback">
          <small>{{ 'page.user.required-user-surname-message' | translate}}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 form-group">
        <label for="input-password">{{'global.password' | translate}}</label>
        <input type="password" class="form-control" id="input-password" [(ngModel)]="user.password"
               name="password" #password="ngModel"
               [ngClass]="{ 'is-invalid': !(password.valid || password.pristine) }">
        <div [hidden]="password.valid" class="form-text invalid-feedback">
          <small>{{ 'page.user.required-password-message' | translate}}</small>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label for="input-password-confirm">{{'global.password-confirm' | translate}}</label>
        <input type="password" class="form-control" id="input-password-confirm" [(ngModel)]="user.passwordConfirm"
               name="passwordConfirm" #passwordConfirm="ngModel"
               [ngClass]="{ 'is-invalid': !(user.password === user.passwordConfirm)}">
        <div [hidden]="(!user.password && !user.passwordConfirm) || user.password === user.passwordConfirm" class="form-text invalid-feedback">
          <small>{{ 'page.user.password-mismatch-message' | translate}}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 form-group">
        <label for="input-email">{{'page.user.email-address' | translate}}</label>
        <input type="email" class="form-control" id="input-email" [(ngModel)]="user.email"
               name="email" required="required" #email="ngModel"
               [ngClass]="{ 'is-invalid': !(email.valid || email.pristine) }">
        <div [hidden]="email.valid" class="form-text invalid-feedback">
          <small>{{ 'page.user.required-user-email-message' | translate}}</small>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label for="input-login">{{'page.user.username' | translate}}</label>
        <input [disabled]="user.id" type="text" class="form-control" id="input-login" [(ngModel)]="user.login"
               name="login" required="required" #login="ngModel"
               [ngClass]="{ 'is-invalid': !(login.valid || login.pristine) }">
        <div [hidden]="login.valid && user.id" class="form-text invalid-feedback">
          <small>{{ 'page.user.required-username-message' | translate}}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 form-group">
        <label for="user-customer">{{'page.user.user-customer' | translate}}</label>
        <select #cus class="form-control" id="user-customer" [(ngModel)]="user.cloeUser.customerId"
                name="customerId" required="required" #userCustomer="ngModel"
                [ngClass]="{ 'is-invalid': !(userCustomer.valid || userCustomer.pristine) }">
          <option *ngFor="let customer of customers" [ngValue]="customer.id">
            {{(customer.name)}}
          </option>
        </select>
        <div class="form-text invalid-feedback" [hidden]="userCustomer.valid">
          <small>{{ 'page.user.required-customer-message' | translate}}</small>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label for="default-language">{{'page.user.user-language' | translate}}</label>
        <select #langSelect class="form-control"
                id="default-language" [(ngModel)]="user.cloeUser.defaultLanguage"
                name="defaultLanguage">
          <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang"
          >
            {{('languages.'+lang) | translate }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 form-group">
        <label for="user-status">{{'global.status' | translate}}</label>
        <select #state class="form-control" id="user-status" [(ngModel)]="user.cloeUser.status"
                name="status" required="required" #cloeUserStatus="ngModel"
                [ngClass]="{ 'is-invalid': !(cloeUserStatus.valid || cloeUserStatus.pristine) }">
          <option *ngFor="let status of statuses" [value]="status">{{('status.'+status) | translate }}</option>
        </select>
        <div [hidden]="cloeUserStatus.valid" class="form-text invalid-feedback">
          <small>{{ 'page.user.required-status-message' | translate}}</small>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        <label for="user-start-week">{{'page.user.week-start-day' | translate}}</label>
        <select #week class="form-control" id="user-start-week" [(ngModel)]="user.cloeUser.startWeek"
                name="startWeek" required="required" #startWeek="ngModel"
                [ngClass]="{ 'is-invalid': !(startWeek.valid || startWeek.pristine) }">
          <option *ngFor="let day of weekdays | keys" [value]="day.key">{{('weekdays.'+day.key) | translate }}
          </option>
        </select>
        <div class="form-text invalid-feedback" [hidden]="startWeek.valid">
          <small>{{ 'page.user.required-start-day-message' | translate}}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 form-group">
        <label for="user-authorities">{{'page.user.user-role' | translate}}</label>
        <select #role multiple class="form-control" id="user-authorities" [(ngModel)]="user.authorities"
                name="authorities" required="required" #userRole="ngModel"
                [ngClass]="{ 'is-invalid': !(userRole.valid || userRole.pristine) }">
          <option *ngFor="let authority of authorities" [value]="authority">
            {{('authorities.'+authority) | translate }}
        </select>
        <div class="form-text invalid-feedback" [hidden]="userRole.valid">
          <small>{{ 'page.user.required-role-message' | translate}}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 form-group">
        <cloe-core-domain-picker
          [config]="domainPickerConfig"
          [(ngModel)]="tagPickerModels"
          name="tagKeyPicker"></cloe-core-domain-picker>
      </div>
    </div>

    <div class="row" *ngFor="let err of validationErrors">
      <div class="form-text invalid-feedback d-block">
        <small>*{{ 'bad-request.' + err | translate}}</small>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-end">
      <!--[disable]=userForm.valid tutto tranne lingua e tags-->
      <cloe-core-button [text]="'global.cancel'"
                   (click)="modalRef.close(false)"
                   customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
      <cloe-core-button
        buttonType="submit"
        [disable]="!userForm.form.valid || !(user.password === user.passwordConfirm || (!user.password && !user.passwordConfirm))"
        text="{{'global.save' | translate}}"
        customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
    </div>

  </form>
</cloe-core-modal>
