@import '../../../../../../../cloe-ng-core/src/styles/variables';
cloe-calculated-channel {
  background: white;
  .cc-container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .cc-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $body-color;
    display: flex;
    align-items: center;
    z-index: 1000;

    .cc-overlay__body {
      background: rgba($cloe-white, 0.8);
      display: inline-flex;
      justify-content: center;
      width: 100%;
      padding: 1rem;
      h4 {
        padding: 0;
        margin: 0;
        font-weight: bold;
      }
    }
  }

  .ta-formula {
    font-size: 1.2em !important;
  }

  .cc__form-insert {
    width: 40%;
    padding: 1rem;
  }



  .cc__form-formula-insert {
    width: 40%;
    padding: 1rem;
    overflow: hidden;
    transition: width 0.3s ease, padding 0.3s ease;
  }

  .cc__form-constant-insert {
    width: 20%;
    padding: 1rem;
    overflow: hidden;
    transition: width 0.3s ease, padding 0.3s ease;
  }

  .cc__form-channel-insert {
    width: 20%;
    padding: 1rem;
    overflow: hidden;
    transition: width 0.3s ease, padding 0.3s ease;

    perfect-scrollbar {
      min-height: 300px;
      max-height: 300px;
    }
  }

  .hide {
    width: 0;
    padding: 0;
  }
}


