<div class="cc-container">

  <div class="cc-overlay" *ngIf="validated">
    <div class="cc-overlay__body">
      <h4 class="text-success">{{'global.validated' | translate}}</h4>
      <cloe-core-button
        text="{{'global.edit' | translate}}"
        (click)="validated = false">
      </cloe-core-button>
    </div>
  </div>

  <div class="cc__form-insert" cloe-core-focusable [focusable]="!validated">
    <h5>{{'component.cloe-math.title.insert-form' | translate}}</h5>
    <form #formInsert="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex align-items-center p-3 ">
            <div class="px-gdn-toggle d-inline-flex">
              <input id="onRuntime" [checked]="formModel['form-insert'].onRuntime" type="checkbox" (change)="formModel['form-insert'].onRuntime = !formModel['form-insert'].onRuntime">
              <label class="label-default" for="onRuntime"></label>
            </div>
            <div class="pl-3">
              <label class="mb-0" for="onRuntime">{{'global.runtime' | translate}}</label>
            </div>
          </div>
        </div>

      </div>

      <div class="d-flex" *ngIf="!formModel['form-insert'].onRuntime">
        <div class="form-group">
          <label>{{'global.start-date' | translate}}</label>
          <cloe-core-date-time-picker
            name="startDate"
            required
            [(ngModel)]="formModel['form-insert'].startDateMoment"
            [config]="{ inputType: 'calendar',
            placeholder: 'global.start-date'}">
          </cloe-core-date-time-picker>
        </div>
      </div>



      <cloe-formula-dependencies
        [title]="'global.dependencies'"
        origin="form-insert"
        [argumentsObject]="mathArguments['form-insert']"
      ></cloe-formula-dependencies>
      <hr>

      <cloe-formula-picker origin="form-insert"></cloe-formula-picker>

      <div class="pt-3 pb-3" *ngIf="syntaxErrors['form-insert'].message">
        <p *ngIf="syntaxErrors['form-insert'].tokens" class="text-danger">
          {{'component.cloe-math.tokens-error' | translate}}:
        </p>
        <p *ngIf="syntaxErrors['form-insert'].syntax" class="text-danger">
          {{'component.cloe-math.syntax-error' | translate}}:
        </p>
        <span class="error-syntax" [innerHtml]="syntaxErrors['form-insert'].message"></span>
      </div>

      <cloe-core-form-input
        name="expression"
        id="form-insert"
        labelPrefix="global."
        required
        [(ngModel)]="formModel['form-insert'].expression"
      ></cloe-core-form-input>

      <div class="d-flex justify-content-end">
        <cloe-core-button
          [text]="'global.validate' | translate"
          (click)="createCalculatedChannel()"
          [disable]="!formInsert.form.valid"
        ></cloe-core-button>
      </div>
    </form>
  </div>

  <div class="cc__form-formula-insert" [ngClass]="{hide: !formModel['form-formula-insert'].open}">
    <h5>{{'component.cloe-math.title.insert-formula-form' | translate}}</h5>
    <form #formFormulaInsert="ngForm">
      <cloe-core-form-input
        name="name"
        formPrefix="form-channel"
        labelPrefix="global."
        required
        [(ngModel)]="formModel['form-formula-insert'].name"
      ></cloe-core-form-input>

      <cloe-formula-dependencies
        [title]="'global.dependencies'"
        origin="form-formula-insert"
        [hideChannel]="true"
        [hideFunction]="true"
        [argumentsObject]="mathArguments['form-formula-insert']"
      ></cloe-formula-dependencies>

      <hr>

      <cloe-formula-picker origin="form-formula-insert" [groupsFor]="groupsForChannelInsert"></cloe-formula-picker>
      <div class="pt-3 pb-3" *ngIf="syntaxErrors['form-formula-insert']">
        <span class="text-danger">{{'component.cloe-math.syntax-error' | translate}}:  </span>
        <span class="error-syntax" [innerHtml]="syntaxErrors['form-formula-insert']"></span>
      </div>
      <cloe-core-form-input
        name="definition"
        id="form-formula-insert"
        formPrefix="form-channel"
        labelPrefix="component.cloe-math."
        required
        [(ngModel)]="formModel['form-formula-insert'].definition"
      ></cloe-core-form-input>
      <div class="d-flex justify-content-end">
        <cloe-core-button text="{{'global.close' | translate}}" (click)="closeForm('form-formula-insert')"></cloe-core-button>
        <cloe-core-button
          [text]="'global.save' | translate"
          (click)="createNewFunction()"
          [disable]="!formFormulaInsert.form.valid"
        ></cloe-core-button>
      </div>
    </form>
  </div>

  <div class="cc__form-constant-insert" [ngClass]="{hide: !formModel['form-constant-insert'].open}">
    <h5>{{'component.cloe-math.title.insert-constant-form' | translate}}</h5>
    <form #formConstantInsert="ngForm">
      <cloe-core-form-input
        name="name"
        formPrefix="form-constant"
        labelPrefix="global."
        required
        [(ngModel)]="formModel['form-constant-insert'].name"
      ></cloe-core-form-input>

      <cloe-core-form-input
        name="value"
        formPrefix="form-constant"
        labelPrefix="global."
        required
        [(ngModel)]="formModel['form-constant-insert'].value"
      ></cloe-core-form-input>

      <div class="d-flex justify-content-end">
        <cloe-core-button text="{{'global.close' | translate}}" (click)="closeForm('form-constant-insert')"></cloe-core-button>
        <cloe-core-button
          [text]="'global.save' | translate"
          (click)="createNewConstant()"
          [disable]="!formConstantInsert.form.valid"
        ></cloe-core-button>
      </div>
    </form>
  </div>

  <div class="cc__form-channel-insert" [ngClass]="{hide: !formModel['form-channel-insert'].open}">
    <h5>{{'component.cloe-math.title.insert-channel-form' | translate}}</h5>
    <form #formChannelInsert="ngForm">
      <cloe-core-form-input
        name="name"
        formPrefix="form-channel"
        labelPrefix="global."
        required
        [(ngModel)]="formModel['form-channel-insert'].name"
      ></cloe-core-form-input>
      <perfect-scrollbar>
        <cloe-core-tree
          #cloeTree
          [nodes]="nodes"
          [filtersConfig]="filtersConfig"
          (nodeActivate)="onNodeActive($event)"
        >
        </cloe-core-tree>
      </perfect-scrollbar>


      <div class="d-flex justify-content-end">
        <cloe-core-button text="{{'global.close' | translate}}" (click)="closeForm('form-channel-insert')"></cloe-core-button>
        <cloe-core-button
          [text]="'global.save' | translate"
          (click)="createNewChannel()"
          [disable]="!formChannelInsert.form.valid"
        ></cloe-core-button>
      </div>
    </form>

  </div>
</div>
