@import "../../../../../styles/variables";

cloe-core-table {
  .card-title h6 {
    color: $primary-color;
    font-weight: bold;
  }
  .table td {
    padding: 0 0 0 0.75rem;
    vertical-align: middle;

    .material-icons {
      font-size: 15px;
    }
  }
  .divider {
    height: 10px;
  }
}
