<cloe-core-table-filter
  *ngIf="filtersConfig"
  [filterConf]="filtersConfig"
  [(filters)]="filters"
  (filterChange)="onFilterChange()">
</cloe-core-table-filter>

<div class="divider" *ngIf="filtersConfig"></div>

<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between align-items-center">
      <h6>{{metadata.tableTitle | translate}}</h6>
      <div>
        <cloe-core-button *ngIf="metadata.reloadButton"
                          [isIconButton]="true"
                          [icon]="'autorenew'"
                          (click)="reload()"
        ></cloe-core-button>
        <cloe-core-button *ngIf="metadata.addNewButton"
                          [text]="metadata.addNewButton.buttonLabel"
                          (click)="addNewEntry()"
        ></cloe-core-button>
      </div>

    </div>
    <perfect-scrollbar [config]="{suppressScrollX:false}">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"
              *ngFor="let field of header"
              style="white-space: nowrap;">

            <cloe-core-sortable-column
              [natureType]=natureType
              [columnName]=field.columnName
              [sortedColumn]=metadata.sort
              [fieldName]=field.fieldName
              [metadata]=metadata
              (sorted)=sortColumn()>
            </cloe-core-sortable-column>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data" [id]="'obj-' + getValueFromRow(row,'id')">
          <td *ngFor="let columnHead of header">
          <span *ngIf="columnHead.i18n &&  getValueFromRow(row, columnHead.fieldName)">
            {{ ( columnHead.i18n.prefix + getValueFromRow(row, columnHead.fieldName) + columnHead.i18n.suffix ) | translate }}
          </span>
            <span *ngIf="!columnHead.i18n && columnHead.pipe &&  getValueFromRow(row, columnHead.fieldName)">
            {{ ( getValueFromRow(row, columnHead.fieldName) + '' ) | dynamic: columnHead.pipe: columnHead.pipeArgs}}
          </span>
            <span *ngIf="!columnHead.i18n && !columnHead.pipe">
            {{getValueFromRow(row, columnHead.fieldName) | empty}}
          </span>
          </td>
          <td>
            <div style="white-space: nowrap;">
              <ng-container *ngFor="let action of actions">
                <cloe-core-button *ngIf="!action.metadata.visible || action.metadata.visible(row)"
                                  [type]="'outline-warning'"
                                  [icon]="action.icon"
                                  [iconType]="action.iconType"
                                  (click)="onActionClick(
              action.actionType,
              action.metadata,
              row
            )"
                                  [size]="'sm'"
                                  [isIconButton]="true"
                                  [altLabel]="action.metadata.altMessage">
                </cloe-core-button>
              </ng-container>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </perfect-scrollbar>
    <div class="row">
      <div class="col-2" style="float: left;">
        <select class="form-control" (change)="sizeChange($event.target.value)">
          <option *ngFor="let option of pagination.sizeOptions" value={{option}}>{{option}}</option>
        </select>
      </div>
      <div class="col-10">
        <ngb-pagination style="float: right"
                        (pageChange)="loadPage($event)"
                        [pageSize]="pagination.size"
                        [collectionSize]="pagination.totalItems"
                        [page]="1"
                        [(page)]="pagination.page"
                        [boundaryLinks]="true">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>

