<div class="row" *ngIf="site; else noSiteSelected">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-3">{{'page.home.customer-detail-title' | translate}}</h5>
        <ul class="list-unstyled mb-0">
          <li class="media mb-3 align-items-center">
            <div class="media-body">
              <i class="icon-user h6 text-primary mr-2"></i>
              <span>{{customer.name}}</span>
            </div>
          </li>
          <li class="media mb-3 align-items-center">
            <div class="media-body">
              <i class="icon-tag text-primary mr-2"></i>
              <span>{{customer.customerCode}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-4">{{'page.home.site-detail-title' | translate}}</h5>
        <h6 class="mb-2 font-weight-bold">{{site.name}}</h6>
        <ul class="list-unstyled mb-0">
          <li class="media mb-3 align-items-center">
            <div class="media-body">
              <i class="icon-location-pin text-primary mr-2"></i>
              <span>{{site.address + ', ' + site.city.name}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #noSiteSelected>
  <div class="alert alert-warning">{{'page.home.no-site-selected' | translate}}</div>
</ng-template>
