<div class="form-group">
  <label *ngIf="name" for="{{inputId}}">{{ (labelPrefix + name) | translate}}</label>
  <input
    #input_field
    id="{{inputId}}"
    name="{{name}}"
    [ngClass]="{'is-invalid': hasErrors}"
    type="{{type}}"
    [value]="value"
    (keyup)="onChange(input_field.value)"
    class="form-control"
    [accept]="accept"
    placeholder="{{ (name ? (labelPrefix + name) : '') | translate}}">
  <div *ngIf="hasErrors && validationMessages" class="form-text invalid-feedback">
    <ng-container *ngFor="let error of errors">
      {{ ('validation.generic.' + error ) | translate}}
    </ng-container>
  </div>
</div>
