<div class="card" [@shake]="shakeState" (@shake.done)="onShakeEnd()">
  <div class="card-body">
    <i class="material-icons">info_outline</i>
    <span [ngClass]="{ 'text-danger': shakeState }">
      {{'page.carpet-plot.carpet-plot-tabs.tab-by-measure-usage' | translate}}
    </span>
  </div>
</div>

<cloe-core-box
  [isCollapsable]="true"
  [scrollbarStyle]="{'position': 'static'}">
  <div class="d-flex flex-wrap">
    <div class="flex-item period-card">
      <cloe-core-box
        [expandable]="false"
        [customStyle]="{'max-height': '190px'}"
        [boxTitle]="'component.period-selector.choose-period'">
        <cloe-core-period-selector
          [chartType]="chartType.HEAT_MAP"
          [config]="initialPeriodConfig"
          (clearSelected)="clearSelections()"
          (periodSelected)="onPeriodSelect($event)"></cloe-core-period-selector>
      </cloe-core-box>
    </div>
    <div class="flex-item">
      <cloe-core-box
        [customStyle]="{'max-height': '190px'}"
        [boxTitle]="'global.summary'"
        [expandable]="true">
        <cloe-core-table-static
          [data]="heatMaps"
          [tableConfig]="tableConfig"
        ></cloe-core-table-static>
      </cloe-core-box>
    </div>
  </div>
</cloe-core-box>

<ng-container *ngFor="let heatMap of heatMaps">
  <cloe-heat-map [heatMap]="heatMap" [carpetPlotType]="carpetPlotsTypes.BY_MEASURE"></cloe-heat-map>
  <div class="divider"></div>
</ng-container>
