<cloe-core-table-static
  [data]="dailyProfiles"
  [tableConfig]="tableConfig"
></cloe-core-table-static>

<cloe-core-table-static
  *ngIf="currentProfile"
  [data]="currentProfile.periods"
  [tableConfig]="periodsTableConfig"
></cloe-core-table-static>

<div class="pb-2" *ngIf="showPeriodsDynamicForm">
  <cloe-core-dyamic-form
    [questions]="periodQuestions"
    (submitted)="onPeriodSubmitted($event)"
    (cancelled)="onPeriodCancelled($event)"
    [config]="{ submitButton: true }"></cloe-core-dyamic-form>
</div>
