<div class="d-flex justify-content-end">
  <cloe-core-button
    [icon]="'file_download'"
    [customClass]="'mb-3 btn-primary'"
    [isIconButton]="true"
    (click)="downloadCSV()"
  ></cloe-core-button>
</div>

<cloe-core-table-static
  [data]="data"
  [tableConfig]="tableConfig"
></cloe-core-table-static>
