<cloe-core-table-static
  [data]="specialProfiles"
  [tableConfig]="tableConfig"
></cloe-core-table-static>

<div class="pb-2" *ngIf="getSpecialFormVisible()">
  <cloe-core-dyamic-form
    [questions]="specialQuestions"
    (submitted)="onSpecialProfileSubmitted($event)"
    (cancelled)="onSpecialProfileCancelled($event)"
    [config]="{ submitButton: true }"></cloe-core-dyamic-form>
</div>
