@import "../../../../styles/variables";

cloe-core-box {
  .card {
    padding: 1rem;
    border-radius: $border-radius-xl;

    &.collapsable {
      background-color: $cloe-gray;
      padding-bottom: 1.5rem;
      padding-left: calc(1rem - 8px);
      padding-right: calc(1rem - 8px);
      border-radius: 0 !important;
    }
  }
  .card-title h6 {
    color: $primary-color;
    font-weight: bold;
  }

  .arrow-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .expand-icon {
    font-size: 1.1rem;
  }

  .collapsed {
    overflow: hidden !important;
  }
}
