<div
  class="card d-flex" [ngStyle]="currentStyle"
  #expandableCard id="expandableCard"
  [ngClass]="{'collapsable': isCollapsable, 'collapsed': isCollapsed}"
  [class]="customClass">
    <div *ngIf="boxTitle || expandable">
      <div class="card-title d-flex justify-content-between align-items-center">
        <h6 *ngIf="boxTitle">{{boxTitle | translate}}</h6>
        <div class="d-flex" *ngIf="expandable">
          <i [ngClass]="isExpanded ?
          'm-1 icon-size-actual ng-star-inserted' : 'm-1 icon-size-fullscreen ng-star-inserted'"
             style="cursor: pointer"
             class="expand-icon"
             (click)="onExpand(expandableCard)"
          ></i>
        </div>
      </div>
    </div>
    <perfect-scrollbar [@expandCollapse]="!isCollapsed ? 'open':'close'" [ngStyle]="scrollbarStyle">
      <ng-content></ng-content>
    </perfect-scrollbar>
  <div class="d-flex flex-column align-items-center arrow-container" *ngIf="isCollapsable">
    <div class="d-flex align-self-center">
      <i
        style="cursor: pointer;"
        class="material-icons"
        (click)="collapse()">
        {{isCollapsed ? 'arrow_drop_down' : 'arrow_drop_up'}}
      </i>
    </div>
  </div>
</div>
