<ng-template [ngIf]="siteConsumptions.length > 0">
  <cloe-core-table-static
    [data]="tableData"
    [tableConfig]="tableConfig"
    [tableTitleArgs]="tableTitleArgs"
  ></cloe-core-table-static>
</ng-template>

<ng-template [ngIf]="siteConsumptions.length === 0">
  <div class="alert alert-warning">{{'page.home.no-channel-found' | translate: {siteName: site.name} }}</div>
</ng-template>
