<div class="flex-item p-0">
  <cloe-core-box [customStyle]="{'border-radius': 0}">
    <i class="material-icons">info_outline</i>
    {{'page.duration-curves.usage-info' | translate}}
  </cloe-core-box>
</div>

<cloe-core-box [isCollapsable]="true"
               [scrollbarStyle]="{'position': 'static'}">
  <div class="d-flex flex-wrap">
    <div class="flex-item">
      <cloe-core-box
        [customStyle]="{'max-height': '200px'}"
        [boxTitle]="'component.period-selector.choose-period'">
        <cloe-core-period-selector
          (periodSelected)="onPeriodSelected($event)"
          (clearSelected)="clearSelections()"
          [chartType]="chartType"
          [config]="initialPeriodConfig"
          [initialDates]="periodPickerConfig"
        ></cloe-core-period-selector>
      </cloe-core-box>
    </div>
    <div class="flex-item">
      <cloe-core-box
        [expandable]="true"
        [customStyle]="{'max-height': '200px', 'background-color': '#ffffff' }"
        [boxTitle]="'component.threshold-table.threshold'">
        <cloe-threshold-table></cloe-threshold-table>
      </cloe-core-box>
    </div>
  </div>
</cloe-core-box>

<div class="p-3">
  <cloe-core-tabs [tabs]="tabs"></cloe-core-tabs>
</div>

