<div>
  <h5 *ngIf="cardTitle" class="card-title">{{cardTitle}}</h5>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group" *ngIf="isRange; else singleDate">
        <input class="form-control"
               [placeholder]="formattedDateRange | translate"
               name="dp" ngModel ngbDatepicker #d="ngbDatepicker"
               [startDate]="fromDate"
               (ngModelChange)="onDateChange($event, d)"
               [displayMonths]="2"
               [dayTemplate]="t"
               [autoClose]="false"
               [value]="formattedDateRange"
               readonly>
        <button class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon" type="button" (click)="d.toggle()">
          <i class="material-icons">date_range</i>
        </button>
      </div>
      <ng-template #singleDate>
        <div class="input-group">
          <input class="form-control"
                 [placeholder]="formattedSingleDate| translate"
                 name="dp" ngModel ngbDatepicker #dp="ngbDatepicker"
                 [value]="formattedSingleDate"
                 (ngModelChange)="onSingleDateChange($event)" readonly>
          <button class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon" type="button" (click)="dp.toggle()">
            <i class="material-icons">date_range</i>
          </button>
        </div>
      </ng-template>

    </div>
  </form>
  <ng-template #t let-date="date" let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
  </ng-template>
</div>

