@import "../../../../styles/variables";

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.range, .custom-day:hover {
  background-color: $primary-color;
  color: white;
}

.custom-day.faded {
  background-color: rgba($primary-color, 0.5);
}

.px-gdn-btn-icon {
  padding: 0 0.32rem !important;
  .material-icons {
    font-size: $xSmall-font-size;
  }
}
