<div class="d-flex justify-content-center bg-white section-container pt-2">
  <form #userProfile="ngForm">
    <div class="d-flex profile-form-row">
      <div class="d-flex flex-column form-group pr-2 form-item">
        <label for="email">{{'global.email' | translate}}</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="user.email"
               name="email" #email="ngModel" email required
               [ngClass]="{ 'is-invalid': !(email.valid || email.pristine) }">
        <div [hidden]="email.valid" class="form-text invalid-feedback">
          <span>{{ 'validation.generic.email' | translate }}</span>
        </div>
      </div>

      <div class="d-flex flex-column form-group form-item">
        <label for="csvSeparator">{{'page.user-profile.csv-separator' | translate}}</label>
        <input type="text" class="form-control" id="csvSeparator" [(ngModel)]="user.cloeUser.csvSeparator"
               name="csvSeparator" #csvSeparator="ngModel" required
               [ngClass]="{ 'is-invalid': !(csvSeparator.valid || csvSeparator.pristine) }">
        <div [hidden]="csvSeparator.valid" class="form-text invalid-feedback">
          <span>{{ 'validation.generic.required' | translate }}</span>
        </div>
      </div>
    </div>

    <div class="d-flex profile-form-row">
      <div class="d-flex flex-column form-group pr-2 form-item">
        <label for="firstDay">{{'page.user-profile.first-day-of-week' | translate}}</label>
        <select class="form-control" [(ngModel)] = "selectedFirstDay" [compareWith]="compareWeekDays"
                name="firstDay" id="firstDay" #firstDay="ngModel"
                [ngClass]="{ 'is-invalid': !(firstDay.valid || firstDay.pristine) }" required>
          <option *ngFor="let day of localDays" [value]="day">{{ day }}</option>
        </select>
        <div [hidden]="firstDay.valid" class="form-text invalid-feedback">
          <div>{{'validation.generic.required' | translate}}</div>
        </div>
      </div>

      <div class="d-flex flex-column form-group form-item">
        <label for="defaultLanguage">{{'page.user-profile.default-language' | translate}}</label>
        <select class="form-control" [(ngModel)] = "user.cloeUser.defaultLanguage"
                name="defaultLanguage" id="defaultLanguage" #defaultLanguage="ngModel"
                [ngClass]="{ 'is-invalid': !(defaultLanguage.valid || defaultLanguage.pristine) }" required>
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</option>
        </select>
        <div [hidden]="defaultLanguage.valid" class="form-text invalid-feedback">
          <div>{{'validation.generic.required' | translate}}</div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column form-group form-item change-pw-accordion">
      <cloe-core-accordion [accordionTitle]="'component.change-password.change-password'">
        <div class="d-flex">
          <cloe-core-input-change-pw
            name="changePWInput"
            #changePWInput = 'ngModel' cloe-core-change-pw-validator-directive
            [(ngModel)] = 'passwordDTO'>
          </cloe-core-input-change-pw>
        </div>
        <div [hidden]="changePWInput.valid" class="d-flex form-text invalid-feedback">
          <div>{{ getErrorMessage(changePWInput) }}</div>
        </div>
      </cloe-core-accordion>
    </div>

    <div class="mt-2 mb-2 d-flex justify-content-end">
      <cloe-core-button
        [disable]="!userProfile.form.valid"
        (clickEvent)="onSubmit()"
        [text]="'global.save' | translate">
      </cloe-core-button>
    </div>

  </form>
</div>
