@import '../../../styles/variables';

cloe-core-user-profile {
  .section-container {
    min-height: calc(100vh - 77px);
  }
  .profile-form-row {
    min-width: 70vw;
  }
  .form-item {
    flex-basis: 100%;
  }
  .change-pw-accordion {
    .card {
      padding: 0;
    }
    .card-header {
      padding: 0;
    }
  }
  cloe-core-accordion .card-body {
    padding: 0 !important;
  }
}
