<div class="exp-table-wrapper">
  <div class="exp-table"
       *ngFor="let table of config.tables; index as i;"
       [ngClass]="{'exp-table--open': tableStatus[i]}">
    <div class="exp-table__title" (click)="toggleTable(i)">
      <span>{{table.headerTitle}}</span>
      <i class="fa fa-arrow-down exp-table__title-icon"></i>
    </div>
    <div class="exp-table__body" [@expandCollapse]="tableStatus[i] ? 'open':'close'">
      <cloe-core-table-static
        [tableConfig]="table.config"
        [data]="table.data"
      ></cloe-core-table-static>
    </div>
  </div>
</div>
