@import '../../../../../../cloe-ng-core/src/styles/variables';
cloe-expendable-tables {
  transition: max-height 300ms ease-in-out;
  .exp-table__title {
    background-color: $cloe-gray-darker;
    color: $cloe-white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    align-items: center;
  }

  .exp-table__title-icon {
    transition: transform 300ms ease-in;
  }

  .exp-table__body {
    overflow: hidden;
  }

  .exp-table--open {
    .exp-table__title-icon {
      transform: rotate(180deg);
      transition: transform 300ms ease-in;
    }
  }
}
