@import "../../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-axis-action {
  .axis-action {
    display: inline-flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50px;
    top: 10px;
    white-space: nowrap;

    &.Y1 {
      left: 0;
      z-index: 500;
      color: $cloe-gray-darker;
    }

    &.Y2 {
      left: 50px;
      z-index: 499;
      color: #8b0313;
    }

    &.Y3 {
      right: 50px;
      z-index: 499;
      color: #6f42c1;
    }

    &.Y4 {
      right: 0;
      z-index: 500;
      color: $cloe-blue;
    }
  }

  .axis-action__icon {
    margin-right: 3px;
  }

  .chart-legend {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: bold;
  }

  .dropdown-item {
    cursor: pointer;
  }

  .toggleActive {
    color: $primary-color;
  }
}
