<div class="axis-action {{positionConfig.positionClass}}">
  <span>{{positionConfig.positionClass}}</span>
  <div ngbDropdown class="dropdown-no-toggle" [placement]="positionConfig.dropdownPosition">
    <i class="material-icons" ngbDropdownToggle>keyboard_arrow_down</i>
    <div ngbDropdownMenu>
      <button
        [ngClass]="{toggleActive: action.toggleActive}"
        class="dropdown-item"
        *ngFor="let action of axesActions"
        (click)="handleAction(action)">
        <i class="chart-legend__icon fa {{action.icon}}"></i>
        {{action.label | translate}}
      </button>
    </div>
  </div>
</div>
