@import '../variables';

.color-black {
  color: $cloe-black;
}

.fixed-cloe-box {
  position: sticky;
  z-index: $zindex-fixed-box;
  top: 100px;
}

.cloe-title {
  color: $primary-color;
  font-weight: bold;
  font-size: 0.875rem;
}
