<cloe-core-modal [modalTitle]="modalTitle">

  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="{{'global.channel' | translate}}">
      <ng-template ngbTabContent>
        <form (ngSubmit)="onSubmit()" #channelForm = "ngForm">

          <div class="row">
            <div class="col-12">

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <cloe-core-form-input
                    name="name"
                    labelPrefix="global."
                    required
                    [(ngModel)]="channel.name"
                  ></cloe-core-form-input>
                </div>
                <div class="col-md-6 col-sm-12">
                  <cloe-core-form-input
                    name="readIdChannel"
                    labelPrefix="page.channel."
                    required
                    [(ngModel)]="channel.readIdChannel"
                  ></cloe-core-form-input>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <cloe-core-form-select
                    [(ngModel)]="channel.chPeriodType"
                    name="periodType"
                    [options]="periodTypeOptions"
                    [optionLabelPrefix]="'period-type.'"
                    required
                  ></cloe-core-form-select>
                </div>
                <div class="col-md-6 col-sm-12">
                  <cloe-core-form-select
                    [(ngModel)]="channel.status"
                    name="status"
                    [options]="statuses"
                    [optionLabelPrefix]="'status.'"
                    required
                  ></cloe-core-form-select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <cloe-core-form-select-object
                    name="deviceId"
                    [(ngModel)]="channel.deviceId"
                    [options]="devices"
                    [optionLabelField]="'name'"
                    [optionKeyField]="'id'"
                  ></cloe-core-form-select-object>
                </div>
                <div class="col-md-6 col-sm-12">

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12 form-group">
                  <cloe-core-form-select-object
                    name="unitId"
                    [(ngModel)]="channel.unitId"
                    [options]="units"
                    [optionLabelField]="'symbol'"
                    [optionKeyField]="'id'"
                    required
                  ></cloe-core-form-select-object>
                </div>
                <div class="col-md-6 col-sm-12 form-group">

                  <cloe-core-form-select-object
                    name="channelTypeId"
                    [(ngModel)]="channel.channelTypeId"
                    [options]="channelTypes"
                    [optionLabelField]="'name'"
                    [optionKeyField]="'id'"
                    required
                  ></cloe-core-form-select-object>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-12 form-group">

                  <cloe-core-form-input
                    name="historyDataTable"
                    [(ngModel)]="channel.historyDataTable"
                  ></cloe-core-form-input>

                </div>
                <div class="col-md-6 col-sm-12 form-group">

                  <cloe-core-form-select-object
                    name="timeZoneId"
                    [(ngModel)]="channel.timeZoneId"
                    [options]="timeZone"
                    [optionLabelField]="'code'"
                    [optionKeyField]="'id'"
                    required
                  ></cloe-core-form-select-object>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 form-group">
                  <cloe-core-domain-picker
                    [config]="domainPickerConfig"
                    [(ngModel)]="tagPickerModels"
                    name="tagKeyPicker"></cloe-core-domain-picker>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4 d-flex justify-content-end">
            <cloe-core-button [text]="'global.cancel'"
                              (click)="modalRef.close(false)"
                              customClass="px-gdn-btn-outline card-bg">
            </cloe-core-button>
            <cloe-core-button
              [disable]="!channelForm.form.valid || !(!calculated || calculatedValid)"
              buttonType="submit"
              size="sm"
              text="{{'global.save' | translate}}"
              customClass="px-gdn-btn-outline card-bg">
            </cloe-core-button>
          </div>
        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="{{'global.calculated' | translate}}">
      <ng-template ngbTabContent>
        <div class="d-flex align-items-center p-3 ">
          <div class="px-gdn-toggle d-inline-flex">
            <input id="calculated" [checked]="calculated" type="checkbox" (change)="calculated = !calculated">
            <label class="label-default" for="calculated"></label>
          </div>
          <div class="pl-3">
            <label class="mb-0" for="calculated">{{'global.calculated' | translate}}</label>
          </div>
        </div>
        <cloe-calculated-channel
          *ngIf="calculated"
           [channelCalculated]="calculatedChannel"
           (valid)="onValidChannel($event)"
        ></cloe-calculated-channel>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</cloe-core-modal>


