@import "../variables";

.mat-calendar-body-disabled {
  display: none !important;
}

.form-control {
  padding: 0.32rem !important;
  font-size: $xSmall-font-size !important;
  border: 1px solid $cloe-black !important;
  color: $font-color !important;
  height: auto !important;
  border-radius: 0.125rem !important;

  .is-invalid {
    border: 1px solid red !important;
  }
}

.custom-file-label {
  &:after {
    background: linear-gradient(56deg, $primary-color 0%, $primary-color-2 100%);
    border: none;
  }
}

label {
  margin-bottom: 0.3rem !important;
  font-size: $xSmall-font-size;
}
