ngb-modal-backdrop {
  z-index: 2500 !important;
}
.ng2-dropdown-menu {
  z-index: 2600 !important;
}
.modal {
  z-index: 2501 !important;
}

@media (min-width: 992px){
  .modal-lg {
    max-width: 1100px !important;
  }
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 700px;
  }
}

.cdk-overlay-container {
  z-index: 2600 !important;
}

