.bar-gradient {
  .progress {
    @include mat-elevation(1);
    .progress-bar {
      border-radius: 2px;
      background: linear-gradient(to right, $primary-color-2, $primary-color);
    }
  }
}
