@import '../../../../styles/variables';

cloe-core-date-time-picker {
  .px-gdn-btn-icon {
    padding: 0 0.32rem !important;
    .material-icons {
      font-size: $xSmall-font-size;
    }
  }
  .form-control[readonly] {
    background-color: $cloe-white;
  }
}
