<div class="input-group d-flex">
  <div class="d-flex" *ngIf="config.inputType === dateTimeType.CALENDAR">
    <input
      class="form-control input-owl-dt"
      (dateTimeChange)="writeValue($event.value)"
      [(ngModel)]="dateModel"
      [owlDateTime]="dt1"
      [placeholder]="config.placeholder | translate"
      [selectMode]="config.isRange ? 'range' : 'single'" readonly>
    <owl-date-time
      [firstDayOfWeek]="firstWeekDay"
      [pickerType]="'calendar'" #dt1></owl-date-time>
    <button
      class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon trigger"
      type="button"
      [owlDateTimeTrigger]="dt1">
      <i class="material-icons">date_range</i>
    </button>
  </div>
  <div class="d-flex" *ngIf="config.inputType === dateTimeType.TIMER">
    <input
      (dateTimeChange)="writeValue($event.value)"
      class="form-control input-owl-dt"
      [(ngModel)]="dateModel"
      [owlDateTime]="dt2"
      [selectMode]="config.isRange ? 'range' : 'single'"
      [placeholder]="config.placeholder | translate" readonly>
    <owl-date-time
      [firstDayOfWeek]="firstWeekDay"
      [pickerType]="'timer'"
      [showSecondsTimer]="true" #dt2></owl-date-time>
    <button
      class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon trigger"
      type="button"
      [owlDateTimeTrigger]="dt2">
      <i class="material-icons">date_range</i>
    </button>
  </div>

  <div class="d-flex" *ngIf="config.inputType === dateTimeType.BOTH">
    <input
      (dateTimeChange)="writeValue($event.value)"
      class="form-control input-owl-dt"
      [(ngModel)]="dateModel"
      [owlDateTime]="dt2"
      [selectMode]="config.isRange ? 'range' : 'single'"
      [placeholder]="config.placeholder | translate" readonly>
    <owl-date-time
      [firstDayOfWeek]="firstWeekDay"
      [pickerType]="'both'"
      [showSecondsTimer]="true" #dt2></owl-date-time>
    <button
      class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon trigger"
      type="button"
      [owlDateTimeTrigger]="dt2">
      <i class="material-icons">date_range</i>
    </button>
  </div>
</div>
