<cloe-core-modal [modalTitle]="modalTitle">

  <form (ngSubmit)="onSubmit()" #treeForm="ngForm">

    <ngb-tabset [destroyOnHide]="false">
      <ngb-tab title="{{'global.registry' | translate}}">
        <ng-template ngbTabContent>

          <div class="row">
            <div class="col-md-12 form-group" style="padding-top: 12px">
              <label for="natureType">{{'global.natureType' | translate}}</label>
              <select [disabled]="tree.id"
                      class="form-control"
                      [(ngModel)]="tree.nodeNature"
                      (change)="onNatureSelected()"
                      name="natureType"
                      #natureType="ngModel"
                      [ngClass]="{ 'is-invalid': !(natureType.valid || natureType.disabled)}" required
                      id="natureType">
                <option *ngFor="let s of natureTypes" [value]="s">{{s}}</option>
              </select>
              <div [hidden]="natureType.valid" class="form-text invalid-feedback">
                <span>{{'validation.generic.required' | translate}} </span>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="tree.nodeNature">
            <div class="col-md-6 col-sm-12 form-group">
              <label for="name">{{'global.name' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)] = "tree.name"
                     name="name" id="name" #name="ngModel"
                     [ngClass]="{ 'is-invalid': !(name.valid) }" required>
              <div [hidden]="name.valid" class="form-text invalid-feedback">
                <span>{{'global.required-name-message' | translate}} </span>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 form-group">
              <label for="status">{{'global.status' | translate}}</label>
              <select class="form-control" [(ngModel)] = "tree.status"
                      name="status" id="status" #status="ngModel"
                      [ngClass]="{ 'is-invalid': !(status.valid) }" required>
                <option *ngFor="let status of statuses" [value]="status">{{('status.'+status) | translate }}</option>
              </select>
              <div [hidden]="status.valid" class="form-text invalid-feedback">
                <div>{{'global.required-status-message' | translate}}
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>{{'page.tree.validationDate' | translate}}</label>
                <cloe-core-date-picker
                  [isRange]="true"
                  [initStartDate]="tree.validStartDate"
                  [initEndDate]="tree.validEndDate"
                  (dateChanged)="changeValidationDate($event)"
                ></cloe-core-date-picker>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="{{'global.configuration' | translate}}">
        <ng-template ngbTabContent>
          <div class="row" *ngIf="tree.nodeNature" style="padding-top: 12px">
            <div class="col-12 col-lg-6">
              <div>
                <cloe-core-tree
                  [nodes]="treeNodes"
                  [options]="options"
                  (initialized)="loadTreeData($event)"
                  [nodesConfig]="{removableNodes: removableNodes, areFoldersAddable: true}"
                  [treeInfo]="{treeTitle: 'page.tree.treeNodes'}"></cloe-core-tree>
              </div>
            </div>

            <div class="col-12 col-lg-6">
              <div>
                <cloe-core-tree
                  [nodes]="tempNodes"
                  [treeInfo]="tempTreeConfig"
                  [options]="optionsTempTree"
                  (initialized)="initTempTree($event)"
                  [styleConfig]="{iconsNotPresent: true}"
                  [filtersConfig]="tempTreeFilterConfig">
                </cloe-core-tree>
              </div>
            </div>
          </div>
          <div class="row form-text" *ngIf="!tree.nodeNature" style="padding-top: 12px">
            <span>{{'component.tree-upsert.nodenature-requires-message' | translate}} </span>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button [text]="'global.cancel'"
                   (click)="modalRef.close(false)"
                   customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
      <cloe-core-button
        [disable]="!treeForm.form.valid"
        buttonType="submit"
        size="sm"
        text="{{'global.save' | translate}}"
        customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
    </div>

  </form>

</cloe-core-modal>
