@import "../../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-core-upsert-tree {

  perfect-scrollbar {
    max-height: 350px;
    display: block;
    overflow: hidden;
  }

  .node-wrapper {
    tree-node-expander {
      line-height: 25px;
    }

    .button-small {
      width: 20px;
      height: 20px;

      i {
        font-size: 15px;
        font-weight: bold;
        vertical-align: top;
      }
    }
  }

  .status-ACTIVE {
    color: $green;
  }

  .status-DISABLE {
    color: $red
  }

  .date-range-label {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .accordion {
    .card-header {
      padding-top: 0;

      .btn-link {
        color: inherit;
      }
    }
  }
  .accordion-cevron {
    transform: rotate(-270deg);
    transition: .3s all cubic-bezier(1, 0.25, 0.25, .8);
    will-change: transform;
  }

  .collapsed .accordion-cevron {
    transform: rotate(-90deg);
  }
}
