<cloe-core-modal [modalTitle]="modalTitle">
  <cloe-core-form-input
    [name]="'init-channel-range-from-file-choice'"
    [labelPrefix]="'component.channel-range-upsert.'"
    [type]="'file'"
    (change)="onFileSelected($event.target.files)"></cloe-core-form-input>

  <cloe-core-dyamic-form
    (valueChanged)="onDynamicFormChanged($event)"
    [questions]="questions"></cloe-core-dyamic-form>

  <cloe-core-wizard
    *ngIf="tabs.length > 0 && dynamicFormComponent.isValid"
    [tabs]="tabs"
    (submitted)="onSubmit()">
  </cloe-core-wizard>
</cloe-core-modal>
