@import "../../../../styles/variables";

cloe-core-button {
  .btn {
    border-width: 1px;
    font-weight: bold;
  }
  .btn-sm {
    padding: 0.32rem 1rem;
    font-size: 0.65rem;
    width: 75px;
  }
  .btn-icon {
    width: 50px;
  }
  .material-icons {
    font-size: $small-font-size;
  }
}
