<button type="{{buttonType}}"
        class="{{class}}"
        value="{{text}}"
        [disabled]="disable"
        ngbTooltip="{{altLabel | translate}}"
        [container]="'body'"
        (click)="clickHandler($event)">
  <ng-container *ngIf="!icon">{{ text | translate }}</ng-container>
  <i *ngIf="icon && iconType !== 'fa'" class="material-icons">{{icon}}</i>
  <i *ngIf="icon && iconType === 'fa'" class="fa {{icon}}"></i>
</button>
