@import '../../../styles/variables';

cloe-page-not-found {
  background: linear-gradient(153deg, $primary-color, $primary-color-2);
  color: #ffffff;
  min-height: 800px;
  height: 100%;
  .content {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 50px);
    transform: translateY(-50%);
    padding: 0 20px;
    font-size: 18px;
    img {
      max-width: 100%;
    }
  }
  footer {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (max-width: 768px) {
    min-height: 700px;
  }
}
