@import '../../../../../styles/_variables.scss';

cloe-core-tree-filter {
  .accordion {
    .card-body {
      padding: 0.2rem 0.2rem 0.5rem;
    }
    .card-header {
      padding: 0;
    }
    .filter-item {
      padding-right: 8px;
      padding-left: 8px;
      width: 100%;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  .filter-button {
    margin-top: 1rem;
  }

  .accordion-cevron {
    transform: rotate(-270deg);
    transition: .3s all cubic-bezier(1, 0.25, 0.25, .8);
    will-change: transform;
  }

  .collapsed .accordion-cevron {
    transform: rotate(-90deg);
  }

  .card {
    border-radius: 0.2rem !important;
    border-left: 1px solid $primary-color !important;
    border-right: 1px solid $primary-color !important;
    border-bottom: 1px solid $primary-color !important;
    &:first-of-type {
      border-top: 1px solid $primary-color !important;
    }
    .card-header {
      .btn-link {
        color: $cloe-gray-dark;
      }
    }
  }
  ngb-accordion .btn {
    padding: 0;
  }
}
