<div>
  <ngb-accordion
    [closeOthers]="true">
    <ngb-panel *ngFor="let filterCategory of filters" [id]="filterCategory.categoryName">
      <ng-template ngbPanelTitle>
        <i class="material-icons accordion-cevron">chevron_left</i>
        <span>{{filterCategory.categoryName | translate}}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="d-flex flex-wrap">
          <ng-container *ngFor="let filter of filterCategory.filters">
            <div class="filter-item" [ngSwitch]="filter.filterType">
              <ng-container *ngSwitchCase="filterEnum.TEXT">
                <ng-container *ngTemplateOutlet="filterText; context:{ $implicit: filter }"></ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="filterEnum.ISNULL">
                <ng-container *ngTemplateOutlet="filterIsNull; context:{ $implicit: filter }"></ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="filterEnum.DROPDOWN">
                <ng-container *ngTemplateOutlet="filterDropDown; context:{ $implicit: filter }"></ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="filterEnum.METADATA">
                <ng-container *ngTemplateOutlet="filterMetadata; context:{ $implicit: filter }"></ng-container>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="d-flex justify-content-end filter-button">
    <cloe-core-button text="global.filter" (click)="doFilter()" [size]="'sm'"></cloe-core-button>
    <cloe-core-button text="component.table-filter.reset" (click)="clearFilter()" [size]="'sm'"></cloe-core-button>
  </div>
</div>

<ng-template #filterText let-filterItem>
  <div class="form-group">
    <label for="input-txt-{{filterItem.filterField}}">{{filterItem.fieldLabel | translate}}</label>
    <input class="form-control" id="input-txt-{{filterItem.filterField}}" type="text"
           [(ngModel)]="filterItem['filterValue']">
  </div>
</ng-template>
<ng-template #filterIsNull let-filterItem>
  <div class="form-group">
    <label for="select-isnull-{{filterItem.filterField}}">{{filterItem.fieldLabel | translate}}</label>
    <select
      id="select-isnull-{{filterItem.filterField}}"
      class="form-control"
      [(ngModel)]="filterItem['filterValue']"
    >
      <option value=""></option>
      <option value="isNotNull">{{'component.table-filter.isNotNull' | translate }}</option>
      <option value="isNull">{{'component.table-filter.isNull' | translate }}</option>
    </select>
  </div>
</ng-template>
<ng-template #filterDropDown let-filterItem>
  <div class="form-group">
    <label for="select-dropDown-{{filterItem.filterField}}">{{filterItem.fieldLabel | translate}}</label>
    <select
      id="select-dropDown-{{filterItem.filterField}}"
      class="form-control"
      [(ngModel)]="filterItem['filterValue']"
    >
      <option value=""></option>
      <option *ngFor="let item of filterItem.items" value={{item}}>{{item | translate }}</option>
    </select>
  </div>
</ng-template>
<ng-template #filterMetadata let-filterItem>
  <div class="form-group">
    <label for="select-metadataKey-{{filterItem.filterField}}">{{ 'global.type' | translate}}</label>
    <select
      id="select-metadataKey-{{filterItem.filterField}}"
      class="form-control"
      (change)="onSelectMetadataKeyChange(filterItem)"
      [(ngModel)]="selectedMetadataKey"
    >
      <option [ngValue]=""></option>
      <option *ngFor="let item of filterItem.items" [ngValue]="item">{{item.metadataKey | translate }}</option>
    </select>
  </div>
  <ng-container *ngIf="selectedMetadataKey">
    <ng-container [ngSwitch]="selectedMetadataKey.metadataType">
      <ng-container *ngSwitchCase="metadataTypeEnum.INTEGER">
        <ng-container *ngTemplateOutlet="numberComparationFilter; context:{ $implicit: filterItem }"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="metadataTypeEnum.DOUBLE">
        <ng-container *ngTemplateOutlet="numberComparationFilter; context:{ $implicit: filterItem }"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="metadataTypeEnum.FLOAT">
        <ng-container *ngTemplateOutlet="numberComparationFilter; context:{ $implicit: filterItem }"></ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="form-group">
          <label for="input-metadata-default-{{filterItem.filterField}}">{{ 'global.value' | translate}}</label>
          <input class="form-control" id="input-metadata-default-{{filterItem.filterField}}" type="text"
                 [(ngModel)]="filterItem['metadataValue']">
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
<ng-template #numberComparationFilter let-filterItem>
  <div class="form-group">
    <label for="select-metadata-number-{{filterItem.filterField}}">{{ 'component.tree-filters.compare-type' | translate}}</label>
    <select
      id="select-metadata-number-{{filterItem.filterField}}"
      class="form-control"
      (change)="onNumberCompareChange($event.target.value, filterItem)"
      [(ngModel)]="filterItem['filterNumberCompare']"
    >
      <option [value]=""></option>
      <option [value]="filterNumberCompareEnum.LE">&le;</option>
      <option [value]="filterNumberCompareEnum.LT">&lt;</option>
      <option [value]="filterNumberCompareEnum.GE">&ge;</option>
      <option [value]="filterNumberCompareEnum.GT">&gt;</option>
      <option [value]="filterNumberCompareEnum.EQ">=</option>
      <option [value]="filterNumberCompareEnum.NOT_EQ"><></option>
      <option [value]="filterNumberCompareEnum.BTW">{{ 'global.between' | translate }}</option>
    </select>
  </div>
  <ng-container *ngIf="filterItem['filterNumberCompare']">
    <ng-container [ngSwitch]="filterItem['filterNumberCompare']">
      <ng-container *ngSwitchCase="filterNumberCompareEnum.BTW">
        <div class="form-group">
          <label for="input-from-value-{{filterItem.filterField}}">{{ 'global.from' | translate}}</label>
          <input class="form-control" id="input-from-value-{{filterItem.filterField}}" type="number"
                 [(ngModel)]="filterItem.metadataValue.from">
        </div>
        <div class="form-group">
          <label for="input-to-value-{{filterItem.filterField}}">{{ 'global.to' | translate}}</label>
          <input class="form-control" id="input-to-value-{{filterItem.filterField}}" type="number"
                 [(ngModel)]="filterItem.metadataValue.to">
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="form-group" *ngIf="filterItem['filterNumberCompare']">
          <label for="input-metadata-value-{{filterItem.filterField}}">{{filterItem.fieldLabel | translate}}</label>
          <input class="form-control" id="input-metadata-value-{{filterItem.filterField}}" type="number"
                 [(ngModel)]="filterItem['metadataValue']">
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
