@import "../../../../../../dist/cloe-ng-core/styles/variables";

cloe-site-channel-trees {
  .vertical-section {
    padding: 1rem;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    border-radius: 2px;
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    border-top: none;
  }

  .vertical-section-container {
    min-height: calc(100vh - 77px);
  }
}
