<div class="d-flex align-items-stretch flex-wrap bg-white vertical-section-container">
  <div class="vertical-section">
    <cloe-sites-tree-management></cloe-sites-tree-management>
  </div>
  <div class="vertical-section">
    <cloe-channels-tree-management></cloe-channels-tree-management>
  </div>
  <div class="vertical-section">
    <cloe-channel-site-tree-management-detail></cloe-channel-site-tree-management-detail>
  </div>
</div>
