<div class="row">
  <div class="col-md-8">
    <agm-map
      [fitBounds]="bounds"
      (mapReady)="onMapReady($event)"
      [minZoom]="2"
      [mapTypeControl]="true"
      [streetViewControl]="false"
    >
      <agm-marker
        *ngFor="let marker of sites"
        [latitude]="marker.latitude"
        [longitude]="marker.longitude"
        [iconUrl]="marker.iconUrl"
        [zIndex]="marker.zIndex"
        (markerClick)="markerClick(marker)"
      >
      </agm-marker>
    </agm-map>
  </div>
  <div class="col-md-4">
    <cloe-channel-detail-box [userDefaults]="userDefaults"></cloe-channel-detail-box>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="col-md-4">
    <cloe-weekly-detail-box [userDefaults]="userDefaults"></cloe-weekly-detail-box>
  </div>
  <div class="col-md-4">
    <cloe-line-rate-box [userDefaults]="userDefaults"></cloe-line-rate-box>
  </div>
  <div class="col-md-4">
    <cloe-yearly-detail-box [userDefaults]="userDefaults"></cloe-yearly-detail-box>
  </div>
</div>

<cloe-core-tabs [tabs]="tabs"></cloe-core-tabs>
