@import '../../../../../../dist/cloe-ng-core/styles/variables';

cloe-page-home {

  padding: 1rem;

  agm-map {
    height: 350px;
  }

  cloe-core-map > agm-map > div {
    width: calc(100% - 30px) !important;
  }
}
