<div
  class="d-flex pin-container" placement="bottom-right" [ngbTooltip]="tipContent" [tooltipClass]="'sites-tooltip'"
  [ngClass]="{'sites-panel__closed': isPanelClosed}" (click)="openPanel()">
  {{ currentSiteName }}
  <i class="fa m-1 fa-industry  sites-panel__open-btn" ></i>
</div>
<ng-template #tipContent>
  <div class="site-tooltip-element" *ngFor="let siteTooltip of currentSitesTooltip" [innerHTML]="siteTooltip">
  </div>
</ng-template>
<div
  class="card sites-panel sites-panel__closed"
  [ngClass]="{'sites-panel__closed': isPanelClosed, 'card': !isPanelClosed}">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title ">
        {{'page.home.panel-sites-title' | translate}}
      </h5>
      <i class="material-icons sites-panel__close-btn" (click)="isPanelClosed =!isPanelClosed">close</i>
    </div>
    <div class="mb-2 tree-container">
      <cloe-core-tree #treeSiteContextPicker
                      [nodes]="sitesData"
                      [treeInfo]="siteTreeInfo"
                      [filtersConfig]="filtersConfig"
                      [options]="siteTreeOptions"
                      (nodeDeactivate)="onClickNode($event)"
                      (nodeActivate)="onClickNode($event)"></cloe-core-tree>
    </div>
  </div>
</div>
