@import '../../../../../../cloe-ng-core/src/styles/variables';
cloe-site-context-picker {
  .pin-container {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0s linear 0.2s;
    width: 100%;
    display: flex;
    font-size: $font-size-sm;
    color: $cloe-white;
    &.sites-panel__closed {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease 0.3s;
    }
  }
  .pin-title {
    padding-left: 1em;
  }

  .material-icons {
    &.sites-panel__close-btn {
      cursor: pointer;
    }
  }

  .sites-panel {
    position: fixed;
    right: 1rem;
    top: 77px;
    overflow: hidden;
    height: 90%;
    width: 400px;
    transition: height 0.3s ease, max-width 0.3s ease;
    z-index: $zindex-sitepanels;
    @include mat-elevation(5);
    .card-body {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease 0.3s;
      height: 100%;
      .sites-panel__closed-btn {
        color: $primary-color;
        cursor: pointer;
      }
    }
    .sites-panel__open-btn {
      color: $cloe-white;
      cursor: pointer;
      //animation: rotate 3s linear;
      //animation-iteration-count: infinite;
      //animation-fill-mode: forwards;
    }
    &.sites-panel__closed {
      display: none;
      transition: max-height 0.3s ease 0.1s, max-width 0.3s ease 0.1s;
      .card-body {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.1s ease, visibility 0s linear 0.1s;
      }
    }
  }
  .tree-container {
    display: contents;
  }
  .site-tooltip-element {
    text-align: left;
  }
  .sites-tooltip {
    white-space: nowrap;
    .tooltip-inner {
      max-width: none !important;
      width: 100% !important;
    }
  }
}
