<form #jobForm="ngForm">
  <div class="d-flex">
    <div class="d-flex flex-column form-group pr-2">
      <label for="job-config-name">{{'page.job.config-name' | translate}}</label>
      <select class="form-control" id="job-config-name" [(ngModel)]="data.job.jobConfig"
              name="cloeJobConfigName" required #cloeJobConfigName="ngModel" [compareWith]="compareFn"
              [ngClass]="{ 'is-invalid': !(cloeJobConfigName.valid || cloeJobConfigName.pristine) }">
        <option *ngFor="let n of data.jobConfigs" [ngValue]="n">{{n.name}}</option>
      </select>
      <div [hidden]="cloeJobConfigName.valid" class="form-text invalid-feedback">
        <span>{{ 'page.job.required-job-config-name-message' | translate }}</span>
      </div>
    </div>
    <div class="d-flex flex-column form-group pr-2">
      <label for="input-name">{{'global.name' | translate}}</label>
      <input type="text" class="form-control" id="input-name" [(ngModel)]="data.job.name"
             name="name" required #name="ngModel"
             [ngClass]="{ 'is-invalid': !(name.valid || name.pristine) }">
      <div [hidden]="name.valid" class="form-text invalid-feedback">
        <span>{{ 'page.user.required-user-name-message' | translate }}</span>
      </div>
    </div>
    <div class="d-flex flex-column form-group">
      <label for="status">{{'global.status' | translate}}</label>
      <select class="form-control" [(ngModel)] = "data.job.status"
              name="status" id="status" #status="ngModel"
              [ngClass]="{ 'is-invalid': !(status.valid || status.pristine) }" required>
        <option *ngFor="let status of statuses" [value]="status">{{('status.'+status) | translate }}</option>
      </select>
      <div [hidden]="status.valid" class="form-text invalid-feedback">
        <div>{{'page.channel.required-channel-status-message' | translate}}</div>
      </div>
    </div>
  </div>
</form>
