<cloe-core-modal [modalTitle]="modalTitle">

  <form (ngSubmit)="onSubmit()" #unitForm = "ngForm">

    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="row">
            <div class="col-12 col-lg-8">
              <h5 class="card-title">{{'page.unit.unit-data' | translate}}</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 form-group">
              <label for="name">{{'global.name' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)] = "unit.name"
                     name="name" id="name" #name="ngModel"
                     [ngClass]="{ 'is-invalid': !(name.valid) }" required>
              <div [hidden]="name.valid" class="form-text invalid-feedback">
                <div>{{'page.unit.required-unitName-message' |
                  translate}}
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 form-group">
              <label for="symbol">{{'page.unit.symbol' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)] = "unit.symbol"
                     name="symbol" id="symbol" #symbol="ngModel"
                     [ngClass]="{ 'is-invalid': !(symbol.valid) }" required>
              <div [hidden]="symbol.valid" class="form-text invalid-feedback">
                <div>{{'page.unit.required-symbol-message' |
                  translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 form-group">
              <label for="angularCoefficient">{{'page.unit.angular_coefficient' | translate}}</label>
              <input type="number" step=any class="form-control"
                     [(ngModel)] = "unit.angularCoefficient" placeholder="__ . __"
                     name="angularCoefficient" id="angularCoefficient" #angularCoefficient="ngModel">
              <div [hidden]="angularCoefficient.valid" class="form-text invalid-feedback">
                <div>{{'page.unit.decimal-number-required' | translate}}</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 form-group">
              <label for="intercept">{{'page.unit.intercept' | translate}}</label>
              <input type="number" step=any class="form-control" [(ngModel)] = "unit.intercept"
                     name="intercept" id="intercept" #intercept="ngModel" placeholder="__ . __">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 form-group">
              <label for="scaleFactor">{{'page.unit.scaleFactor' | translate}}</label>
              <input type="number" step=any class="form-control" [(ngModel)] = "unit.scaleFactor"
                     name="scaleFactor" id="scaleFactor" #scaleFactor="ngModel" placeholder="__ . __">
            </div>
            <div class="col-md-6 col-sm-12 form-group">
              <label for="integratedEquivalentId">{{'page.unit.integratedEquivalentId' | translate}}</label>
              <input type="number" class="form-control" [(ngModel)] = "unit.integratedEquivalentId"
                     name="integratedEquivalentId" id="integratedEquivalentId" #integratedEquivalentId="ngModel">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 form-group">
              <label for="differentiatedEquivalentId">{{'page.unit.differentiatedEquivalentId' | translate}}</label>
              <input type="number" class="form-control" [(ngModel)] = "unit.differentiatedEquivalentId"
                     name="differentiatedEquivalentId" id="differentiatedEquivalentId" #differentiatedEquivalentId="ngModel">
            </div>
            <div class="col-md-6 col-sm-12 form-group">
              <label for="integrationTime">{{'page.unit.integrationTime' | translate}}</label>
              <input type="number" class="form-control" [(ngModel)] = "unit.integrationTime"
                     name="integrationTime" id="integrationTime" #integrationTime="ngModel">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 form-group">
              <label for="status">{{'global.status' | translate}}</label>
              <select class="form-control" [(ngModel)] = "unit.status"
                      name="status" id="status" #status="ngModel"
                      [ngClass]="{ 'is-invalid': !(status.valid) }" required>
                <option *ngFor="let status of statuses" [value]="status">{{('status.'+status) | translate }}</option>
              </select>
              <div [hidden]="status.valid" class="form-text invalid-feedback">
                <div>{{'page.unit.required-unit-status-message' | translate}}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button
        [disable]="!unitForm.form.valid"
        buttonType="submit"
        size="lg"
        text="{{'global.save' | translate}}"
        customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
    </div>
  </form>

</cloe-core-modal>


