<cloe-core-modal [modalTitle]="modalTitle">
  <form (ngSubmit)="onSubmit()" #menuForm="ngForm">

    <!--ROW-->
    <div class="row">
      <!--NAME-->
      <div class="col-md-6 col-sm-12">
        <label for="input-name">{{'global.name' | translate}}</label>
        <input class="form-control" id="input-name" name="name"
               #name="ngModel" type="text" [(ngModel)]="menu.name"
               [ngClass]="{ 'is-invalid': !(name.valid || name.pristine) }" required>
        <div [hidden]="name.valid" class="form-text invalid-feedback">
          <small>{{'page.menu.name-required' | translate}}</small>
        </div>
      </div>

      <!--STATUS-->
      <div class="col-md-5 col-sm-12">
        <label for="status">{{ 'global.status' | translate}}</label>
        <select class="form-control" [(ngModel)]="menu.status"
                id="status" name="menuStatus" #menuStatus="ngModel"
                [ngClass]="{ 'is-invalid': !(menuStatus.valid || menuStatus.pristine) }" required>
          <option *ngFor="let type of statuses" [value]="type">
            {{type}}
          </option>
        </select>
        <div [hidden]="menuStatus.valid" class="form-text invalid-feedback">
          <span>{{'validation.generic.required' | translate}}</span>
        </div>
      </div>

      <!--OPENED-->
      <div class="col-md-1 col-sm-12">
        <label for="toggle-1">{{'page.menu.opened' | translate}}</label>
        <div class="d-flex align-item-center mb-3">
          <div class="px-gdn-toggle">
            <input #openedToggle="ngModel" [(ngModel)]="menu.opened"
                   class="form-control" name="openedToggle"
                   id="toggle-1" type="checkbox">
            <label class="label-default" for="toggle-1"></label>
          </div>
        </div>
      </div>

    </div>

    <!--ROW-->
    <div class="row">
      <!--STATE-->
      <div class="col-md-6 col-sm-12">
        <label for="input-ngState">{{'page.menu.ng-state' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="menu.ngState"
               name="ngState" #ngState="ngModel" id="input-ngState"
               [ngClass]="{ 'is-invalid': !(ngState.valid || ngState.pristine) }" required>
        <div [hidden]="ngState.valid" class="form-text invalid-feedback">
          <small>{{'validation.generic.required' | translate}}</small>
        </div>
      </div>

      <!--URL-->
      <div class="col-md-6 col-sm-12">
        <label for="input-url">{{'page.menu.url' | translate}}</label>
        <input #url="ngModel" [(ngModel)]="menu.externalUrl"
               class="form-control" name="url"
               id="input-url" type="text"
               [ngClass]="{ 'is-invalid': !(url.valid || url.pristine) }" required>
        <div [hidden]="url.valid" class="form-text invalid-feedback">
          <small>{{'validation.generic.required' | translate}}</small>
        </div>
      </div>

    </div>

    <!--ROW-->
    <div class="row">
      <!--ICON CODE-->
      <div class="col-md-6 col-sm-12">
        <label for="input-icon-code">{{'page.menu.icon-code' | translate}}</label>
        <input #iconCode="ngModel" class="form-control" name="iconCode"
               id="input-icon-code" type="text" [(ngModel)]="menu.iconCode">
      </div>

      <!--ICON CLASS-->
      <div class="col-md-6 col-sm-12">
        <label for="input-icon-class">{{'page.menu.icon-class' | translate}}</label>
        <input #iconClass="ngModel" class="form-control" name="iconClass"
               id="input-icon-class" type="text" [(ngModel)]="menu.iconClass">
      </div>

    </div>

    <div class="row">

      <!--DESCRIPTION-->
      <div class="col-sm-12">
        <div class="form-group">
          <label for="text-area">{{'page.menu.description' | translate}}</label>
          <textarea [(ngModel)]="menu.description" class="form-control"
                    id="text-area" rows="2" name="menuDescription"
                    #menuDescription="ngModel" type="text"></textarea>
        </div>
      </div>
    </div>

    <!--SAVE-->
    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button [text]="'global.cancel'"
                   (click)="modalRef.close(false)"
                   customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
      <cloe-core-button buttonType="submit"
                   [disable]="!menuForm.form.valid"
                   [outline]="true"
                   text="global.save"
                   customClass="px-gdn-btn-outline card-bg"></cloe-core-button>
    </div>

  </form>
</cloe-core-modal>


