@import "../../../../styles/variables";

cloe-core-breadcrumb {
  .breadcrumb {
    padding: 0 0 0 1rem;
    margin: 0;
  }
  .breadcrumb-item + .breadcrumb-item:before {
    content: "> ";
    color: $cloe-white;
  }

  .breadcrumb-item:last-child a {
    font-weight: bold;
  }

  .fa-industry {
    padding-right: 1rem;
  }

  .breadcrumb-item a {
    color: $cloe-white;
  }
}
