<ol class="breadcrumb">
  <li *ngFor="let breadcrumb of breadcrumbs"
      class="breadcrumb-item">
    <a [uiSref]="breadcrumb.stateName" [uiParams]="breadcrumb.params">
      {{ breadcrumb.label | translate}}
    </a>
  </li>
</ol>
