@import '../../../../../../../cloe-ng-core/src/styles/variables';

cloe-formula-button {
  .formula-btn {
    display: inline-flex;
    align-items: center;
    color: $cloe-white;
    background: $primary-color;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    min-width: 55px;
    justify-content: center;
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
    cursor: pointer;

    &:hover .formula-btn__name {
      font-weight: bold;
    }

    &.inserted {
      background: $green;
      .formula-btn__icon {
        background: $green;
      }
    }
  }

  .formula-btn__icon {
    line-height: 1rem;
    padding: 0 0 0 0.4rem;
    cursor: pointer;
    &:hover {
      i {
        font-weight: bold;
        color: $yellow;
      }
    }
  }
}
