<div class="formula-btn" (click)="insertFormula()">
  <span class="formula-btn__name" container="body" placement="top" [ngbTooltip]="formula.description">
    {{formula.name}}
  </span>
  <span
    *ngIf="editable"
    class="formula-btn__icon badge badge-primary"
    (click)="editFormula($event)"
  >
    <i class="fa fa-edit"></i>
  </span>
</div>

