<cloe-core-box boxTitle="{{'page.home.boxes.line-rate-title' | translate}}">
  <div class="chart-wrap position-relative">
    <div echarts [options]="chartOptions" class="line-rate-chart"></div>
    <span class="chart-text">
      {{'page.home.boxes.target-date' | translate}}
      <br>
      <span>{{yesterday | cloeDate}}</span>
    </span>
  </div>

</cloe-core-box>
