cloe-line-rate-box {
  .line-rate-chart {
    height: 300px;
  }

  .chart-text {
    position: absolute;
    bottom: 40%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 0.8em;
    font-weight: bold;
  }
}
