<div class="side-nav">
  <div class="logo">
    <a uiSref="home">
      <img [src]="personalLogo" style="max-height: 150px; max-width: 200px">
    </a>
  </div>
  <div class="divider"></div>

  <cloe-core-sofu-menu
    class="menu"
    [menuModel]="menuModel"
    [smallMenu]="isSmallMenuMode"
    (collapse)="isMenuCollapsed = $event">
  </cloe-core-sofu-menu>
</div>
