@import '../../../styles/elevation';
@import '../../../styles/variables';

cloe-core-page-logged {
  .application {
    height: 100%;
    padding-left: 250px;
    transition: padding-left 0.3s ease;
    &.small-nav {
      .side-nav {
        width: 95px;
        .logo {
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease, visibility 0s linear 0.3s;
        }
        .user-info {
          .name,
          .status {
            opacity: 0;
            transition: opacity 0.3s ease;
          }
        }
        .divider {
          opacity: 0;
        }
      }
    }
    &.small-nav-mode {
      padding-left: 95px;
    }
    &.overlay-nav {
      padding-left: 0;
    }
    &.closed-nav {
      padding-left: 0;
      .side-nav {
        transform: translateX(-110%);
      }
    }
    &.fixed-header {
      header {
        position: fixed;
        left: 250px;
        right: 0;
        transition: left 0.3s ease;
      }
      .main-content {
        padding-top: 77px;
      }
      &.small-nav-mode {
        header {
          left: 95px;
        }
      }
      &.closed-nav {
        header {
          left: 0;
        }
      }
    }
    @media screen and (max-width: 400px) {
      overflow-x: hidden;
    }
    .side-nav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 250px;
      background: $cloe-gray-darker;
      transition: width 0.3s ease, transform 0.3s ease;
      z-index: 2001;
      .back-btn {
        position: absolute;
        left: 25px;
        top: 10px;
        cursor: pointer;
        .material-icons {
          font-size: 30px;
          color: black;
        }
      }
      .logo {
        text-align: center;
        line-height: 75px;
        background: $body-bg;
        border-bottom: 2px solid $primary-color;
        transition: opacity 0.3s ease;
        a {
          text-decoration: inherit;
          font-family: Raleway, sans-serif;
          letter-spacing: 0.05em;
          font-size: 30px;
          color: #fefefe;
          font-weight: 300;
          display: block;

          img {
            width: 80%;
          }
        }
      }
      .user-info {
        color: #ffffff;
        padding-left: 100px;
        position: relative;
        height: 55px;
        img {
          position: absolute;
          width: 55px;
          height: 55px;
          left: 23px;
          top: 50%;
          transform: translateY(-50%);
        }
        .name {
          font-size: 18px;
          white-space: nowrap;
          transition: opacity 0.3s ease;
        }
        .status {
          transition: opacity 0.3s ease;
        }
      }
      .divider {
        height: 2px;
        background-color: rgba(#000000, 0.08);
        margin-bottom: 10px;
        transition: opacity 0.3s ease
      }
      .menu {
        height: calc(100% - 120px);
      }
    }
    header {
      background-color: $cloe-white;
      height: 75px;
      z-index: $zindex-header;
      box-sizing: content-box;
      border-bottom: 2px solid $primary-color;
      .menu {
        padding: 0 35px;
        i {
          color: $cloe-black;
          cursor: pointer;
        }
      }
      .user-avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      .dropdown-menu {
        left: -150px;
        &.show {
          top: -27px !important;
        }
        .dropdown-header {
          height: 55px;
          i:hover {
            color: $primary-color;
            transition: color 0.2s ease;
          }
        }
      }
    }
    .main-content {
      min-height: calc(100% - 75px);
      min-width: 225px;
      @media screen and (max-width: 500px) {
        padding: 16px 0;
      }
      > div {
        height: 100%;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
