<div class="application fixed-header" [ngClass]="{'closed-nav': isMenuClosed}">

  <cloe-core-header [(isMenuClosed)]="isMenuClosed"></cloe-core-header>

  <div class="main-content">
    <ui-view></ui-view>
  </div>

  <cloe-core-sidebar [(isMenuClosed)]="isMenuClosed" [menuModel]="menu"></cloe-core-sidebar>
</div>
