<div [ngSwitch]="loadTreeStateMode">
  <ng-container *ngSwitchCase="true">
    <ng-container *ngTemplateOutlet="loadTreeState"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="false">
    <ng-container *ngTemplateOutlet="renameTreeState"></ng-container>
  </ng-container>
</div>

<div class="d-flex flex-nowrap align-items-center new-state-label pt-1">
  <i class="d-flex fa m-1 fa-plus ng-star-inserted"></i>
  <div
    class="d-flex"
    (click)="newStateClosed=!newStateClosed">
    {{ 'page.channel-tree-view.new-tree-state' | translate }}
  </div>
</div>

<div class="new-state-form"
     [ngClass]="{ 'new-state-opened': !newStateClosed }">
  <form #treeStateForm="ngForm" id="treeStateForm">
    <div class="d-flex align-items-center">
      <div class="d-flex flex-grow-1">
        <div class="d-flex flex-column input-container">
          <input type="text" class="form-control" [(ngModel)]="newState.metadataKey"
                 id="name" name="name" #name="ngModel" required>
        </div>
      </div>
      <div class="d-flex flex-nowrap flex-grow-0 align-self-end">
        <i
          class="material-icons p-1"
          (click) = "onSubmit(treeStateForm)"
          [ngClass]="{ 'new_state_mode_valid': name.valid }">check</i>
      </div>
    </div>
  </form>
</div>

<hr/>

<ng-template #loadTreeState>
  <!-- LOAD TREE STATE -->
  <div class="d-flex align-items-center">
    <div class="d-flex flex-grow-1">
      <div class="d-flex flex-column input-container">
        <label class="d-flex" for="load_tree_state">{{'page.channel-tree-view.load-tree-state' | translate}}</label>
        <select id="load_tree_state" class="form-control d-flex"
                (change)="onLoadTreeState()" [(ngModel)]="selectedState" [compareWith]="compareFn">
          <option *ngFor="let metadataState of treeStates" [ngValue]="metadataState">
            {{metadataState.metadataKey | translate}}
          </option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-nowrap flex-grow-0 align-self-end">
      <i class="material-icons m-1"
         (click)="onRename()">mode_edit</i>
      <i class="material-icons m-1"
         (click) = "onDeleteTreeState()">delete</i>
    </div>
  </div>
</ng-template>

<ng-template #renameTreeState>
  <!-- RENAME TREE STATE -->
  <div class="d-flex align-items-center">
    <div class="d-flex flex-grow-1">
      <div class="d-flex flex-column input-container">
        <label class="d-flex" for="rename">{{'page.channel-tree-view.rename-tree-state' | translate}}</label>
        <input type="text" class="form-control d-flex" [(ngModel)]="selectedState.metadataKey"
               id="rename" name="rename" #rename="ngModel" required>
      </div>
    </div>
    <div class="d-flex flex-nowrap flex-grow-0 align-self-end">
      <i
        class="material-icons p-1 rename_mode"
        (click) = "onOverwrite()">{{rename.valid ? 'check' : 'mode_edit'}}</i>
      <i
        class="material-icons p-1"
        (click) = "onClearRename()"
        [ngClass]="{ 'rename_mode_valid': rename.valid }">clear</i>
    </div>
  </div>
</ng-template>
