@import "../../../../../styles/variables";

cloe-core-tree-states {
  .material-icons {
    cursor: pointer;
    &.rename_mode {
      color: $primary-color;
    }
    &.new_state_mode_valid {
      color: $primary-color;
    }
  }
  .input-container {
    flex-basis: 100%;
  }
  .new-state-label {
    color: $primary-color;
    font-size: $xSmall-font-size;
    margin-bottom: 0.3rem;
    cursor: pointer;
  }
  .new-state-form {
    display: none;
    &.new-state-opened {
      display: block;
    }
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $cloe-gray-light;
    margin: 1em 0;
    padding: 0;
  }
}
