@import '../../../../../../cloe-ng-core/src/styles/variables';

cloe-heat-map {
  .heat-map-container {
    background: $cloe-gray-light;
    padding: 1rem;
  }

  .chart-actions {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: bold;
  }

  .heat-map-title {
    color: $cloe-black;
  }

  .toggleActive {
    color: $primary-color;
  }

  .dropdown-item {
    cursor: pointer;
  }
}
