<div class="heat-map-container">
  <div class="row heat-map-title" [ngSwitch]="carpetPlotType">
    <ng-container *ngSwitchCase="carpetPlotsTypes.BY_MEASURE">
      <ng-container *ngTemplateOutlet="headerByMeasure"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="carpetPlotsTypes.BY_PERIOD">
      <ng-container *ngTemplateOutlet="headerByPeriod"></ng-container>
    </ng-container>
    <div class="chart-actions position-absolute" style="right: 0">
      <i class="chart-actions__icon fa fa-area-chart"></i>
      <span>{{ 'chart.chart-actions' | translate }}</span>
      <div ngbDropdown class="dropdown-no-toggle" placement="left-top">
        <i class="material-icons" ngbDropdownToggle>keyboard_arrow_down</i>
        <div ngbDropdownMenu>
          <button
            class="dropdown-item"
            [disabled]="action.disabled"
            [ngClass]="{toggleActive: action.toggleActive}"
            *ngFor="let action of graphActions"
            (click)="handleAction(action)">
            <i class="chart-legend__icon fa {{action.icon}}"></i>
            {{action.label | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="max-height: 550px;width: 100%;height: 96vh;"
         [id]="heatMap.divId" echarts></div>
  </div>
</div>

<ng-template #headerByMeasure>
  <div class="col-lg-11 col-sm-11">
    <label>{{'global.channel' | translate}}: </label>
    {{integrateSymbol()}}{{heatMap.channelName}} ({{getSymbol()}}) [{{heatMap.channelPath}}]
  </div>
</ng-template>

<ng-template #headerByPeriod>
  <div class="row" style="width: 80%">
    <div class="col-lg-6 col-sm-6">
      <label>{{'period-type.timeRange' | translate}}: </label>
      {{heatMap.periodSelection.startDate | cloeDate}} - {{heatMap.periodSelection.endDate | cloeDate}}
    </div>
    <div class="col-lg-3 col-sm-6">
      <label>{{'period-type.rangeType' | translate}}: </label>
      {{'period-type.' + heatMap.periodSelection.rangeType | translate}}
    </div>
    <div class="col-lg-2 col-sm-6">
      <label>{{'period-type.granularity' | translate}}: </label>
      {{'period-type.' + heatMap.periodSelection.periodType | translate}}
    </div>
    <div *ngIf="heatMap.integrated" class="col-lg-1 col-sm-6">
      [I]
    </div>
  </div>
</ng-template>
