<div class="d-flex flex-wrap">
  <div class="d-flex flex-column form-group pr-2 flex-basis-25">
    <label for="oldPassword">{{'component.change-password.old-password' | translate}}</label>
    <input type="password" class="form-control"
           id="oldPassword" [(ngModel)]="passwordDTO.oldPassword" (ngModelChange)="writeValue(passwordDTO)"
           name="oldPassword" #oldPassword="ngModel" required
           [ngClass]="{ 'is-invalid': !(oldPassword.valid || oldPassword.pristine) }">
    <div [hidden]="oldPassword.valid" class="form-text invalid-feedback">
      <span>{{ 'validation.generic.required' | translate }}</span>
    </div>
  </div>
  <div class="d-flex flex-column form-group pr-2 flex-basis-25">
    <label for="newPassword">{{'component.change-password.new-password' | translate}}</label>
    <input type="password" class="form-control"
           id="newPassword" [(ngModel)]="passwordDTO.newPassword" (ngModelChange)="writeValue(passwordDTO)"
           name="newPassword" #newPassword="ngModel" required
           [ngClass]="{ 'is-invalid': !(newPassword.valid || newPassword.pristine) }">
    <div [hidden]="newPassword.valid" class="form-text invalid-feedback">
      <span>{{ 'validation.generic.required' | translate }}</span>
    </div>
  </div>
  <div class="d-flex flex-column form-group pr-2 flex-basis-25">
    <label for="repeatPassword">{{'component.change-password.repeat-password' | translate}}</label>
    <input type="password" class="form-control"
           id="repeatPassword" [(ngModel)]="passwordDTO.repeatPassword" (ngModelChange)="writeValue(passwordDTO)"
           name="repeatPassword" #repeatPassword="ngModel" required
           [ngClass]="{ 'is-invalid': !(repeatPassword.valid || repeatPassword.pristine) }">
    <div [hidden]="repeatPassword.valid" class="form-text invalid-feedback">
      <span>{{ 'validation.generic.required' | translate }}</span>
    </div>
  </div>
</div>
