<div style="{{miniMode}}" id="{{metadata}}" title="{{uploadType}}" class="card-body">

  <form [formGroup]="uploadForm">

    <!--ROW: uploadType and file-->
    <div class="row no-gutters">

      <!--DROPDOWN MENU-->
      <div class="col-sm-4" *ngIf="!miniMode" style="min-width: 200px;">
        <h5 class="card-title">{{ 'component.upload.document-type' | translate}}</h5>
        <div class="d-inline-block mb-3 dropdown" ngbDropdown>

          <select #fType ngbDropdownToggle class="btn btn-outline-primary dropdown-toggle"
                  formControlName="uploadType">
            <option ngbDropdownMenu class="dropdown-item" style="background-color: white"
                    *ngFor="let type of uploadTypes" [ngValue]="type">
              {{type}}
            </option>
          </select>

          <div class="text-danger" *ngIf="!(fType.value || uploadType)">
            <small>{{'component.upload.type-required' | translate}}</small>
          </div>
        </div>
      </div>

      <!--FILE INPUT-->
      <div class="col-sm-8" style="min-width: 250px;">
        <h5 class="card-title">{{ uploadTitle | translate}}</h5>
        <div class="custom-file">
          <input multiple formControlName="fileToUpload" id="fileToUpload"
                 (change)="setFile($event.target.files)" type="file" class="custom-file-input">
          <label for="fileToUpload" class="custom-file-label px-3">
            {{ !file ? (uploadPlaceholder | translate): file.name}}</label>
        </div>
        <div class="text-danger" *ngIf="uploadForm.controls['fileToUpload'].invalid">
          <small>{{'component.upload.file-required' | translate}}</small>
        </div>
      </div>
    </div>

    <br>
    <div *ngIf="metadata">
      <h5 class="card-title mb-3">Metadata</h5>
      <div class="dropdown-divider mb-3"></div>
    </div>
    <br>


    <!--ROW: METADATA-->
    <div *ngIf="metadata" class="row">

      <!--KEY-->
      <div class="col-sm-4">
        <label for="newMetaDataKey">{{ 'global.key' | translate}}</label>
        <input #newMetaDataKey formControlName="newMetaDataKey" id="newMetaDataKey"
               type="text" class="form-control">
        <div class="text-danger" *ngIf="uploadForm.controls['newMetaDataKey'].invalid">
          <small>{{'component.upload.key-required' | translate}}</small>
        </div>
      </div>

      <!--VALUE-->
      <div class="col-sm-4">
        <label for="newMetaDataValue">{{ 'global.value' | translate}}</label>
        <input #newMetaDataValue formControlName="newMetaDataValue" id="newMetaDataValue"
               type="text" class="form-control">
        <div class="text-danger" *ngIf="uploadForm.controls['newMetaDataValue'].invalid">
          <small>{{'component.upload.value-required' | translate}}</small>
        </div>
      </div>

      <!--ACTION-->
      <div class="col">
        <label>{{ 'global.save' | translate}}</label>
        <div>
          <cloe-core-button [disable]="uploadForm.controls['newMetaDataKey'].invalid ||
                        uploadForm.controls['newMetaDataValue'].invalid"
                       (click)="addMetadata(newMetaDataKey.value, newMetaDataValue.value)"
                       icon="done" size="sm" text="global.add" type="success" buttonType="button">
          </cloe-core-button>
        </div>
      </div>
    </div>

    <!--ROW: METADATA LIST-->
    <div *ngIf="metadata" class="row" style="min-width: 250px;">
      <div class="col">
        <br>
        <div class="box">
          <div class="box-inner">
            <div *ngFor="let key of objectKeys(metaDataObj); let i = index">
              <div class="row" style="min-width: 250px;">
                <div class="col">{{key}}</div>
                <div class="col">{{metaDataObj[key]}}</div>
                <div class="col">
                  <cloe-core-button (click)="removeMetadata(key)"
                               icon="remove" size="sm" text="remove" type="danger">
                  </cloe-core-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--ROW: SAVE & SHOW DETAILS-->
    <div class="row justify-content-between no-gutters" *ngIf="!miniMode" style="min-width: 250px;">
      <div class="col">
        <cloe-core-button
          [disable]="(uploadForm.controls['uploadType'].invalid || uploadForm.controls['fileToUpload'].invalid)"
          (click)="onSubmit()"
          text="{{ 'global.save' | translate}}"></cloe-core-button>
      </div>
      <div class="col" *ngIf="!miniMode">
        <cloe-core-button type="light" style="float: right;"
                     (click)="seeDetails()"
                     *ngIf="details"
                     text="{{'component.upload.details' | translate}}"></cloe-core-button>
      </div>
    </div>

  </form>


  <!--INFO DOCUMENT-->
  <div *ngIf="show" class="box-inner" style="min-width: 250px; height: 200px;"><br>
    <h5 class="card-title">Info:</h5>
    <div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ 'global.document' | translate}}</th>
          <th scope="col">{{ 'component.upload.document-type' | translate}}</th>
          <th scope="col">{{ 'global.metadata' | translate}}</th>
          <th scope="col">{{ 'global.actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <th>{{file.name}}</th>
          <th>{{fileType || uploadType}}</th>
          <th>
            <div *ngFor="let key of objectKeys(metaDataObj); let i = index">
              {{i}}. {{key}} : {{metaDataObj[key]}}
            </div>
          <th>
            <cloe-core-button (click)="downloadOrViewFile('DOWNLOAD')" text="Scarica" icon="arrow_downward"
                         size="sm"></cloe-core-button>
            <cloe-core-button (click)="downloadOrViewFile('VIEW')" text="Visualizza" icon="pageview"
                         size="sm"></cloe-core-button>
            <cloe-core-button (click)="deleteFile()" text="Elimina" icon="cancel" type="danger"
                         size="sm"></cloe-core-button>
          </th>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

