div.box {
  //width: 96%;
  height: 100px;
  //padding: 1px 0;
  font-size: 0.875rem;
}

div.box-inner {
  //width: 90%;
  height: 100px;
  overflow: auto;
  //margin:25px 24px 0;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 5px
}
