<cloe-core-modal [modalTitle]="modalTitle">

  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row mb-3">

      <div class="col-sm-6">
        <!-- NAME -->
        <label for="name">{{'global.name' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="customer.name"
               id="name" name="name" #name="ngModel"
               [ngClass]="{ 'is-invalid': !(name.valid || name.pristine) }" required>
        <div [hidden]="name.valid" class="form-text invalid-feedback">
          <span>{{'validation.generic.required' | translate}}</span>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- CUSTOMER CODE -->
        <label for="input-code">{{'page.customer.customer-code' | translate}}</label>
        <input type="text" class="form-control" [(ngModel)]="customer.customerCode"
               id="input-code" name="customerCode" #customerCode="ngModel"
               [ngClass]="{ 'is-invalid': !(customerCode.valid || customerCode.pristine) }" required>
        <div [hidden]="customerCode.valid" class="form-text invalid-feedback">
          <span>{{'validation.generic.required' | translate}}</span>
        </div>
      </div>

    </div>

    <div class="row mb-3">

      <div class="col-sm-6">
        <!-- STATUS -->
        <label for="status">{{'global.status' | translate}}</label>
        <select class="form-control" [(ngModel)]="customer.status"
                id="status" name="customerStatus" #customerStatus="ngModel"
                [ngClass]="{ 'is-invalid': !(customerStatus.valid || customerStatus.pristine) }" required>
          <option *ngFor="let status of statuses" [value]="status">{{('status.'+status) | translate }}</option>
        </select>
        <div [hidden]="customerStatus.valid" class="form-text invalid-feedback">
          <span>{{'validation.generic.required' | translate}}</span>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- THEME TEMPLATE -->
        <label for="theme-template">{{'page.customer.customer-template' | translate}}</label>
        <select class="form-control" [(ngModel)]="customer.themeTemplateId"
                id="theme-template" name="themeTemplate" #themeTemplate="ngModel"
                [ngClass]="{ 'is-invalid': !(themeTemplate.valid) }">
          <option *ngFor="let t of themeTemplates" [value]="t.id">{{t.name}}</option>
        </select>
        <div [hidden]="themeTemplate.valid" class="form-text invalid-feedback">
          <span>{{'validation.generic.required' | translate}}</span>
        </div>
      </div>

    </div>

    <div class="card">
      <div class="card-title">{{'page.customer.customer-logo' | translate}}</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3 card-body">
            <!-- LOGO -->
            <ng-template #logoNotExist>
              <ngb-alert
                [dismissible]="false"> <!-- TODO configurable notification component -->
                {{'page.customer.logoNotExist' | translate}}
              </ngb-alert>
            </ng-template>
            <div *ngIf="uploadedLogo; else logoNotExist">
              <img
                id="logo"
                [src]="uploadedLogo"
                class="img-thumbnail"
                alt="Logo"
                style="width: 100px; height: 100px; margin-top: 5px" />
            </div>
          </div>
          <div class="col-sm-5">
            <cloe-core-upload
              [miniMode]="true"
              [uploadType]="'IMAGE'"
              [uploadTitle]="''"
              [uploadPlaceholder]="'page.customer.customer-logo-placeholder'"
              (fileUploadedListener)="onFileSelected($event)">
            </cloe-core-upload>
          </div>
        </div>
      </div>
    </div>

    <!-- SAVE -->
    <div class="mt-4 d-flex justify-content-end">
      <cloe-core-button [text]="'global.cancel'"
                   (click)="modalRef.close(false)"
                   customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
      <cloe-core-button
        [disable]="!registerForm.form.valid"
        buttonType="submit"
        text="{{'global.save' | translate}}"
        customClass="px-gdn-btn-outline card-bg">
      </cloe-core-button>
    </div>
  </form>
</cloe-core-modal>


