<div class="card-title pt-2"><h6>{{ 'page.channel-site-tree.site-detail' | translate }}</h6></div>
<ng-container *ngIf="activeSite; else emptySite">
  <div class="d-flex">
    <div class="site-detail-field-container">
      <div>{{ activeSite.referObject.name }}</div>
      <label class="site-field-label">{{ 'global.name' | translate }}</label>
    </div>
    <div class="site-detail-field-container">
      <div>{{ activeSite.referObject.address }}</div>
      <label class="site-field-label">{{ 'global.address' | translate }}</label>
    </div>
  </div>
  <div class="d-flex">
    <div class="site-detail-field-container">
      <div>{{ activeSite.referObject.city.name }}</div>
      <label class="site-field-label">{{ 'component.site-picker.city' | translate }}</label>
    </div>
    <div class="site-detail-field-container">
      <div>{{ activeSite.referObject.city.province.name }}</div>
      <label class="site-field-label">{{ 'component.site-picker.province' | translate }}</label>
    </div>
  </div>
  <div class="d-flex">
    <div class="site-detail-field-container">
      <div>{{ activeSite.referObject.city.province.region.name }}</div>
      <label class="site-field-label">{{ 'component.site-picker.region' | translate }}</label>
    </div>
    <div class="site-detail-field-container">
      <div>{{ activeSite.referObject.city.province.region.country.name }}</div>
      <label class="site-field-label">{{ 'component.site-picker.country' | translate }}</label>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <cloe-core-button
      [icon]="'edit'"
      [isIconButton]="true" (clickEvent)="editSite(activeSite)"></cloe-core-button>
  </div>
</ng-container>
<div class="card-title pt-2"><h6>{{ 'page.channel-site-tree.channel-detail' | translate }}</h6></div>
<ng-container *ngIf="activeChannel; else emptyChannel">
  <div class="d-flex">
    <div class="site-detail-field-container">
      <div>{{ activeChannel.referObject.name }}</div>
      <label class="site-field-label">{{ 'global.name' | translate }}</label>
    </div>
    <div class="site-detail-field-container">
      <div>{{ activeChannel.referObject.readIdChannel }}</div>
      <label class="site-field-label">{{ 'page.channel.readIdChannel' | translate }}</label>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <cloe-core-button
      [icon]="'edit'"
      [isIconButton]="true" (clickEvent)="editChannel(activeChannel)"></cloe-core-button>
  </div>
  <div class="d-flex">
    <div class="site-detail-field-container">
      <div class="card-title d-flex pt-2"><h6>{{ 'page.channel-site-tree.combined-rates' | translate }}</h6></div>
      <ng-container *ngIf="getRangesByType('RATE') && getRangesByType('RATE').length > 0; else emptyRates">
        <div class="d-flex" *ngFor="let rate of getRangesByType('RATE')">
          <div class="site-detail-field-container">
            <div>{{ rate.name }}</div>
            <label class="site-field-label">{{ 'global.name' | translate }}</label>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="site-detail-field-container">
      <div class="card-title d-flex pt-2"><h6>{{ 'page.channel-site-tree.combined-profiles' | translate }}</h6></div>
      <ng-container *ngIf="getRangesByType('PROFILE') && getRangesByType('PROFILE').length > 0; else emptyProfiles">
        <div class="d-flex" *ngFor="let profile of getRangesByType('PROFILE')">
          <div class="site-detail-field-container">
            <div>{{ profile.name }}</div>
            <label class="site-field-label">{{ 'global.name' | translate }}</label>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #emptySite>
  <div class="site-detail-field-container">
    <label class="site-field-label">{{ 'page.channel-site-tree.no-site-selected' | translate }}</label>
  </div>
</ng-template>
<ng-template #emptyChannel>
  <div class="site-detail-field-container">
    <label class="site-field-label">{{ 'page.channel-site-tree.no-channel-selected' | translate }}</label>
  </div>
</ng-template>
<ng-template #emptyRates>
  <div class="site-detail-field-container">
    <label class="site-field-label">{{ 'page.channel-site-tree.no-rates-combined' | translate }}</label>
  </div>
</ng-template>
<ng-template #emptyProfiles>
  <div class="site-detail-field-container">
    <label class="site-field-label">{{ 'page.channel-site-tree.no-profiles-combined' | translate }}</label>
  </div>
</ng-template>
