@import "../../../../../../../dist/cloe-ng-core/styles/variables";

cloe-channel-site-tree-management-detail {
  .card-title h6, .site-field-label {
    color: $primary-color;
    font-weight: bold;
  }
  .site-detail-field-container {
    padding-right: 0.25rem;
    flex-grow: 1;
    max-width: 50%;
    flex-direction: column;
    display: flex;
  }
}
