<div class="form-group">
  <label *ngIf="name" for="{{name}}">{{label || name | translate}}</label>
  <input
    id="{{name}}"
    class="form-control"
    [style.background]="value"
    [(colorPicker)]="value"/>
</div>
