@import "../../../../../../dist/cloe-ng-core/styles/variables";

cloe-carpet-plot {
  .divider {
    height: 10px;
  }
  .flex-item {
    flex: 1 0 50%;
    min-width: 305px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .tab-body {
    padding: 0 !important;
  }
}
