<ul class="nav nav-tabs justify-content-start mt-3 tab-nav">
  <li *ngFor="let tab of tabs" class="nav-item">
    <a class="nav-link"
       uiSrefActive="active"
       [attr.tabindex]="getTabIndex(tab)"
       [uiSref]="tab.ngState"
       [uiParams]="tab.params">
      {{tab.name | translate}}
    </a>
  </li>
</ul>
<div class="p-3 tab-body">
  <ui-view></ui-view>
</div>

